<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />
<link rel="stylesheet" href="/static/fonts/family/iconfont.css">
<style type="text/css">
.iconfont{
font-size: 6vh;
color: rgb(68, 183, 211);
margin-left: 22px;
}
.typeface{
	color: #808080;
    font-family: 黑体;
    font-size: 16px;
    padding: 16px;
    padding-top: 20px;
}
.typeface1{
padding-bottom: 10px;
}
.number{
	font-size: 36px;
	color: rgb(68, 183, 211);
}
.icon{
margin-top: 16px;
}
</style>
<body>
<section class="content-header">
       <h1>公卫建设统计</h1>
    </section>
    <section class="content">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-diannao"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>慢病签约人员管理数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60001">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-dianhua"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>慢病签约人员随访数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60002"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-tuisong"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>个性化健康信息精准推送数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number"   id="V60016"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-fangzi1"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>上门服务人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60003"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="col-md-3"  >-->
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<!--<div class="box box-solid">-->
							<!--<div class="row">-->
								<!--<div class="col-md-3 icon">-->
									<!--<span class="iconfont icon-plywood"></span>-->
								<!--</div>-->
								<!--<div class="col-md-9">-->
									<!--<div class="row">-->
										<!--<div class="col-md-12 typeface">-->
											<!--<span>家庭病床建床数</span>-->
										<!--</div>-->
										<!--<div class="col-md-12 typeface1">-->
											<!--<span class="number">0</span>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
		<div class="row">
			<!--<div class="col-md-3"  >-->
					<!--<div class="row">-->
						<!--<div class="col-md-12">-->
							<!--<div class="box box-solid">-->
								<!--<div class="row">-->
									<!--<div class="col-md-3 icon">-->
										<!--<span class="iconfont icon-fangzi"></span>-->
									<!--</div>-->
									<!--<div class="col-md-9">-->
										<!--<div class="row">-->
											<!--<div class="col-md-12 typeface">-->
												<!--<span>专病小区专科诊疗数</span>-->
											<!--</div>-->
											<!--<div class="col-md-12 typeface1">-->
												<!--<span class="number">0</span>-->
											<!--</div>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->

			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-chufang"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>营养指导人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60004"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-wenjianjia"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>康复指导人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60005"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-bi"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>用药指导人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60006"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-rili"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>慢病长处方服务数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60007"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-chufangwaipei"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>签约居民体检人数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60008"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-xin-1"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>心脑血管高危人群筛查人数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60009"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-yan"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>肿瘤高危人群筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60010"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-diannao"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>骨质疏松高危人群筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60011"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-icon-test"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>COPD高危人群筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60012"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-ertong"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>儿童哮喘筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60013"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-icon1"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>健康自助监测评估数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60014"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-chaxun"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>CDSS心脑血管风险评估数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="V60015"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="icon iconfont icon-yimiao"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>预防接种接种建证率</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21019">100%</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="col-md-3"  >-->
				<!--<div class="row">-->
					<!--<div class="col-md-12">-->
						<!--<div class="box box-solid">-->
							<!--<div class="row">-->
								<!--<div class="col-md-3 icon">-->
									<!--<span class="iconfont icon-yiyuan"></span>-->
								<!--</div>-->
								<!--<div class="col-md-9">-->
									<!--<div class="row">-->
										<!--<div class="col-md-12 typeface">-->
											<!--<span>签约人员双向转诊数</span>-->
										<!--</div>-->
										<!--<div class="col-md-12 typeface1">-->
											<!--<span class="number" id="sxzz">52234</span>-->
										<!--</div>-->
									<!--</div>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		</div>
	</section>
    <div th:include="/qos/footer" />
    <script type="text/javascript">
		$(function () {
			initData();
			initSxzzData();
		});
		var eventIds = 'V60001,V60002,V60003,V60004,V60005,V60006,V60007,V60008,V60009,V60010,V60011,V60012,V60013,V60014,V60015,V60016';
		function initData() {
			$.postAjax('/home/page/qos/get/family/data',{'eventIds':eventIds},function (response) {

				let ids = eventIds.split(",");

				ids.forEach(function(id) {
					let s = "#"+id;
					$(s).text(response[id]);
				})

			})
		}

		function initSxzzData() {
			$.getAjax('/qos/count/referral/find/signing',function (data) {
				$("#sxzz").text(data);
			})
		}

    </script>
</body>

</html>