<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />
<link rel="stylesheet" href="/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.css" />

<body>
    <tt:constant enumcode="data-unit-type" />
    </section>
    <section class="content">
        <div class="box box-solid" style="margin-bottom: 5px">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select id="unitId" name="unitId" class="form-control tonto-select-constant" enumcode="data-unit-type">
                            <option value="">请选择医疗机构</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input id="createTime" name="date" placeholder="请输入时间" autocomplete="off" type="text" class="form-control" value="">
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
            </div>
        </div>
		<div class="row">
			<div class="col-md-7">
				<div class="row">
					<div class="col-md-12">
					<div class="box box-solid" style="margin-bottom: 5px">
						<div id="qylChart" class="box-body" style="height: 350px"></div>
					</div>
					</div>
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="box-body">
								<table id="dataGrid"></table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="row">
						<div class="col-md-4" style="padding-right: 0">
							<div class="box box-solid">
								<div id="cjrqqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
						<div class="col-md-4" style="padding-right: 0">
							<div class="box box-solid">
								<div id="gxyhzqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="box box-solid">
								<div id="tnbhzqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
					</div> 
					<div class="row">
						<div class="col-md-4" style="padding-right: 0">
							<div class="box box-solid">
								<div id="ycfqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
						<div class="col-md-4" style="padding-right: 0">
							<div class="box box-solid">
								<div id="zsetqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="box box-solid">
								<div id="lnrqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
					</div> 
					<div class="row">
						<div class="col-md-4" style="padding-right: 0">
							<div class="box box-solid">
								<div id="yzjszahzqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
						<div class="col-md-4" style="padding-right: 0">
							<div class="box box-solid">
								<div id="fjhhzqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
						<div class="col-md-4" >
							<div class="box box-solid">
								<div id="jbscgwryqylChart" class="box-body no-padding" style="height: 250px"></div>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</section>
    <div th:include="/qos/footer" />
	<script type="text/javascript" src="/static/js/chart.js"></script>
	<script src="/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <script type="text/javascript">
  	//<![CDATA[
	//图表自适应大小      
	 window.addEventListener("resize", function() {
		qylChart.resize();
		cjrqqylChart.resize();
	    tnbhzqylChart.resize();
	    gxyhzqylChart.resize();
	    ycfqylChart.resize();
	    zsetqylChart.resize();
	    lnrqylChart.resize();
	    yzjszahzqylChart.resize();
	    fjhhzqylChart.resize();
	    jbscgwryqylChart.resize();
	});
    
    
    var table, selectUnit, requestParams,dataVal;
    $(function() {
         laydate.render({
             elem: '#createTime',
             type: 'year',
             max:'nowTime',
             value:''
         });
        initTable(); 
    });
    var currentElement;

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医疗机构&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", field: "unitName"},
                    { title: "残疾人群签约率", field: "ev21021" },
                    { title: "高血压患者签约率", field: "ev21022" },
                    { title: "糖尿病患者签约率", field: "ev21023"},
                    { title: "孕产妇签约率", field: "ev21024" },
                    { title: "0-6周岁儿童签约率", field: "ev21025" },
                    { title: "65周岁及以上老年人签约率", field: "ev21026" },
                    { title: "严重精神障碍患者签约率", field: "ev21027" },
                    { title: "肺结核患者签约率", field: "ev21028" },
                    { title: "疾病筛查高危人员签约率", field: "ev21029" }
                ]
            ],
			url: '/qos/analysis/data/get/unit',
            pagination: false,
			height : 430,
			fixedColumns: true,
			fixedNumber: 1, //固定列数,
            searchbar: '#searchbar',
			clickToSelect: true,
			onClickRow: function(row, tr) {
				$("#dataGrid").find(".selected").removeClass('selected');
				$(tr).addClass('selected');
				unitSelected(row);
			},
			queryParams: function(params) {
				params.eventIds = '21021,21022,21023,21024,21025,21026,21027,21028,21029';
				requestParam = params;
				return params;
			},
			responseHandler: function(response) {
				if (!response) {
					return null;
				}

				var data = {};

				convertRate2TableData(response, '21021', data);
				convertRate2TableData(response, '21022', data);
				convertRate2TableData(response, '21023', data);
				convertRate2TableData(response, '21024', data);
				convertRate2TableData(response, '21025', data);
				convertRate2TableData(response, '21026', data);
				convertRate2TableData(response, '21027', data);
				convertRate2TableData(response, '21028', data);
				convertRate2TableData(response, '21029', data);

				var result = [];
				for (var o in data) {
					result.push(data[o]);
				}
				qylChartMethod(response);

				dataVal = data|| [];

				cjrqqylChartMethod();
				gxyhzqylChartMethod();
				tnbhzqylChartMethod();
				ycfqylChartMethod();
				zsetqylChartMethod();
				lnrqylChartMethod();
				yzjszahzqylChartMethod();
				fjhhzqylChartMethod();
				jbscgwryqylChartMethod();
				return result;
			}
        });
    }

    function unitSelected(row) {
		selectUnit = row.unitId;
		cjrqqylChartMethod();
		gxyhzqylChartMethod();
		tnbhzqylChartMethod();
		ycfqylChartMethod();
		zsetqylChartMethod();
		lnrqylChartMethod();
		yzjszahzqylChartMethod();
		fjhhzqylChartMethod();
		jbscgwryqylChartMethod();
	}

	function convertRate2TableData(originData, eventId, data) {
		var eventData = originData[eventId],
				fieldName = 'ev' + eventId,
				total = 0,
				event = 0;

		eventData && eventData.forEach(function(item) {
			var id = item.unitId;
			unitData = data[id];
			if (!unitData) {
				unitData = {
					unitId: id,
					unitName: item.unitName
				};
				data[id] = unitData;
			}
			unitData[fieldName] = getRate(item);
			total += item.totalNum;
			event += item.eventNum;
		});

		var totalData = data['total'];
		if (!totalData) {
			totalData = {
				unitId: 'total',
				unitName: '合计',
			}
			data['total'] = totalData;
		}
		totalData[fieldName] = getRate({
			totalNum: total,
			eventNum: event
		});
	}

	function getRate(item, fixed) {
		var a = item.eventNum,
				b = item.totalNum,
				c = 0;
		if (a && b) {
			c = a / b * 100;
		}
		return c.toFixed(fixed || 2) + '%';
	}

	function getRateNum(item, fixed) {
		var a = item.eventNum,
				b = item.totalNum,
				c = 0;
		if (a && b) {
			c = a / b * 100;
		}
		return c.toFixed(fixed);
	}

	function convertUnitChartData(data, eventId, isRate) {
		var edata = data[eventId],
				max = 0,
				unit = [],
				values = [];
		edata && edata.forEach(function(item) {
			var r = isRate ? getRateNum(item) : item.totalNum;
			max = Math.max(r, max);
			values.push(r);
			unit.push(item.unitName);
		});
		return {
			max: max,
			unit: unit,
			values: values
		}
	}


	var dataLegend = ['残疾人群签约率', '高血压患者签约率','糖尿病患者签约率', '孕产妇签约率','0-6周岁儿童签约率', '65周岁及以上老年人签约率', '严重精神障碍患者签约率', '肺结核患者签约率','疾病筛查高危人员签约率'];
    
    var qylChart= echarts.init(document.getElementById('qylChart'));
    function qylChartMethod(data){

		var ev21021 = convertUnitChartData(data, '21021', true);
		var ev21022 = convertUnitChartData(data, '21022', true);
		var ev21023 = convertUnitChartData(data, '21023', true);
		var ev21024 = convertUnitChartData(data, '21024', true);
		var ev21025 = convertUnitChartData(data, '21025', true);
		var ev21026 = convertUnitChartData(data, '21026', true);
		var ev21027 = convertUnitChartData(data, '21027', true);
		var ev21028 = convertUnitChartData(data, '21028', true);
		var ev21029 = convertUnitChartData(data, '21029', true);

		let orgData = ev21021.unit;

    		    var	option = {
   				    tooltip: {
						trigger: 'axis',
						formatter: function(params, ticket, callback) {
							var html = params[0].axisValueLabel + '：';
							for (var i = 0; i < params.length; i++) {
								var param = params[i];
								html += '<br/>' + param.marker + param.seriesName + '：' + param.value + '%';
							}
							return html;
						},
						axisPointer: {
							type: 'shadow'
						}
   				    },
   				    legend: {
   				        data: dataLegend,
   				        type: 'scroll',
   				        orient: 'horizontal',
   				        bottom: 10,
   				    },
   				    grid: {
   				        left: '0%',
   				        right: '0%',
   				        top: '5%',
   				        containLabel: true
   				    },
   				    xAxis: {
   				        type: 'category',
   				        axisLabel: {
    		                interval:0,
    		                rotate:50//角度顺时针计算的
    		                } ,
   				    	axisTick : {
   							alignWithLabel : true
   						},
   				         data: orgData
   				    },
   				    yAxis: {
   				        type: 'value',
   				        axisLabel: {
   		                    show:true,
   		                    formatter: '{value}%',//给Y轴数值添加百分号
   		                }
   				    },
    		    series : [
					{
					    name: '残疾人群签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#4a72c9'
					       }
					    },
					    data: ev21021.values
					},
					{
					    name: '高血压患者签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#6071c6'
					       }
					    },
					    data: ev21022.values
					},
					{
					    name: '糖尿病患者签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#78a9f2'
					       }
					    },
					    data: ev21023.values
					},
					{
					    name: '孕产妇签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#a3ccf8'
					       }
					    },
					    data: ev21024.values
					},
					{
					    name: '0-6周岁儿童签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#47b8e2'
					       }
					    },
					    data: ev21025.values
					},
					{
					    name: '65周岁及以上老年人签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#6087bf'
					       }
					    },
					    data: ev21026.values
					},
					{
					    name: '严重精神障碍患者签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#4a72c9'
					       }
					    },
					    data: ev21027.values
					},
					{
					    name: '肺结核患者签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#6071c6'
					       }
					    },
					    data: ev21028.values
					},
					{
					    name: '疾病筛查高危人员签约率',
					    type: 'bar',
					    barWidth : 4,
					    itemStyle : {
					       normal : {
							color: '#78a9f2'
					       }
					    },
					    data: ev21029.values
					},
    		    ]
    		};
    	qylChart.setOption(option,true);
    }
   
    var cjrqqylChart = echarts.init(document.getElementById('cjrqqylChart'));
    function cjrqqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
    	let ev21021 = total.ev21021;
		let index = ev21021.indexOf('%');
		let data = ev21021.substr(0,index);
    	var option = {
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21021+'\n'+'残疾人群签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
                        width: 30,
                        height: 40,
						fontSize: '140%',
						fontWeight : 'bolder',
                        fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'残疾人群签约率',
                        type:'pie',
                        radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'残疾人群签约率'
                            }
                        ]
                    }
                ]
            };
    	cjrqqylChart.setOption(option,true);
    }

    var gxyhzqylChart = echarts.init(document.getElementById('gxyhzqylChart'));
    function gxyhzqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21022 = total.ev21022;
		let index = ev21022.indexOf('%');
		let data = ev21022.substr(0,index);
    	var option = {
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21022 +'\n'+'高血压患者签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '130%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'高血压患者签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'高血压患者签约率'
                            }
                        ]
                    }
                ]
            };
    	gxyhzqylChart.setOption(option,true);
    } 
 
    var tnbhzqylChart = echarts.init(document.getElementById('tnbhzqylChart'));
    function tnbhzqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21023 = total.ev21023;
		let index = ev21023.indexOf('%');
		let data = ev21023.substr(0,index);
    	var option = {
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21023 +'\n'+'糖尿病患者签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '115%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'糖尿病患者签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'糖尿病患者签约率'
                            }
                        ]
                    }
                ]
            };
    	tnbhzqylChart.setOption(option,true);
    } 
    
    var ycfqylChart = echarts.init(document.getElementById('ycfqylChart'));
    function ycfqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21024 = total.ev21024;
		let index = ev21024.indexOf('%');
		let data = ev21024.substr(0,index);
    	var option = {
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21024+'\n'+'孕产妇签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '150%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'孕产妇签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'孕产妇签约率'
                            }
                        ]
                    }
                ]
            };
    	ycfqylChart.setOption(option,true);
    } 
    
    var zsetqylChart = echarts.init(document.getElementById('zsetqylChart'));
    function zsetqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21025 = total.ev21025;
		let index = ev21025.indexOf('%');
		let data = ev21025.substr(0,index);
    	var option = {
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21025+'\n'+'0~6周岁儿童签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '110%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'0~6周岁儿童签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'0~6周岁儿童签约率'
                            }
                        ]
                    }
                ]
            };
    	zsetqylChart.setOption(option,true);
    } 
    
    var lnrqylChart = echarts.init(document.getElementById('lnrqylChart'));
    function lnrqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21026 = total.ev21026;
		let index = ev21026.indexOf('%');
		let data = ev21026.substr(0,index);
    	var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21026+'\n'+'65周岁及以上老年人签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '80%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'65周岁及以上老年人签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'65周岁及以上老年人签约率'
                            }
                        ]
                    }
                ]
            };
    	lnrqylChart.setOption(option,true);
    } 
    
    var yzjszahzqylChart = echarts.init(document.getElementById('yzjszahzqylChart'));
    function yzjszahzqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21027 = total.ev21027;
		let index = ev21027.indexOf('%');
		let data = ev21027.substr(0,index);
    	var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21027+'\n'+'严重精神障碍患者签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '100%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'严重精神障碍患者签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'严重精神障碍患者签约率'
                            }
                        ]
                    }
                ]
            };
    	yzjszahzqylChart.setOption(option,true);
    } 

    var fjhhzqylChart = echarts.init(document.getElementById('fjhhzqylChart'));
    function fjhhzqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21028 = total.ev21028;
		let index = ev21028.indexOf('%');
		let data = ev21028.substr(0,index);
    	var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21028+'\n'+'肺结核患者签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '130%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'肺结核患者签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'肺结核患者签约率'
                            }
                        ]
                    }
                ]
            };
    	fjhhzqylChart.setOption(option,true);
    } 
    
    var jbscgwryqylChart = echarts.init(document.getElementById('jbscgwryqylChart'));
    function jbscgwryqylChartMethod(){
		let unitId = selectUnit || 'total';
		let total = dataVal[unitId];
		let ev21029 = total.ev21029;
		let index = ev21029.indexOf('%');
		let data = ev21029.substr(0,index);
    	var option = {
				color: ['#999999','#3398DB'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: ev21029+'\n'+'疾病筛查高危人员签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
						width: 30,
						height: 40,
						fontSize: '90%',
						fontWeight : 'bolder',
						fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'疾病筛查高危人员签约率',
                        type:'pie',
						radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
							{
								value:100-data,
								name:'',
								hoverAnimation:false,
								tooltip:{
									show:false,
								},
							},
							{
                                value:data,
                                name:'疾病筛查高危人员签约率'
                            }
                        ]
                    }
                ]
            };
    	jbscgwryqylChart.setOption(option,true);
    } 
    
  	//]]>
    </script>
</body>

</html>