<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="data-unit-type" />
<section class="content-header">
	<h1>签约服务就诊统计</h1>
</section>
<section class="content">
	<!--<div class="box box-solid" style="height: 45px;margin-bottom: 10px">-->
	<!--<div class="box-body no-pad-top">-->
	<!--<form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">-->
	<!--<div class="form-group">-->
	<!--<div class="col-md-2">-->
	<!--<div class="input-group"><input name="startTime" id="startTime" placeholder="请输入开始时间" value="2015-01-01" autocomplete="off" type="text" class="form-control tonto-datepicker-date" lay-key="1"></div>-->
	<!--</div>-->
	<!--<div class="col-md-2">-->
	<!--<div class="input-group"><input name="endTime" id="endTime" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date" lay-key="2"></div>-->
	<!--</div>-->
	<!--<div class="col-md-8">-->
	<!--<div class="pull-right">-->
	<!--<button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="refresh()"><i class="fa fa-search"></i>查询</button>-->
	<!--<button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<!--&lt;!&ndash; 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 &ndash;&gt;-->
	<!--<input type="text" style="display:none">-->
	<!--</form>-->
	<!--</div>-->
	<!--</div>-->
	<div class="row">
		<div class="col-md-7">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<!--<div class="col-md-4">-->
						<!--<div class="box box-solid">-->
						<!--<div id="ndfwyxlylChart" class="box-body" style="height: 300px"></div>-->
						<!--</div>-->
						<!--</div>-->
						<div class="col-md-6">
							<div class="box box-solid">
								<div id="qyjgmzjzlChart" class="box-body" style="height: 300px"></div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="box box-solid">
								<div id="qyysmzjzlChart" class="box-body" style="height: 300px"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box box-solid">
						<div class="box-body">
							<table id="dataGrid"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
						<div id="qyjmzxjzrcsChart" class="box-body" style="height: 400px"></div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box box-solid">
						<div id="qyjmjtysjzzsChart" class="box-body" style="height: 400px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
    //<![CDATA[
    //图表自适应大小
    window.addEventListener("resize", function() {
        //ndfwyxlylChart.resize();
        qyjgmzjzlChart.resize();
        qyysmzjzlChart.resize();
        qyjmzxjzrcsChart.resize();
        qyjmjtysjzzsChart.resize();
    });

    function unitSelected(row) {
        selectUnit = row.unitId;
    }


    var table, dataVal, requestParams,selectUnit,responseData;
    $(function() {
        refresh();
    });

    function refresh() {
        table ? table.refresh() : initTable();
        selectUnit=null;
    }

    function unitSelected(row) {
        selectUnit = row.unitId;
        qyysmzjzlChartMethod(responseData);
        qyjgmzjzlChartMethod(responseData);
        //ndfwyxlylChartMethod(responseData);
    }


    var currentElement;

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "&emsp;&emsp;&emsp;&emsp;医疗机构&emsp;&emsp;&emsp;&emsp;", field: "unitName" },
                    //{ title: "年度服务有<br/>效履约率", field: "a" },
                    { title: "签约居民中心<br/>就诊人次数", field: "event21003"},
                    { title: "签约居民就<br/>诊总次数", field: "total21003"},
                    { title: "签约机构门<br/>诊就诊率", field: "reat21003"},
                    { title: "签约居民家庭<br/>医生就诊总数", field: "event21004"},
                    { title: "签约居民中心<br/>就诊总次数", field: "total21004"},
                    { title: "签约医生<br/>就诊率", field: "reat21004"}
                ]
            ],
            url: '/qos/analysis/data/get/unit',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            height : 480,
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
                var s ='2000-01-01';
                params.startTime=s;
                params.eventIds = '21003,21004';
                params.ignoreUnitIds = '320583810343'
                requestParams = params;
                return params;
            },
            responseHandler: function(response) {
                if (!response) {
                    return null;
                }

                var data = {};

                convertCountTableData(response, '21003', data);
                convertCountTableData(response, '21004', data);

                var result = [];
                var event21003=0,total21003=0,reat21003=0,
                    total21004=0,event21004=0,reat21004=0;
                for (var o in data) {
                    event21003+=data[o].event21003;
                    total21003+=data[o].total21003;
                    event21004+=data[o].event21004;
                    total21004+=data[o].total21004;
                    result.push(data[o]);
                    if(o=='total'){
                        var a = 0;
                        data[o].event21003 = event21003;
                        data[o].total21003 = total21003;
                        if(event21003 && total21003){
                            a = event21003/total21003*100
                        }
                        data[o].reat21003 = a.toFixed(2)+'%';
                        var b = 0;
                        data[o].event21004 = event21004;
                        data[o].total21004 = total21004;
                        if(event21004 && total21004){
                            b = event21004/total21004*100
                        }
                        data[o].reat21004 = b.toFixed(2)+'%';
                    }
                }
                responseData =response;
                //ndfwyxlylChartMethod(response);
                qyjgmzjzlChartMethod(response);
                qyysmzjzlChartMethod(responseData);
                qyjmzxjzrcsChartMethod(responseData);
                qyjmjtysjzzsChartMethod(responseData);
                return result;
            }
        });
    }


    function convertCountTableData(originData, eventId, data) {
        var eventData = originData[eventId];
        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName,
                };
                data[id] = unitData;
            }
            if(eventId == '21003'){
                unitData['event21003'] = item.eventNum;
                unitData['total21003'] = item.totalNum;
                unitData['reat21003'] = getRate(item);
            }
            if(eventId == '21004'){
                if(item.eventNum>item.totalNum){
                    unitData['event21004'] = item.totalNum;
                    unitData['total21004'] = item.totalNum;
                }else{
                    unitData['event21004'] = item.eventNum;
                    unitData['total21004'] = item.totalNum;
                }
                unitData['reat21004'] = getRate(item);
            }
        });
        var totalData = data['total'];
        totalData = {
            unitId: 'total',
            unitName: '合计'
        }
        data['total'] = totalData;
        totalData['event21003'] = 0;
        totalData['total21003'] = 0;
        totalData['event21004'] = 0;
        totalData['total21004'] = 0;
    }

    function getRate(item, fixed) {
        var a = item.eventNum,
            b = item.totalNum,
            c = 0;
        if (a && b) {
            if(a>b){
                c=100;
            }else{
                c = a / b * 100;
            }

        }
        return c.toFixed(fixed || 2) + '%';
    }

    function convertUnitChartData(data, eventId, isRate) {
        var edata = data[eventId],
            max = 0,
            unit = [],
            values = [];
        edata && edata.forEach(function(item) {
            if (item.eventNum>item.totalNum){
                item.eventNum=item.totalNum;
            }
        });
        edata.sort(compare('eventNum'));
        edata && edata.forEach(function(item) {
            var r=0;
            if (item.eventNum>item.totalNum){
                var r = isRate ? item.totalNum : 0;
            }else{
                var r = isRate ? item.eventNum : 0;
            }
            max = Math.max(r, max);
            values.push(r);
            unit.push(item.unitName);
        });
        return {
            max: max,
            unit: unit,
            values: values
        };
    }

    var qyjmzxjzrcsChart = echarts.init(document.getElementById('qyjmzxjzrcsChart'));
    function qyjmzxjzrcsChartMethod(response){
        var ev21003= convertUnitChartData(response, '21003', true);
        var labelOption = {
            normal: {
                show: true,
                position: 'top',
                distance: 11,
                align: 'center',
                verticalAlign: 'top',
                rotate: 0,
                formatter: '{c}',
                fontSize: 11,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            }
        };
        option = {
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow'
                }
            },
            legend: {
                data:['签约居民中心就诊人次数']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    axisLabel: {
                        interval:0,
                        rotate:0,//角度顺时针计算的
                        formatter: function(value) {
                            var reg = new RegExp('社区卫生服务中心', "g");
                            return value.replace(reg, '');
                        }
                    } ,
                    data: ev21003.unit,
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],

            series : [
                {
                    name:'签约居民中心就诊人次数',
                    type:'bar',
                    barWidth: '60%',
                    label: labelOption,
                    data:ev21003.values
                }
            ]
        };
        qyjmzxjzrcsChart.setOption(option,true);
    }


    var qyjmjtysjzzsChart = echarts.init(document.getElementById('qyjmjtysjzzsChart'));
    function qyjmjtysjzzsChartMethod(response){
        var ev21004= convertUnitChartData(response, '21004', true);
        var labelOption = {
            normal: {
                show: true,
                position: 'top',
                distance: 11,
                align: 'center',
                verticalAlign: 'top',
                rotate: 0,
                formatter: '{c}',
                fontSize: 11,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            }
        };
        option = {
            color: ['#3398DB'],
            tooltip : {
                trigger: 'axis',
                axisPointer : {
                    type : 'shadow'
                }
            },
            legend: {
                data:['签约居民家庭医生就诊总数']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis : [
                {
                    type : 'category',
                    axisLabel: {
                        interval:0,
                        rotate:0,//角度顺时针计算的
                        formatter: function(value) {
                            var reg = new RegExp('社区卫生服务中心', "g");
                            return value.replace(reg, '');
                        }
                    } ,
                    data: ev21004.unit,
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value'
                }
            ],
            series : [
                {
                    name:'签约居民家庭医生就诊总数',
                    type:'bar',
                    barWidth: '60%',
                    label: labelOption,
                    data:ev21004.values
                }
            ]
        };
        qyjmjtysjzzsChart.setOption(option,true);
    }

    function convertChartData(data, eventId, isRate) {
        var eventData = data[eventId],
            unitPoints = eventData.unitPoints,
            valuesMap = {};
        var first = true;
        var total1 = 0,total2 = 0;
        eventData && eventData.forEach(function(unitPoint) {
            var unitId = unitPoint.unitId;
            var values = valuesMap[unitId];
            var eventNum=0;
            var totalNum=0;
            if (unitPoint.eventNum> unitPoint.totalNum ){
                eventNum=unitPoint.totalNum;
                totalNum=unitPoint.totalNum;
            }else{
                eventNum=unitPoint.eventNum;
                totalNum=unitPoint.totalNum;
            }
            var rate=0;
            if(eventNum && totalNum){
                rate=(eventNum/totalNum*100).toFixed(2);
            }
            if (!values) {
                values = {
                    eventNum:eventNum,
                    totalNum:totalNum,
                    rate:rate,
                    total:eventNum+totalNum
                };
                valuesMap[unitId] = values;
            }
            total1 += eventNum;
            total2 += totalNum;
            first = false;
        });
        var totalData = valuesMap['total'];
        if (!totalData) {
            var rate=0;
            if(total1 && total2){
                rate=(total1/total2*100).toFixed(2);
            }
            totalData = {
                unitId: 'total',
                unitName: '合计',
                eventNum:total1,
                totalNum:total2,
                rate:rate
            }
            valuesMap['total'] = totalData;
        }
        return valuesMap;

    }

    //年度服务有效履约率
    //var ndfwyxlylChart = echarts.init(document.getElementById('ndfwyxlylChart'));
    var ndfwyxlylChart;
    function ndfwyxlylChartMethod(response){
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: '0%'+'\n'+'年度服务有效履约率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 15,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'年度服务有效履约率',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:'0',
                            name:'年度服务有效履约率'
                        },
                        {
                            value:'1',
                            name:'',
                            hoverAnimation:false,
                            tooltip:{
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        ndfwyxlylChart.setOption(option,true);
    }

    var qyjgmzjzlChart = echarts.init(document.getElementById('qyjgmzjzlChart'));
    function qyjgmzjzlChartMethod(responseData){
        var unitId = selectUnit || 'total';
        var res=convertChartData(responseData, '21003', true);
        var value1 = 0;
        if(res[unitId].eventNum !=0 && res[unitId].totalNum !=0){
            value1 = res[unitId].eventNum;
        }

        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: res[unitId].rate+'%'+'\n'+'签约机构门诊就诊率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 15,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'签约机构门诊就诊率',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:  value1,
                            name:'签约机构门诊就诊率'
                        },
                        {
                            value:res[unitId].totalNum ==0?1:res[unitId].totalNum-res[unitId].eventNum,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        qyjgmzjzlChart.setOption(option,true);
    }

    var qyysmzjzlChart = echarts.init(document.getElementById('qyysmzjzlChart'));
    function qyysmzjzlChartMethod(responseData){
        var unitId = selectUnit || 'total';
        var res=convertChartData(responseData, '21004', true);
        var value1 = 0;
        if(res[unitId].eventNum !=0 && res[unitId].totalNum !=0){
            value1 = res[unitId].eventNum;
        }
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: res[unitId].rate+'%'+'\n'+'签约医生就诊率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 15,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'签约医生就诊率',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:value1,
                            name:'签约医生就诊率'
                        },
                        {
                            value:res[unitId].totalNum ==0?1:res[unitId].totalNum-res[unitId].eventNum,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        qyysmzjzlChart.setOption(option,true);
    }

    function compare(property){
        return function(a,b){
            var value1 = a[property];
            var value2 = b[property];
            return value2 - value1;
        }
    }
    //]]>
</script>
</body>

</html>