<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="region-type" />
    <section class="content-header">
       <h1>家庭医生团队统计</h1>
    </section>
    <section class="content">
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="teamChart" class="box-body" style="height: 350px">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="studioChart" class="box-body" style="height: 350px">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
			<div class="col-md-4">
				<div class="box box-solid">
					<div id="pieChart" class="box-body" style="height: 495px">
					</div>
				</div>
			</div>
    </section>
    <div th:include="/qos/footer" />
	<script type="text/javascript" src="/static/js/chart.js"></script>
    <script type="text/javascript">
  	//<![CDATA[
	//图表自适应大小      
	window.addEventListener("resize", function() {
		teamChart.resize();
		studioChart.resize();
		pieChart.resize();
	});
    
	
	 function unitSelected(row) {
		 debugger;
	        selectUnit = row.unitId;
	        pieChart1();
	    }
	
    var table, dataVal,dataAll, requestParams,selectUnit;
    $(function() {
    	regionTypes();
    	
         laydate.render({
             elem: '#createTime',
             type: 'year',
             max:'nowTime',
             value:''
         });
        initTable();
    });
    var currentElement;

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "&emsp;&emsp;&emsp;&emsp;&emsp;社区&emsp;&emsp;&emsp;&emsp;&emsp;", field: "unitName"},
                    { title: "团队数量", field: "teamNum"},
                    { title: "工作室数量", field: "studioNum"},
                    { title: "医生人数", field: "doctorNum"},
                    { title: "护士人数", field: "nurseNum" },
                    { title: "协调员人数", field: "healthCoordinatorNum"},
                    { title: "健康管理师人数", field: "healthManageNum"},
                    { title: "营养师人数", field: "dietitianNum"},
                    { title: "心理咨询师人数", field: "consultantNum"}
                ]
            ],
            url: '/qos/data/familydoctor/unit/find',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            height:475,
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
                requestParams = params;
                return params;
            },
            responseHandler: function(res) {
            	if (!res) {
                    return null;
                }
           	 	var data = {};
            	
            	dataVal = res || [];
            	if(dataVal){
            		var arr = [];
           			for(var i=0;i<dataVal.length;i++){
           				if (i == 0) arr.push(dataVal[i]);
           				b = false;
           				if (arr.length > 0 && i > 0) {
           					for(var j=0;j<arr.length;j++){
               					if(dataVal[i].unitId == arr[j].unitId){
               						if(dataVal[i].teamNum != 0)arr[j].teamNum = dataVal[i].teamNum;
               						if(dataVal[i].studioNum != 0)arr[j].studioNum = dataVal[i].studioNum;
               						if(dataVal[i].doctorNum != 0)arr[j].doctorNum = dataVal[i].doctorNum;
               						if(dataVal[i].nurseNum != 0)arr[j].nurseNum = dataVal[i].nurseNum;
               						if(dataVal[i].healthCoordinatorNum != 0)arr[j].healthCoordinatorNum = dataVal[i].healthCoordinatorNum;
               						if(dataVal[i].healthManageNum != 0)arr[j].healthManageNum = dataVal[i].healthManageNum;
               						if(dataVal[i].dietitianNum != 0)arr[j].dietitianNum = dataVal[i].dietitianNum;
               						if(dataVal[i].consultantNum != 0)arr[j].consultantNum = dataVal[i].consultantNum;
               					 	b = true;
               					}
               				}
           				 if (!b) {
                             arr.push(dataVal[i]);
                           }
           				}
           			}
            	}
            	
            	 convertCountTableData(arr, data);
            	 var result = [];
            	 for (var o in data) {
            		 result.push(data[o]);
            	 }
            	dataAll = result;
            	teamChart1();
            	studioChart1();
            	pieChart1();
                return result;
            }
        });
    }
    
    
    function convertCountTableData(originData, data) {
    	var teamNum=0,studioNum=0,doctorNum=0,nurseNum=0,healthCoordinatorNum=0,
    		healthManageNum=0,dietitianNum=0,consultantNum=0;
        var eventData = originData;
        eventData && eventData.forEach(function(item) {
        	teamNum+=item.teamNum;
        	studioNum+=item.studioNum;
        	consultantNum+=item.consultantNum;
        	doctorNum+=item.doctorNum;
        	nurseNum+=item.nurseNum;
        	healthCoordinatorNum+=item.healthCoordinatorNum;
        	healthManageNum+=item.healthManageNum;
        	dietitianNum+=item.dietitianNum;
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                data[id] = item;
            }
        });
         var totalData = data['total'];
            totalData = {
                unitId: 'total',
                unitName: '合计',
                teamNum:teamNum,
                studioNum:studioNum,
                doctorNum:doctorNum,
                nurseNum:nurseNum,
                healthCoordinatorNum:healthCoordinatorNum,
                healthManageNum:healthManageNum,
                dietitianNum:dietitianNum,
                consultantNum:consultantNum
            }
            data['total'] = totalData;
    }
    
    
    var teamChart = echarts.init(document.getElementById('teamChart'));
    function teamChart1(){
    	var dataSort = [];
    	var xAxisValue=[],seriesValue=[];
    	if(dataAll){
    		var region = regionType;
    		if(region){
    			 for (var i = 0; i < region.length; i++) {
            		 for(var j=0;j<dataAll.length;j++){
            			if(region[i].value == dataAll[j].unitId){
            				dataSort.push({name:region[i].name,value:dataAll[j].teamNum});
            				break;
            			}
            			if(j == dataAll.length-1){
            				dataSort.push({name:region[i].name,value:0});
     					}
            		 }
            	 }
            	 dataSort.sort(compare('value'));
            	 for (var i = 0; i < dataSort.length; i++) {
            		xAxisValue.push(dataSort[i].name);
     				seriesValue.push({name:dataSort[i].name,value:dataSort[i].value});
            	 }
    		}
    	}
    	
    	var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 12,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{c}',
                    fontSize: 12,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
    	
    	option = {
    		    color: ['#3398DB'],
    		    tooltip : {
    		        trigger: 'axis',
    		        axisPointer : {            
    		            type : 'shadow'        
    		        }
    		    },
    		    legend: {
    		        data:['团队数量']
    		    },
    		    grid: {
    		        left: '3%',
    		        right: '4%',
    		        bottom: '3%',
    		        containLabel: true
    		    },
    		    xAxis : [
    		        {
    		            type : 'category',
    		             axisLabel: {
    		                interval:0,
    		                rotate:50//角度顺时针计算的
    		                } , 
    		            data: xAxisValue,
    		            axisTick: {
    		                alignWithLabel: true
    		            }
    		        }
    		    ],
    		    yAxis : [
    		        {
    		            type : 'value'
    		        }
    		    ],
    		    series : [
    		        {
    		            name:'团队数量',
    		            type:'bar',
    		            barWidth: '60%',
    		            label: labelOption,
    		            data:seriesValue
    		        }
    		    ]
    		};
    	teamChart.setOption(option,true);
    }
    
    
    var studioChart = echarts.init(document.getElementById('studioChart'));
    function studioChart1(){
    	var dataSort = [];
    	var xAxisValue=[],seriesValue=[];
    	if(dataAll){
    		var region = regionType;
    		if(region){
    			for (var i = 0; i < region.length; i++) {
           		 for(var j=0;j<dataAll.length;j++){
           			if(region[i].value == dataAll[j].unitId){
           				dataSort.push({name:region[i].name,value:dataAll[j].studioNum});
           				break;
           			}
           			if(j == dataAll.length-1){
           				dataSort.push({name:region[i].name,value:0});
    					}
           		 }
           	 }
           	 dataSort.sort(compare('value'));
           	 for (var i = 0; i < dataSort.length; i++) {
           		xAxisValue.push(dataSort[i].name);
    				seriesValue.push({name:dataSort[i].name,value:dataSort[i].value});
           	 }
    		}
    	}
    	
    	var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 12,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{c}',
                    fontSize: 12,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
    	option = {
    		    color: ['#3398DB'],
    		    tooltip : {
    		        trigger: 'axis',
    		        axisPointer : { 
    		            type : 'shadow' 
    		        }
    		    },
    		    legend: {
    		        data:['工作室数量']
    		    },
    		    grid: {
    		        left: '3%',
    		        right: '4%',
    		        bottom: '3%',
    		        containLabel: true
    		    },
    		    xAxis : [
    		        {
    		            type : 'category',
    		             axisLabel: {
    		                interval:0,
    		                rotate:50//角度顺时针计算的
    		                } ,
    		            data: xAxisValue,
    		            axisTick: {
    		                alignWithLabel: true
    		            }
    		        }
    		    ],
    		    yAxis : [
    		        {
    		            type : 'value'
    		        }
    		    ],
    		    series : [
    		        {
    		            name:'工作室数量',
    		            type:'bar',
    		            barWidth: '60%',
    		            label: labelOption,
    		            data:seriesValue
    		        }
    		    ]
    		};
    	studioChart.setOption(option,true);
    }
    
    
    function convertChartData(data, isRate) {
    
        var eventData = data,
            valuesMap = {};
        	var first = true;
        eventData && eventData.forEach(function(unitPoint) {
            var unitId = unitPoint.unitId;
            var values = valuesMap[unitId];
            if (!values) {
              values = {
        		  teamNum:unitPoint.teamNum,
                  studioNum:unitPoint.studioNum,
                  doctorNum:unitPoint.doctorNum,
                  nurseNum:unitPoint.nurseNum,
                  healthCoordinatorNum:unitPoint.healthCoordinatorNum,
                  healthManageNum:unitPoint.healthManageNum,
                  dietitianNum:unitPoint.dietitianNum,
                  consultantNum:unitPoint.consultantNum
              };
              valuesMap[unitId] = values;
            }
            first = false;
        });
	return valuesMap;
        
    }
    
    
    var pieChart = echarts.init(document.getElementById('pieChart'));
    function pieChart1(){
    	debugger;
    	var unitId = selectUnit || 'total';
    	var res=convertChartData(dataAll, true);
    	var total= res[unitId].doctorNum+res[unitId].nurseNum+res[unitId].healthCoordinatorNum
    	+res[unitId].healthManageNum+res[unitId].dietitianNum+res[unitId].consultantNum;
    	
    	if(total == 0){
    		showChartInfo2(pieChart,'暂无数据显示');
    	}else{
    		option = {
        		    tooltip : {
        		        trigger: 'item',
        		        formatter: "{a} <br/>{b} : {c} ({d}%)"
        		    },
        		    series : [
        		        {
        		        	name: '',
        		            type: 'pie',
        		            radius : '70%',
        		            center: ['50%', '50%'],
        		            data:[
        		                {value:res[unitId].doctorNum,
        		                name:'医生',
        		                itemStyle : {
               	                    normal : {
               							color: '#a3ccf8'
               	                    }
    	  				           }
        		                },
        		                {value:res[unitId].nurseNum,
        		                name:'护士',
        		                itemStyle : {
                  	                    normal : {
                  							color: '#47b8e2'
                  	                    }
       	  				           }    		                
        		                	},
        		                {value:res[unitId].healthCoordinatorNum,
        		                name:'协调员',
        		                itemStyle : {
                  	                    normal : {
                  							color: '#6087bf'
                  	                    }
       	  				           }  
        		                },
        		                {value:res[unitId].healthManageNum,
        		                name:'健康管理师',
        		                itemStyle : {
                  	                    normal : {
                  							color: '#4a72c9'
                  	                    }
       	  				           }  
        		                },
        		                {value:res[unitId].dietitianNum,
        		                name:'营养师',
        		                itemStyle : {
                  	                    normal : {
                  							color: '#6071c6'
                  	                    }
       	  				           }  
        		                },
        		                {value:res[unitId].consultantNum,
        		                name:'心理咨询师',
        		                itemStyle : {
                  	                    normal : {
                  							color: '#78a9f2'
                  	                    }
       	  				           }  
        		                }
        		            ],
        		            itemStyle: {
        		                emphasis: {
        		                    shadowBlur: 10,
        		                    shadowOffsetX: 0,
        		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
        		                }
        		            }
        		        }
        		    ]
        		};
        	pieChart.setOption(option,true);
    	}
    	
    }
    
    
    var showChartInfo2 = function (healthTeacher, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle:{
                    color:'grey',
                    fontSize:20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            series: []
        };
        pieChart.clear() ;
        pieChart.hideLoading();
        pieChart.setOption(msgOption)
    };
    
    var regionType =[];
    function regionTypes(){
    	$.post('/qos/family/doctor/unit/find/all',function(res){
    		var result =res.result;
    		for (var i = 0; i < result.length; i++) {
            	var w=result[i].unit.indexOf("社");
            	var name =result[i].unit.substring(3, w);
            	regionType.push({name:name,value:result[i].id})
            }
    	})
    }
   
    function compare(property){
        return function(a,b){
            var value1 = a[property];
            var value2 = b[property];
            return value2 - value1;
        }
    }
  	//]]>
    </script>
</body>

</html>