<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />
<link rel="stylesheet"
      href="/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.css">
<body>
    <tt:constant enumcode="data-unit-type" />
    <section class="content-header">
        <h1>签约管理</h1>
    </section>
    <section class="content">
        <div class="box box-solid" style="height: 45px;margin-bottom: 10px">
            <div class="box-body no-pad-top">
                <form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group"><input name="year" id="year" placeholder="请输入年度" value="2018" autocomplete="off" type="text" class="form-control tonto-datepicker-year" lay-key="1" ></div>
                        </div>
                        <div class="col-md-10">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
            </div>
        </div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="jkglfwbqysChart" class="box-body" style="height: 350px">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="qygxhfwsChart" class="box-body" style="height: 350px">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
			<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div class="box box-solid">
					<div id="jkglqylChart" class="box-body" style="height: 237px">
					</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="box box-solid">
					<div id="gxhfwqylChart" class="box-body" style="height: 237px">
					</div>
					</div>
				</div>
			</div>
			</div>
		</div>
    </section>
    <div th:include="/qos/footer" />
	<script type="text/javascript" src="/static/js/chart.js"></script>
    <script src="/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <script type="text/javascript">
  	//<![CDATA[
	//图表自适应大小      
	window.addEventListener("resize", function() {
		jkglqylChart.resize();
		gxhfwqylChart.resize();
		jkglfwbqysChart.resize();
		qygxhfwsChart.resize();
	});
    
    
	 var table, monthChart, unitChart, requestParam, selectUnit,responseData,sumData,result;
	    $(function() {
	        refresh();
	    });

	    function refresh() {
	        table ? table.refresh() : initTable();
	        selectUnit=null;
	    }

	    function unitSelected(row) {
	        selectUnit = row.unitId;
	        jkglqylChart1(sumData);
	        gxhfwqylChart1(sumData)
	    }

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "<span style='display: inline-block;width:150px;height: 64px;text-align: center;line-height: 64px'>医疗机构</span>", field: "unitName" },
                    { title: "应签居民数", field: "totalV90001"},
                    { title: "健康管理服<br/>务包签约数", field: "number",
                        formatter: function(value, row, index) {
                         if (row.totalV90002 && row.totalV90003)
                                return row.totalV90003 + row.totalV90002;
                         else if(!row.totalV90002 && row.totalV90003)
                               return  row.totalV90003
                         else
                             return row.totalV90002
                        }
                    },
                    { title: "综合健康管理服务包<br/>签约率(免费)", field: "healthSignRateFree",
                        formatter: function(value, row, index) {
                            if(row.totalV90001==0){
                                return "0%"
                            }else{
                                return (row.totalV90003/row.totalV90001*100).toFixed(2) * 1+"%";
                            }
                        }
                    },
                    { title: "综合健康管理服务包<br/>签约率(收费)", field: "getHealthSignRate",
                        formatter: function(value, row, index) {
                            if(!row.totalV90002 || row.totalV90001==0){
                                return "0%"
                            }else{
                                return (row.totalV90002/row.totalV90001*100).toFixed(2) * 1+"%";
                            }
                        }
                    },
                    { title: "个性化服<br/>务签约数", field: "totalV90004"},
                    { title: "签约总数", field: "totalV90005"},
                    { title: "个性化服务<br/>签约率(收费)", field: "personalSignRate",
                        formatter: function(value, row, index) {
                            if(row.totalV90004==0){
                                return "0%"
                            }else{
                                var rate=row.totalV90004/row.totalV90005;
                                if(rate>1){
                                    return 1*100+"%";
                                }else{
                                    return (row.totalV90004/row.totalV90005*100).toFixed(2) * 1+"%";
                                }

                            }
                        }
                    }
                ]
            ],
            url: '/qos/sign/get/manage/data',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            // fixedColumns: true,//固定列
            // fixedNumber:1,
            height : 475,
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
            	params.eventIds = 'V90001,V90002,V90003,V90004,V90005';
                requestParams = params;
                return params;
            },
            responseHandler: function(response) {
            	 if (!response) {
                     return null;
                 }

            	 var data = {};

                 convertCountTableData(response, 'V90001', data);
                 convertCountTableData(response, 'V90002', data);
                 convertCountTableData(response, 'V90003', data);
                 convertCountTableData(response, 'V90004', data);
                 convertCountTableData(response, 'V90005', data);
                sumData = [];
                result=[];
                var number=0;
                var totalV90001=0;
                var totalV90002=0;
                var totalV90003=0;
                var totalV90004=0;
                var totalV90005=0;
                for (var o in data) {
                    sumData.push(data[o]);
                    result.push(data[o]);
                    if (data[o].totalV90002 && data[o].totalV90002){
                        number+=(data[o].totalV90002+data[o].totalV90003);
                        totalV90002+=data[o].totalV90002;
                        totalV90003+=data[o].totalV90003;
                    }else if(!data[o].totalV90002 && data[o].totalV90003){
                        number+=data[o].totalV90003;
                        totalV90002=0;
                        totalV90003+=data[o].totalV90003;
                    }else{
                        number+=data[o].totalV90002;
                        totalV90003=0;
                        totalV90002+=data[o].totalV90002;
                    }
                    totalV90001+=data[o].totalV90001;
                    totalV90004+=data[o].totalV90004;
                    totalV90005+=data[o].totalV90005;
                }

                var total={
                    "unitId" : "total",
                    "unitName" : "合计",
                    "totalV90001" :totalV90001,
                    "totalV90002":totalV90002,
                    "totalV90003" :totalV90003,
                    "totalV90004":totalV90004,
                    "totalV90005":totalV90005
                }

                sumData.push(total);
                 jkglfwbqysChart1(result);
                 qygxhfwsChart1(result);

                 jkglqylChart1(sumData);
                 gxhfwqylChart1(sumData);

                 return sumData;
            }
        });
    }
    
    function convertCountTableData(originData, eventId, data) {
        var eventData = originData[eventId];
        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName,
                };
                data[id] = unitData;
            }
            unitData['total'+eventId]=item.count;
        });

    }
    
    function getRate(a, b) {
        var   c = 0;
        if (a && b) {
            c = a / b * 100;
        }
        return c.toFixed(2) + '%';
    }
     

    var jkglfwbqysChart = echarts.init(document.getElementById('jkglfwbqysChart'));
    function jkglfwbqysChart1(data){
        var xLabel=[];
        var yData=[];
    	 for(var i=0;i<data.length;i++){

             if (data[i].totalV90002 && data[i].totalV90003)
                 yData.push(data[i].totalV90003 + data[i].totalV90002);
             else if(!data[i].totalV90002 && data[i].totalV90003)
                 yData.push(data[i].totalV90003);
             else
                 yData.push(data[i].totalV90002);
             xLabel.push(data[i].unitName.substring(0,data[i].unitName.length-8));

         }
    	 var labelOption = {
		            normal: {
		                show: true,
		                position: 'top',
		                distance: 11,
		                align: 'center',
		                verticalAlign: 'top',
		                rotate: 0,
		                formatter: '{c}',
		                fontSize: 11,
		                rich: {
		                    name: {
		                        textBorderColor: '#fff'
		                    }
		                }
		            }
		        };
    	option = {
    		    color: ['#3398DB'],
    		    tooltip : {
    		        trigger: 'axis',
    		        axisPointer : {            
    		            type : 'shadow'        
    		        }
    		    },
    		    legend: {
    		        data:['健康管理服务包签约数']
    		    },
    		    grid: {
    		        left: '3%',
    		        right: '4%',
    		        bottom: '3%',
    		        containLabel: true
    		    },
    		    xAxis : [
    		        {
    		            type : 'category',
    		            axisLabel: {
    		                interval:0,
    		                rotate:40//角度顺时针计算的
    		                } ,
    		            data: xLabel,
    		            axisTick: {
    		                alignWithLabel: true
    		            }
    		        }
    		    ],
    		    yAxis : [
    		        {
    		            type : 'value'
    		        }
    		    ],
    		    series : [
    		        {
    		            name:'健康管理服务包签约数',
    		            type:'bar',
    		            barWidth: '60%',
    		            label: labelOption,
    		            data:yData
    		        }
    		    ]
    		};
    	jkglfwbqysChart.setOption(option,true);
    }
    
    
    var qygxhfwsChart = echarts.init(document.getElementById('qygxhfwsChart'));
    function qygxhfwsChart1(data){
        var xLabel=[];
        var yData=[];
        for(var i=0;i<data.length;i++){
            xLabel.push(data[i].unitName.substring(0,data[i].unitName.length-8));
            yData.push(data[i].totalV90004)
        }
    	var labelOption = {
	            normal: {
	                show: true,
	                position: 'top',
	                distance: 11,
	                align: 'center',
	                verticalAlign: 'top',
	                rotate: 0,
	                formatter: '{c}',
	                fontSize: 11,
	                rich: {
	                    name: {
	                        textBorderColor: '#fff'
	                    }
	                }
	            }
	        };
    	option = {
    		    color: ['#3398DB'],
    		    tooltip : {
    		        trigger: 'axis',
    		        axisPointer : { 
    		            type : 'shadow' 
    		        }
    		    },
    		    legend: {
    		        data:['个性化服 务签约数']
    		    },
    		    grid: {
    		        left: '3%',
    		        right: '4%',
    		        bottom: '3%',
    		        containLabel: true
    		    },
    		    xAxis : [
    		        {
    		            type : 'category',
    		            axisLabel: {
    		                interval:0,
    		                rotate:40//角度顺时针计算的
    		                } ,
    		            data: xLabel,
    		            axisTick: {
    		                alignWithLabel: true
    		            }
    		        }
    		    ],
    		    yAxis : [
    		        {
    		            type : 'value'
    		        }
    		    ],
    		    series : [
    		        {
    		            name:'个性化服 务签约数',
    		            type:'bar',
    		            barWidth: '60%',
    		            label: labelOption,
    		            data:yData
    		        }
    		    ]
    		};
    	qygxhfwsChart.setOption(option,true);
    }
    

    var jkglqylChart = echarts.init(document.getElementById('jkglqylChart'));
    function jkglqylChart1(data){
    	var unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < data.length; i++) {
            if (unitId=='total'){
                total.push(data[i]);
            }else{
                if (data[i].unitId==unitId){
                    total.push(data[i]);
                }
            }
        }
    	var dataObject=total[total.length-1];
        var sum=0;
        if (dataObject.totalV90002 && dataObject.totalV90003)
            sum= dataObject.totalV90003 + dataObject.totalV90002;
        else if(!dataObject.totalV90002 && dataObject.totalV90003)
            sum=dataObject.totalV90003;
        else
            sum=dataObject.totalV90002;
        var rate=(sum/dataObject.totalV90001).toFixed(4);
    	var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                color: ['#3398DB','#999999'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: (rate*100).toFixed(2)+'%\n'+'健康管理服务包签约率',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
                        width: 30,
                        height: 30,
                        fontSize: 12,
                        fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'健康管理服务包签约率',
                        type:'pie',
                        radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
                            {
                                value:rate,
                                name:''
                            },
                            {
                                value:1-rate,
                                name:'invisible',
                                hoverAnimation:false,
                                tooltip:{
                                      show:false,
                                },
                            }
                        ]
                    }
                ]
            };
    	jkglqylChart.setOption(option,true);
    }
    
    var gxhfwqylChart = echarts.init(document.getElementById('gxhfwqylChart'));
    function gxhfwqylChart1(data){
    	var unitId = selectUnit || 'total';

        var unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < data.length; i++) {
            if (unitId=='total'){
                total.push(data[i]);
            }else{
                if (data[i].unitId==unitId){
                    total.push(data[i]);
                }
            }
        }
        var dataObject=total[total.length-1];
        var rate=dataObject.totalV90004/dataObject.totalV90005;
        if (rate>1){
            rate=1;
        }else{
            rate=rate.toFixed(4);
        }


    	var option = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                color: ['#3398DB','#999999'],
                graphic: [{ //环形图中间添加文字
                    type: 'text', //通过不同top值可以设置上下显示
                    left: 'center',
                    top: '45%',
                    style: {
                        text: (rate*100).toFixed(2)+'%\n'+'个性化服务签约率(收费)',
                        textAlign: 'center',
                        fill: 'black', //文字的颜色
                        width: 30,
                        height: 30,
                        fontSize: 12,
                        fontFamily: "Microsoft YaHei"
                    }
                }],
                series: [
                    {
                        name:'个性化服务签约率(收费)',
                        type:'pie',
                        radius: ['70%', '95%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },

                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:[
                            {
                                value:rate,
                                name:'个性化服务签约率(收费)'
                            },
                            {
                                value:1-rate,
                                name:'invisible',
                                hoverAnimation:false,
                                tooltip:{
                                      show:false,
                                },
                            }
                        ]
                    }
                ]
            };
    	gxhfwqylChart.setOption(option,true);
    }

    function intercept(unitName){
    	var w=unitName.indexOf("社");
    	var name =unitName.substring(0, w);
    	return name;
    }
    
    function compare(property){
        return function(a,b){
            var value1 = a[property];
            var value2 = b[property];
            return value2 - value1;
        }
    }
  	//]]>
    </script>
</body>

</html>