<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />
<link rel="stylesheet" href="/static/fonts/family/iconfont.css">
<style type="text/css">
.iconfont{
font-size: 6vh;
color: rgb(68, 183, 211);
margin-left: 22px;
}
.typeface{
	color: #808080;
    font-family: 黑体;
    font-size: 16px;
    padding: 16px;
    padding-top: 20px;
}
.typeface1{
padding-bottom: 10px;
}
.number{
	font-size: 36px;
	color: rgb(68, 183, 211);
}
.icon{
margin-top: 16px;
}
</style>
<body>
    <section class="content">
		<div class="row">
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-diannao"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>慢病签约人员管理数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21005">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-dianhua"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>慢病签约人员随访数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21006">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-yiyuan"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>签约人员双向转诊数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-plywood"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>家庭病床建床数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"  >
					<div class="row">
						<div class="col-md-12">
							<div class="box box-solid">
								<div class="row">
									<div class="col-md-3 icon">
										<span class="iconfont icon-fangzi"></span>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12 typeface">
												<span>专病小区专科诊疗数</span>
											</div>
											<div class="col-md-12 typeface1">
												<span class="number">0</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-fangzi1"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>上门服务人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21007">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-chufang"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>营养指导人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21008">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-wenjianjia"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>康复指导人次数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21009">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"  >
					<div class="row">
						<div class="col-md-12">
							<div class="box box-solid">
								<div class="row">
									<div class="col-md-3 icon">
										<span class="iconfont icon-bi"></span>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12 typeface">
												<span>用药指导人次数</span>
											</div>
											<div class="col-md-12 typeface1">
												<span class="number" id="21010">0</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="col-md-3"  >
					<div class="row">
						<div class="col-md-12">
							<div class="box box-solid">
								<div class="row">
									<div class="col-md-3 icon">
										<span class="iconfont icon-rili"></span>
									</div>
									<div class="col-md-9">
										<div class="row">
											<div class="col-md-12 typeface">
												<span>慢病长处方服务数</span>
											</div>
											<div class="col-md-12 typeface1">
												<span class="number" id="21011">0</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-chufangwaipei"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>签约居民体检人数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21012">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-xin-1"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>心脑血管高危人群筛查人数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21013">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-yan"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>肿瘤高危人群筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21014">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-diannao"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>骨质酥松高危人群筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21015">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-icon-test"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>COPD高危人群筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21016">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
			<div class="col-md-3">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-ertong"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>儿童哮喘筛查数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21017">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-icon1"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>健康自助监测评估数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21018">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-chaxun"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>CDSS心脑血管风险评估数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number" id="21019">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"  >
				<div class="row">
					<div class="col-md-12">
						<div class="box box-solid">
							<div class="row">
								<div class="col-md-3 icon">
									<span class="iconfont icon-tuisong"></span>
								</div>
								<div class="col-md-9">
									<div class="row">
										<div class="col-md-12 typeface">
											<span>个性化健康信息精准推送数</span>
										</div>
										<div class="col-md-12 typeface1">
											<span class="number"   id="21020">0</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</section>
    <div th:include="/qos/footer" />
    <script type="text/javascript">
		$(function () {
		let	config = {
				'interval': 1, //间隔天数，间隔为整数
				'runNow': false, //是否立即运行
				'time': "16:19:00" //执行的时间点 时在0~23之间
			};

			initData();

			timeoutFunc(config, initData);
		});
		var eventIds = '21005,21006,21007,21008,21009,21010,21011,21012,21013,21014,21015,21016,21017,21018,21019,21020';
		function initData() {
			$.postAjax('/qos/analysis/data/get/unit',{'eventIds':eventIds},function (response) {
				var data = {};
				convertCount2TableData(response, '21005', data);
				convertCount2TableData(response, '21006', data);
				convertCount2TableData(response, '21007', data);
				convertCount2TableData(response, '21008', data);
				convertCount2TableData(response, '21009', data);
				convertCount2TableData(response, '21010', data);
				convertCount2TableData(response, '21011', data);
				convertCount2TableData(response, '21012', data);
				convertCount2TableData(response, '21013', data);
				convertCount2TableData(response, '21014', data);
				convertCount2TableData(response, '21015', data);
				convertCount2TableData(response, '21016', data);
				convertCount2TableData(response, '21017', data);
				convertCount2TableData(response, '21018', data);
				convertCount2TableData(response, '21019', data);
				convertCount2TableData(response, '21020', data);

				let totals = data.total;

				let ids = eventIds.split(",");

				ids.forEach(function(id) {
					let s = "#"+id;
					$(s).text(totals[id]);
				})

			})
		}

		function convertCount2TableData(originData, eventId, data) {
			var eventData = originData[eventId],
					fieldName = eventId,
					total = 0;

			eventData && eventData.forEach(function(item) {
				var id = item.unitId;
				unitData = data[id];
				if (!unitData) {
					unitData = {
						unitId: id,
						unitName: item.unitName
					};
					data[id] = unitData;
				}
				unitData[fieldName] = item.count;
				total += item.count;
			});

			var totalData = data['total'];
			if (!totalData) {
				totalData = {
					unitId: 'total',
					unitName: '合计',
				};
				data['total'] = totalData;
			}
			totalData[fieldName] = total;
		}

		//定时任务
		function timeoutFunc(config, func) {

			if (config.runNow) {
				let timeInterval,nowTime,nowSeconds,targetSeconds,interval;

				interval =config.interval;

				nowTime = new Date();

				nowSeconds = nowTime.getHours() * 3600 + nowTime.getMinutes() * 60 + nowTime.getSeconds();

				let timePoints = config.time.split(':').map(i => parseInt(i));

				targetSeconds =  timePoints[0] * 3600 + timePoints[1] * 60 + timePoints[2];

				timeInterval = targetSeconds > nowSeconds ? targetSeconds - nowSeconds: targetSeconds + 24 * 3600 - nowSeconds;

				setTimeout(() => {

					func();

					setInterval(func, interval * 3600000)

				}, timeInterval*1000)

			}

		}

    </script>
</body>

</html>