<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="sex-type,boolean-type,job-rank-type,oeducation-type,personnel-category-type"/>
    <section class="content-header">
        <h1>家庭医生人员管理</h1>
         <input type="hidden" id="teamId" name="teamId" th:value="${teamId}"/>
        <ol class="breadcrumb">
        	<li><a href="/qos/family/doctor/unit/index"><i class="fa fa-table"></i>社区管理</a></li>
            <li><a th:href="@{/qos/family/doctor/team/index(unitId=${unitId})}"><i class="fa fa-table"></i>团队管理</a></li>
            <li><a th:href="@{/qos/family/doctor/personnel/index(teamId=${teamId})}"><i class="fa fa-table"></i>人员管理</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div th:include="/qos/footer" />
    <script type="text/javascript">
    var options = {
        id: "model",
        cancelBtn: false,
        name: "新增",
        url:"/qos/family/doctor/personnel/save",
        formButtonBar:[{
            id:  'reply_btn',
            type: 'button',
            name:  '返回',
            class: 'btn btn-default btn-block',
            order: 2
        }],
        columns: [
				{ title: "姓名", name: "name",required: "required", inputType: "TEXT" },
				{ title: "性别", name: "sex",required: "required", enum: "sex-type", inputType: "SELECT" },
				{ title: "年龄", name: "age",required: "required", inputType: "TEXT" },
				{ title: "学历", name: "oeducation",required: "required", inputType: "SELECT",enum: "oeducation-type" },
				{ title: "是否团队长", name: "isTeamCaptain",required: "required",inputType:"SELECT",enum:"boolean-type" },
				{ title: "职称", name: "jobRank",required: "required", inputType: "SELECT",enum: "job-rank-type" },
				{ title: "人员类别(可多选)", name: "personnelCategory",required: "required", inputType: "SELECT", multiple: true,enum:"personnel-category-type" },
				{ title: "其他人员（请注明）", name: "otherPersonnel", inputType: "TEXT" },
				{ title: "医院专科团队医生(医院+医生)", name: "specialtyTeamDoctor", inputType: "TEXT" }
				]
    }

    $(function() {       
    	var teamId=$("#teamId").val();
        var html = generateEditHtml(options);
        $(".content").html(html);
        $("#reply_btn").click(function () {
            window.location = "/qos/family/doctor/personnel/index?teamId="+teamId;
        });
       	$.initComponment($(".content"));
        
        var model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            successCallback:function(){
                $.successAlert("保存成功",function(){
                    window.location = "/qos/family/doctor/personnel/index?teamId="+teamId;
                });
            }
        });
        $("#"+model.name+"_form").prepend('<input type="hidden" name="teamId" id="teamId" value="'+teamId+'"/>');
        model.setData(null);
    });
    </script>
</body>

</html>