<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="hospital-goal-event-type"/>
    <section class="content-header">
        <h1>任务目标统计表</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                	<div class="form-group">
                        <div class="col-md-2">
                            <input id="year" name="year" placeholder="请选择月份" autocomplete="off" type="text" class="form-control tonto-datepicker-month">
                        </div>
                        <div class="col-md-2">
							 <select id="hospital" name="unitId" class="form-control tonto-select-constant" th:attr="selectedvalue=${query?.unitId}" >
                                <!-- <option value="">请选择医院</option>-->
                                 <option th:each="unit : ${unit}" th:value="${unit.id}" th:text="${unit.name}"></option>
                             </select>
						</div>
						<div class="col-md-4">
		                    <div class="pull-right">
		                        <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="queryGoalYearAndMonthValue();"><i class="fa fa-search"></i>查询</button>
		                        <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
		                    </div>
		                </div>
	                </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
                <input type="hidden" id="pageLimit" th:value="${query?.limit}" />
                <input type="hidden" id="pageOffset" th:value="${query?.offset}" />
            </div>
        </div>
        <div class="box box-solid" style="margin-top:20px">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
            </div>
        </div>
    </section>
    <div th:include="/qos/footer" />
    <script th:inline="javascript">
    /*<![CDATA[*/
          var unitList=[[${unit}]];
          var unitMap=new Map();
          var unitArr=[];
          unitList.forEach(function(element, index){
            unitMap[element.id]=element.name;
            unitArr.push(element.id);
          })
    /*]]>*/
    </script>
    <script type="text/javascript" src="/static/js/ajaxfileupload.js"></script>
</body>
<script type="text/javascript">
    var eventConstant=$.getConstantEnum('hospital-goal-event-type');
    var eventMap=new Map();
    var eventArr=[];
    eventConstant.forEach(function(element, index){
        console.log(element)
        eventMap[element.key]=element.value;
        eventArr.push(element.key);
    })

    var table=$('#dataGrid');
    var currentList;
    var goalList;
    var data=[];

    //获取当年日期所属学年
	function getCurrentYearMonth (date) {
		var currentYear=date.getFullYear();
		var currentMonth=date.getMonth()+1;
	    return currentYear+'-'+currentMonth;
	}

	$(function() {
		$('#year').val(getCurrentYearMonth(new Date()));
        queryGoalYearAndMonthValue();
        initDataGrid($('#year').val().substr(0,4));
    });


    function queryGoalYearAndMonthValue(){
        var yearMonthValue=$('#year').val();
        var year=yearMonthValue.substr(0,4);
        var month=yearMonthValue.substr(5,2).replace(/^0/, '')
        var lastYear=year-1;
        var lastBeforeYear=year-2;
        var hospital=$('#hospital').find('option:selected').val();
        $.ajax({
             type : "post",    //请求类型
             //async:false,
             url : "/qos/hospital/goal/analysis/goalList",//请求的 URL地址
             data:{'year':yearMonthValue,'eventIds':eventArr.join(','),'unitId':hospital},//传年月需要20191，月份前面需要0
             success: function (rawData) {
                 goalList=[];
                if(rawData.status==1){
                    goalList=rawData.result;
                }
                formatData();
             }
        });
        $.ajax({
             type : "post",    //请求类型
             //async:false,
             url : "/data/display/search/hospital/data",//请求的 URL地址
             data:{'year':year+'-'+month,'eventIds':eventArr.join(','),'unitId':hospital},//传年月需要20191，月份前面不需要0
             success: function (rawData) {
                currentList=[];
                if(rawData.status==1){
                    currentList=rawData.result;
                }
                formatData();
             }
        });


        table.bootstrapTable("refreshOptions",{
            columns: [
                [
                   { title: "指标"},
                   { title: (year-2)+'-'+(year-1)+"年增长值对比", colspan:'3'},
					{ title: year+"年预期目标值", colspan:'4'},
                    { title: "月度目标值",colspan:'3'},

                ],[
                    { title: "指标", field: "eventId" ,formatter:function(value,row,index){
                        return eventMap[value];
                    } },
                    { title: (year-2)+"年实际值", field: "y_2_count"},
					{ title: (year-1)+"年实际值", field: "y_1_count"},
                    { title: "增长率", field: "y_count_rate"},

                    { title: "基本目标", field: "y_basicGoal"},
					{ title: "提升目标", field: "y_raiseGoal"},
                    { title: "跃升目标", field: "y_zoomGoal"},
                    { title: "当前值", field: "y_count"},

                    { title: "月度目标", field: "m_basicGoal"},
                    { title: "当月值", field: "m_count"},
                    { title: "增长率", field: "m_countRate"}
                ]
            ],
            data:data,
            showColumns: false
        })
    }

    function initDataGrid(year){
        table.bootstrapTable({
            columns: [
                [
                   { title: "指标"},
                    { title: (year-2)+'-'+(year-1)+"年增长值对比", colspan:'3'},
					{ title: year+"年预期目标值", colspan:'4'},
                    { title: "月度目标值",colspan:'3'},

                ],[
                    { title: "指标", field: "eventId" ,formatter:function(value,row,index){
                        return eventMap[value];
                    } },
                    { title: (year-2)+"年实际值", field: "y_2_count"},
					{ title: (year-1)+"年实际值", field: "y_1_count"},
                    { title: "增长率", field: "y_count_rate"},

                    { title: "基本目标", field: "y_basicGoal"},
					{ title: "提升目标", field: "y_raiseGoal"},
                    { title: "跃升目标", field: "y_zoomGoal"},
                    { title: "当前值", field: "y_count"},

                    { title: "月度目标", field: "m_basicGoal"},
                    { title: "当月值", field: "m_count"},
                    { title: "增长率", field: "m_countRate"}
                ]
            ],
            data:[],
            showColumns: false
        })
    }


   function formatData(){
        data=[];
        eventArr.forEach(function(element,index){
            /*<![CDATA[*/
            var eventId=element,
                y_2_count='',y_1_count='',y_count_rate='',
                y_basicGoal='', y_raiseGoal='',y_zoomGoal='',y_count='',
                m_basicGoal='',m_count='',m_countRate='';
            if(currentList){
               var y_totalNumArr= currentList[element+'y'];
               if(y_totalNumArr&&y_totalNumArr.length>0){
                  y_count = y_totalNumArr[0].count;
               }
               var m_totalNumArr =currentList[element+'m'];
               if(m_totalNumArr&&m_totalNumArr.length>0){
                   m_count = m_totalNumArr[0].count;
               }
               var y_1_countArr=currentList[element+'y-1'];
               if(y_1_countArr&&y_1_countArr.length>0){
                  y_1_count = y_1_countArr[0].count;
               }
               var y_2_countArr=currentList[element+'y-2']
               if(y_2_countArr&&y_2_countArr.length>0){
                  y_2_count = y_2_countArr[0].count;
               }
               if(y_2_count){
                  y_count_rate=Math.round((y_1_count-y_2_count)/y_2_count)+'%';//计算上两年同比
               }
            }
            if(goalList){
                var yearGoalObj=goalList[element+'y'];
                if(yearGoalObj){
                    y_basicGoal = yearGoalObj.basicGoal;
                    y_raiseGoal = yearGoalObj.raiseGoal;
                    y_zoomGoal = yearGoalObj.zoomGoal;
                }
                var monthGoalObj=goalList[element+'m'];
                if(monthGoalObj){
                    m_basicGoal = monthGoalObj.basicGoal;
                }
                //var lastYearMonthGoalObj=goalList[element+'ym-1'];
                //if(lastYearMonthGoalObj&&lastYearMonthGoalObj.basicGoal&&m_basicGoal){
                //    m_countRate=Math.round((m_count*100)/lastYearMonthGoalObj.basicGoal)+'%';
                //}

            }
            data.push({"eventId":eventId,
                "y_2_count":y_2_count,
                "y_1_count":y_1_count,
                "y_count_rate":y_count_rate,

               "y_basicGoal":y_basicGoal,
                "y_raiseGoal":y_raiseGoal,
                "y_zoomGoal":y_zoomGoal,
                "y_count":y_count,

                "m_basicGoal":m_basicGoal,
                "m_count":m_count});
            table.bootstrapTable('load', data);
             /*]]>*/
        })
   }
    </script>

</html>