<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.infectioncomplication.OperationComplicationMapper">


   <!--查看全部-->
   <select id="infectIndicationAll" resultType="com.paladin.qos.service.infectioncomplication.vo.OperationComplicationVO">
         SELECT
   			    o.id,
   		  		o.embolism,
				o.pulmonary_embolism as pulmonaryEmbolism,
				o.venous_thrombosis as venousThrombosis,
				o.hematoma,
				o.wound_dehiscence as woundDehiscence,
				o.sudden_death as suddenDeath,
				o.operative_complications as operativeComplications,
				o.anaesthesia,
				o.create_time as createTime,
				o.unit_id as unitId
		FROM operation_complication o where 1=1

	   <if test="unitIds !=null">
		   AND unit_id IN
		   <foreach collection="unitIds" index="index" item="item"
					open="(" separator="," close=")">
			   #{item}
		   </foreach>
	   </if>

		<if test="unitId !=null and unitId !='' ">
			and o.unit_id = #{unitId}
		</if>
    </select>
    
    
    <!-- 查看最近半年 -->
    <select id="findRecentlyRecord" resultType="com.paladin.qos.service.infectioncomplication.vo.OperationComplicationVO">
      SELECT
			o.id,
			o.embolism,
			o.pulmonary_embolism AS pulmonaryEmbolism,
			o.venous_thrombosis AS venousThrombosis,
			o.hematoma,
			o.wound_dehiscence AS woundDehiscence,
			o.sudden_death AS suddenDeath,
			o.operative_complications AS operativeComplications,
			o.anaesthesia,
			o.create_time AS createTime
		FROM
			operation_complication as o
		where o.unit_id = #{unitId}
		ORDER BY
			o.create_time DESC
		LIMIT 1 
    </select>
    
    
 
    
    
    
    <!-- 新增 -->
    <insert id="insertInto">
    		insert into operation_complication
    		    (
    		    id,
  				embolism,
				pulmonary_embolism ,
				venous_thrombosis,
				hematoma,
				wound_dehiscence,
				sudden_death,
				operative_complications,
				anaesthesia,
				create_time,
				create_user_id
				)
    	   values (
    		  #{id},
    		  #{embolism},
    		  #{pulmonaryEmbolism},
    		  #{venousThrombosis},
    		  #{hematoma},
    		  #{woundDehiscence},
    		  #{suddenDeath},
    		  #{operativeComplications},
    		  #{anaesthesia},
    		  #{createTime},
    		  #{createUserId}
    		)
     </insert>
    
    
    <!--查看详情开始--> 
         <select id="queryById" parameterType="string"	resultType="com.paladin.qos.service.infectioncomplication.vo.OperationComplicationVO">
            SELECT 
                o.id,
                o.embolism,
				o.pulmonary_embolism as pulmonaryEmbolism,
				o.venous_thrombosis as venousThrombosis,
				o.hematoma,
				o.wound_dehiscence as woundDehiscence,
				o.sudden_death as suddenDeath,
				o.operative_complications as operativeComplications,
				o.anaesthesia
			FROM operation_complication as  o where  id = #{0}
         </select>
         
         
         
         
         <update id="updates">
            update operation_complication as o
             set
	             o.embolism = #{embolism},
	             o.pulmonary_embolism = #{pulmonaryEmbolism},
	             o.venous_thrombosis = #{venousThrombosis},
	             o.hematoma = #{hematoma},
	             o.wound_dehiscence = #{woundDehiscence},
	             o.sudden_death = #{suddenDeath},
	             o.operative_complications = #{operativeComplications},
	             o.anaesthesia = #{anaesthesia},
	             o.update_time = #{updateTime}
  			 where id = #{id}
         </update>
         
         
    <!-- 刪除 -->
      <delete id="deletes">
      		delete from operation_complication where id = #{id}
      </delete>


    <select id="operationCount" resultType="com.paladin.qos.service.infectioncomplication.vo.OperationComplicationVO">
        select
        sum(o.embolism)as embolism,
        sum(o.pulmonary_embolism)as pulmonaryEmbolism,
        sum(o.venous_thrombosis)as venousThrombosis,
        sum(o.hematoma)as hematoma,
        sum(o.wound_dehiscence)as woundDehiscence,
        sum(o.sudden_death)as suddenDeath,
        sum(o.operative_complications)as operativeComplications,
        sum(o.anaesthesia)as anaesthesia,
        o.unit_id as unitId
        from operation_complication as o WHERE 1=1
        <if test="unitId !=null and unitId !='' ">
            AND o.unit_id=#{unitId}
        </if>
        <if test="date !=null and date !='' ">
            AND o.create_time LIKE CONCAT(#{date},'%')
        </if>
        GROUP BY o.unit_id;
    </select>

    <select id="operationCountYear" resultType="com.paladin.qos.service.infectioncomplication.vo.OperationComplicationVO">
        SELECT
        sum(o.embolism)as embolism,
        sum(o.pulmonary_embolism)as pulmonaryEmbolism,
        sum(o.venous_thrombosis)as venousThrombosis,
        sum(o.hematoma)as hematoma,
        sum(o.wound_dehiscence)as woundDehiscence,
        sum(o.sudden_death)as suddenDeath,
        sum(o.operative_complications)as operativeComplications,
        sum(o.anaesthesia)as anaesthesia,
        DATE_FORMAT(o.create_time,'%Y') AS date
        FROM
        operation_complication AS o where 1=1
        <if test="date !=null and date !='' ">
            AND DATE_FORMAT(o.create_time,'%Y') = #{date}
        </if>
        <if test="unitId !=null and unitId !='' ">
            AND o.unit_id=#{unitId}
        </if>
        GROUP BY DATE_FORMAT(o.create_time,'%Y');
    </select>
</mapper>
