<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="nature-type,region-type,subordination-type,school-section-type,grade-type"/>
    <input th:value="${id}" id="id" type="hidden" />
    <section class="content-header">
        <h1>医院感染类指标统计详情</h1>
        <ol class="breadcrumb">
            <li><a href="/qos/infectioncomplication/infection/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/qos/infectioncomplication/infection/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/qos/footer" />
    <script type="text/javascript">

    var options = {
	        id: "model",
	        name: "详情",
	        server: false,
	        editFormClass: false,
	        columns: [
					{title : "医院感染总发生率",name : "totalInfection",inputType : "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
					{title : "与手术相关科室感染发生率",name : "operatingDepartmentsInfection",inputType : "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
					{title : "手术部位感染总发生率",name : "operatingPartInfection",inputType : "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
					{title : "手术风险分级（NNIS分级）手术部位感染率",name : "operatingRiskInfection",inputType : "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
					{title : "手术患者肺部感染发生率",name : "lungInfection",inputType : "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
					{title : "新生儿患者医院感染发生率",name : "newBornInfection",inputType : "NUMBER",unit:"%"},
					{title: "择期手术患者医院感染发生率", name: "selectiveOperationsInfection", inputType: "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
                    {title: "与血液透析相关血液感染发生率", name: "bloodInfection", inputType: "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
                    {title: "重症监护室相关感染率", name: "intensiveCareUnitInfection", inputType: "NUMBER",unit:"%",attr:{'min':'0'},required: "required"},
                { title: "单位", name: "unitId", inputType: "SELECT-SERVER", multiple: false,url: "/qos/data/unit/find/select"}
				     ]
					}
					var model, itemId;

					$(function() {
						var html = generateHtml(options);
						$(".content").html(html);
						$.initComponment($(".content"));
						itemId = $("#id").val();

						$.getAjax("/qos/infectioncomplication/infection/get?id=" + $("#id").val(),
								function(data) {
									model = new tonto.Model("model",
											options.columns, {
												server : false,
												submitClick : function() {
													update();
												}
											});
									model.setData(data);
								});
					});

					function update(confirm) {
						var data = model.getFormData();
							data['id'] = itemId;
							$.postJsonAjax("/qos/infectioncomplication/infection/update", data,
									function(result) {
										$.successAlert("保存成功", function() {
											model.toView();
											model.setData(data);
										});
									}, $("#submitBtn"));
					}
				</script>
</body>

</html>