<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.school.OrgSchoolMapper">

<select id="findSchool" resultType="com.paladin.qos.service.school.vo.OrgSchoolVO">
	SELECT o.id, school_year as schoolYear, n.`school_full_name`AS parentSchoolId,o.`address`,o.`affiliation`,o.`district`,o.`nature`,o.`create_Time` AS createTime FROM 
	org_school AS o 
	LEFT JOIN org_school_name AS n ON o.`parent_school_id`=n.`id` where 1=1 
	<if test="schoolName !=null and schoolName != '' ">
	 AND n.`school_full_name` LIKE CONCAT('%',#{schoolName},'%') 
	</if>
	<if test="affiliation !=null and affiliation != '' ">
	 AND affiliation = #{affiliation} 
	</if>
	<if test="nature !=null and nature != '' ">
	 AND nature = #{nature}
	</if>
	<if test="district !=null and district != '' ">
	 AND district = #{district}
	</if>
	ORDER BY o.create_time DESC
</select>

<select id="parentSchoolId" resultType="com.paladin.qos.service.school.vo.OrgSchoolVO">
	SELECT * FROM org_school WHERE parent_school_id = #{id}
</select>

<select id="schoolPersonnelCount" resultType="com.paladin.qos.service.school.vo.OrgSchoolPersonnelCountVO">
		SELECT
		s.`parent_school_id` AS parentSchoolId,
		n.`school_full_name` AS schoolFullName,
		s.total AS total
	FROM `org_school` AS s
	LEFT JOIN org_school_name AS n ON s.`parent_school_id` = n.`id`
	WHERE 1=1
	<if test="district != null and district !='' ">
		AND  s.`district` =#{district}
	</if>
	<if test="affiliation != null and affiliation != '' ">
		AND s.`affiliation` = #{affiliation}
	</if>
	<if test="nature != null and nature != '' ">
		AND s.`nature` = #{nature}
	</if>	
	ORDER BY s.total desc;
</select>

<select id="schoolDoctorCount" resultType="com.paladin.qos.service.school.vo.OrgSchoolDoctorCountVO">
	SELECT 
	  	s.`parent_school_id` AS parentSchoolId,
		s.nature,
	  	n.`school_full_name` AS schoolFullName,
		COALESCE (SUM(s.`school_doctor_part`) ,0)AS schoolDoctorPart,
		COALESCE (SUM(s.`school_doctor_full`) ,0)AS schoolDoctorFull,
		COALESCE (SUM(s.`health_teacher_part`) ,0)AS healthTeacherPart,
		COALESCE (SUM(s.`health_teacher_full`) ,0)AS healthTeacherFull,
		COALESCE (SUM(s.total) ,0)as total
	FROM
	  `org_school` AS s 
	  LEFT JOIN org_school_name AS n 
	    ON s.`parent_school_id` = n.`id` 
	   WHERE 1 = 1 
	<if test="district != null and district !='' ">
		AND  s.`district` =#{district}
	</if>
	<if test="affiliation != null and affiliation != '' ">
		AND s.`affiliation` = #{affiliation}
	</if>
	<if test="nature != null and nature != '' ">
		AND s.`nature` = #{nature}
	</if>	
	<if test="schoolYear != null and schoolYear != '' ">
		AND s.`school_year` = #{schoolYear}
	</if>
	GROUP BY s.`parent_school_id`,s.nature
</select>

	<select id="schoolCountsGroupByNature" resultType="com.paladin.qos.service.school.vo.OrgSchoolCountsGroupByNatureVO"
		parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
		SELECT c.name name ,count(1) value from org_school t
		inner join sys_constant c on c.type='nature-type' and t.nature=c.code
		WHERE 1=1
		and t.affiliation in 
		<foreach collection ="affiliations" item="affiliation" index= "index" separator ="," open="(" close=")">
             #{affiliation}
        </foreach >
		<if test="schoolYear != null and schoolYear !='' ">
			AND t.school_year=#{schoolYear}
		</if>
		<if test="district != null and district !='' ">
			AND  t.district =#{district}
		</if>
		group by t.nature
	</select>
	
	<select id="schoolCountsGroupByAffiliation" resultType="com.paladin.qos.service.school.vo.OrgSchoolCountsGroupByNatureVO"
		parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
		select name,sum(num) value from (
			SELECT IF(INSTR(c.name,'镇公办'),'区/镇公办',c.name) name ,count(1) num 
			from org_school t
			inner join sys_constant c on c.type='subordination-type' and t.affiliation=c.code
			WHERE 1=1
			<if test="schoolYear != null and schoolYear !='' ">
				AND t.school_year=#{schoolYear}
			</if>
			<if test="district != null and district !='' ">
				AND  t.district =#{district}
			</if>
			<if test="nature != null and nature !='' ">
				AND  t.nature =#{nature}
			</if>
			group by t.affiliation
		) tmp group by name
	</select>

	<select id="schoolPeopleCountsGroupByNature" resultType="com.paladin.qos.service.school.vo.OrgSchoolCountsGroupByNatureVO"
		parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
		SELECT c.name name ,sum(p.total) value 
		from org_school t
		inner join sys_constant c on c.type='nature-type' and t.nature=c.code
		left join org_school_people p on t.id=p.school_id
		WHERE 1=1
		and t.affiliation in 
		<foreach collection ="affiliations" item="affiliation" index= "index" separator ="," open="(" close=")">
             #{affiliation}
        </foreach >
		<if test="schoolYear != null and schoolYear !='' ">
			AND t.school_year=#{schoolYear}
		</if>
		<if test="district != null and district !='' ">
			AND  t.district =#{district}
		</if>
		group by t.nature
	</select>

	<select id="schoolPeopleCountsGroupByAffiliation" resultType="com.paladin.qos.service.school.vo.OrgSchoolCountsGroupByNatureVO"
		parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
		select name,sum(num) value from (
			SELECT IF(INSTR(c.name,'镇公办'),'区/镇公办',c.name) name ,sum(p.total) num 
			from org_school t
			inner join sys_constant c on c.type='subordination-type' and t.affiliation=c.code
			left join org_school_people p on t.id=p.school_id
			WHERE 1=1
			<if test="schoolYear != null and schoolYear !='' ">
				AND t.school_year=#{schoolYear}
			</if>
			<if test="district != null and district !='' ">
				AND  t.district =#{district}
			</if>
			<if test="nature != null and nature !='' ">
				AND  t.nature =#{nature}
			</if>
			group by t.affiliation
		) tmp group by name
	</select>

</mapper>
