<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.analysis.RehospitalzationAnalysisHighBloodPressureMapper">

	<select id="getTotalNum" parameterType="Map" resultType="Long">
		  select count(*) from outhospitalrecord a
		  <where>
				OHREC_DREC = '1'
	            and a.IHD_DIS_CODE in (select major_code from classify_code_disease where major_code like 'I10%' or major_code like 'I11%'
	            or major_code like 'I12%' or major_code like 'I13%' or major_code like 'I14%' or major_code like 'I15%')
				<if test="startTime != null and startTime !='' ">
					and OUT_HP_DT <![CDATA[>=]]> #{startTime}
				</if>
				<if test="endTime != null and endTime !='' ">
					and OUT_HP_DT <![CDATA[<]]> #{endTime}
				</if>
				<if test="unitId != null and unitId !='' ">
					and ORGAN_CODE  =  #{unitId}
				</if>
		  </where>
	</select>
	
	<select id="getEventNum" parameterType="Map" resultType="Long">
	SELECT count(*) FROM outhospitalrecord a
	where a.OHREC_DREC = '1'
	and a.IHD_DIS_CODE in (select major_code from classify_code_disease where major_code like 'I10%' or major_code like 'I11%'
	            or major_code like 'I12%' or major_code like 'I13%' or major_code like 'I14%' or major_code like 'I15%')
		<if test="startTime != null and startTime !='' ">
			and a.OUT_HP_DT <![CDATA[>=]]> #{startTime}
		</if>
		<if test="endTime != null and endTime !='' ">
			and a.OUT_HP_DT <![CDATA[<]]> #{endTime}
		</if>
		<if test="unitId != null and unitId !='' ">
			and ORGAN_CODE  =  #{unitId}
		</if>
	AND EXISTS (
	SELECT * FROM outhospitalrecord b
	WHERE
	b.CARDNO = a.CARDNO
	AND b.OUT_HP_DT <![CDATA[!=]]> a.OUT_HP_DT
	and a.OUT_HP_DT <![CDATA[>=]]> date_add(b.IN_HP_DT, INTERVAL - 31 DAY) 
	and a.OUT_HP_DT <![CDATA[<]]> DATE(b.IN_HP_DT)
	
	)
	</select>
</mapper>
