<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="sex-type,boolean-type,job-rank-type,oeducation-type,personnel-category-type,major-type"/>
    <section class="content-header">
         <h1 th:text="${username}">详情</h1> 
   </section>
 
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
 		<a th:href="@{/qos/infectIndication/index?(teamId=${teamId})}" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/qos/footer" />
    <script type="text/javascript">
    $(function() {
    	var teamId=$("#teamId").val();
     	var options = {
	        id: "model",
	        name: "详情",
	        url:"/qos/operationComplication/update?id="+$("#id").val(),
	        columns: [
			     { title: "手术患者并发症发生率统计", align: "center", name: "embolism",inputType: "TEXT"},
                 { title: "手术患者手术后肺栓塞发生率统计", align: "center", name: "pulmonaryEmbolism",inputType: "TEXT"},
                 { title: "手术患者手术后深静脉血栓发生率统计", align: "center", name: "venousThrombosis",inputType: "TEXT"},
                 { title: "手术患者手术后出血或血肿发生率统计", align: "center", name: "hematoma",inputType: "TEXT"},
                 { title: "手术患者手术伤口裂开发生率统计", align: "center", name: "woundDehiscence",inputType: "TEXT"},
                 { title: "手术患者手术后猝死发生率统计", align: "center", name: "suddenDeath",inputType: "TEXT"},
                 { title: "手术死亡患者手术并发症发生率统计", align: "center", name: "operativeComplications",inputType: "TEXT"},
                 { title: "手术患者麻醉并发症发生率统计", align: "center", name: "anaesthesia",inputType: "TEXT"},
                 ]
	    }
    
        $.getAjax("/qos/operationComplication/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
            $("#"+model.name+"_form").prepend('<input type="hidden" name="teamId" id="teamId" value="'+teamId+'"/>');
        });
    });
    
 
    
    
 
    
    </script>
</body>

</html>