<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.familydoctor.FamilyDoctorPersonnelMapper">
	<select id="countPersonnel" resultType="int">
	SELECT COUNT(1) FROM `family_doctor_personnel` AS p WHERE p.`name`=#{name}
	</select>
	
	<select id="personnelNum" resultType="com.paladin.qos.service.familydoctor.vo.DataFamilyDoctorTeamVo">
	SELECT unit_id as unitId,
	SUM(p.personnel_category ='2')doctorNum,
	SUM(p.personnel_category ='3')nurseNum,
	SUM(p.personnel_category ='4')healthCoordinatorNum, 
	SUM(p.personnel_category ='5')healthManageNum, 
	SUM(p.personnel_category ='6')dietitianNum, 
	SUM(p.personnel_category ='7')consultantNum 
	from family_doctor_personnel as p GROUP BY p.unit_id;
	</select>
	
	<select id="selectFindAll" resultType="com.paladin.qos.service.familydoctor.vo.DataFamilyDoctorPersonnelVO">
		SELECT
			p.id,
			p.unit_id AS unitId,
			t.team_name AS teamName,
			p.`name`,
			p.sex,
			p.age,
			j.`name` AS jobRank,
			c.`name` AS personnelCategory,
			p.is_team_captain AS isTeamCaptain
		FROM
			family_doctor_personnel AS p
		LEFT JOIN family_doctor_team AS t ON p.team_id = t.id
		LEFT JOIN (select `code`,`name` from sys_constant where type='job-rank-type') AS j on j.`code`=p.job_rank
		LEFT JOIN (select `code`,`name` from sys_constant where type='personnel-category-type') AS c on c.`code`=p.personnel_category
		ORDER BY p.create_time DESC
	</select>
</mapper>
