<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.shejike.OnhospitalNumberMapper">

	<select id="getTotalNum" parameterType="Map" resultType="Long">
		select count(INSTATE) from phis_webhis.V_IPR_INPATIENTINFO a 
		
		<where> 
		     a.INSTATE in ('R','I')
			<!-- <if test="startTime != null and startTime !='' ">
				and a.REGDATE <![CDATA[>=]]>
				#{startTime}
			</if>
			<if test="endTime != null and endTime !='' ">
				and a.REGDATE <![CDATA[<]]>
				#{endTime}
			</if>
			<if test="unitId != null and unitId !='' ">
				and a.ORGCODE = #{unitId}
			</if> -->
		</where>
	</select>


</mapper>
