#allbgarea{
    width: 100vw;
    height: 100vh;
    background: url('../img/allarea/allareaBgnew.jpg') no-repeat center;
    background-size:100% 100%;;
}
#allbgareaLeft{
    width: 28.229vw;
    height: 84.8148vh;
    display: inline-block;
    float: left;
    margin-left: 1.875vw;
}
#allareaMap{
    width: 37.4479vw;
    height: 84.8148vh;
  /*  background: url('../img/allarea/allareaMap.png') no-repeat center;*/
    background-size:100% 100%;
    margin-left: 1.979vw;
    float: left;
}

.sameallareaLeftdiv{
    width: 28.229vw;
    height: 28.88vh;
    background: url('../img/allarea/allareaLeft.png') no-repeat center;
    background-size:100% 100%;
}
.sameallareaLeftdiv .header{
   line-height: 3vh;
   color: #C1F3FF;
   text-align: center;
   padding-top: 3vh;
}
.sameallareaRightdiv .header{
    line-height: 3vh;
    color: #C1F3FF;
    text-align: center;
    padding-top: 3vh;
}
.sameallareaRightdiv{
    width: 28.385vw;
    height: 55vh;
    background: url('../img/allarea/allareaRight.png') no-repeat center;
    background-size:100% 100%;
    position: relative;
}

.sameallareaBottomdiv{
    width: 28.489vw;
    height:30vh;
    background: url('../img/allarea/allareaRightBottom.png') no-repeat center;
    background-size:100% 100%;
}
.allareaRightBottom .header{
    line-height: 3vh;
    color: #C1F3FF;
    text-align: center;
    padding-top: 3vh;
}
#map{
    width: 37.4479vw;
    height: 80.8148vh;
}
#allareaRight{
    width: 28.229vw;
    height: 50vh;
    float: left;
    margin-left: 1vw;
}
.mt9907{
    margin-top: 9.907vh;
}

#hospitalVisit,#communityVisit,#trendVisits{
    width: 28.229vw;
    height: 22vh;
}

#paymentComparison,#incomeClassification,#antimicrobialUse{
    width: 28.385vw;
    height: 16.7777vh;
}
#patientList{
    width: 28.385vw;
    height: 12.7777vh;
}
#paymentComparisonLeft,#paymentComparisonRight,#incomeClassificationLeft,#incomeClassificationRight{
    width: 14vw;
    height: 11.4814vh;
    float: left;
    display: inline-block;
}
.paymentComparisonLeft,.paymentComparisonRight,.incomeClassificationLeft,.incomeClassificationRight p{
    width: 14vw;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    float: left;
}
.familySocilty li{
    float: left;
    width: 4.7vw;
    text-align: center;
}

#familyTable{height:20vh;overflow:hidden;position:relative;width: 29vw;margin: auto}
#familyTableUl{position:absolute;top:0;left:0;}
.familySocilty{
    height: 3vh;
    line-height: 3vh;
}
.ellipsis47{
    width: 4.7vw;
    display: inline-block;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    height: 3.8vh;
    line-height: 3.8vh;
    border-bottom: 1px solid #138899;
}
.textindext1{
    text-indent: 1vw;
}
.allareaRightTopLi{
    height:6.944vh;
    line-height: 6.944vh;
}

.appointment{
    position: absolute;
    top: 4vh;
    left: 3.9vw;
}
.appointment2{
    position: absolute;
    top: 4vh;
    left: 13.6458vw;
    font-weight: 500;
}
.appointment3{
    position: absolute;
    top: 4vh;
    left: 21vw;
    font-weight: 500;
}
.allareaRightTopLi i{
    display: inline-block;
    float: left;
}

.appointment4{
    position: absolute;
    top: 11vh;
    left: 3.9vw;
}
.appointment5{
    position: absolute;
    top: 11vh;
    left: 13.6458vw;
    font-weight: 500;
}
.appointment6{
    position: absolute;
    top: 11vh;
    left: 21vw;
    font-weight: 500;
}


.appointment7{
    position: absolute;
    top: 18.8vh;
    left: 3.9vw;
}
.appointment8{
    position: absolute;
    top: 18.8vh;
    left: 13.6458vw;
    font-weight: 500;
}
.appointment9{
    position: absolute;
    top: 18.8vh;
    left: 21vw;
    font-weight: 500;
}

.appointment10{
    position: absolute;
    top: 26.3vh;
    left: 3.9vw;
}
.appointment11{
    position: absolute;
    top: 26.3vh;
    left: 13.6458vw;
    font-weight: 500;
}
.appointment12{
    position: absolute;
    top: 26.3vh;
    left: 21vw;
    font-weight: 500;
}

.appointment13{
    position: absolute;
    top: 34.2vh;
    left: 3.9vw;
}
.appointment14{
    position: absolute;
    top: 34.2vh;
    left: 13.6458vw;
    font-weight: 500;
}
.appointment15{
    position: absolute;
    top: 34.2vh;
    left: 21vw;
    font-weight: 500;
}

.info-wrapper{
    width: 14.218vw;
    height: 21.203vh;
    background: red;
    background: url('../img/alldisplay/maparea.png') no-repeat center;
    background-size:100% 100%;
    padding: 2vw;
    position: absolute;
    z-index: 99999999999999999999;
}

.lh3{
    line-height: 3vh;
    text-indent: 1vw;
}
.text-00ffff{
    color:#00ffff;
}
.newlh3{
    line-height:3vh;
    height: 3vh;
}
.text-ff0000{
    color: #ff0000;
}
.text-ff774d{
    color: #ff774d;
}
.text-52fff5{
    color:#52fff5;
}

.sameallareaRightdivLeft,.sameallareaRightdivRight{
    float: left;
}
.sameallareaRightdivLeft{

}
.sameallareaRightdivLeftLI1{
    position: absolute;
    top: 12.5vh;
    left: 3vw;
}
.sameallareaRightdivLeftLI2{
    position: absolute;
    top: 18vh;
    left: 3vw;
}

.sameallareaRightdivLeftLI3{
    position: absolute;
    top: 23.5vh;
    left: 3vw;
}

.sameallareaRightdivLeftLI4{
    position: absolute;
    top: 29.5vh;
    left: 3vw;
}

.sameallareaRightdivLeftLI5{
    position: absolute;
    top: 35vh;
    left: 3vw;
}


.sameallareaRightdivRightLi{
    width: 11.5vw;
    height: 3.9vh;
    line-height: 3.9vh;
    background: url('../img/allarea/border_botton.png') no-repeat bottom;
    text-indent: 2vw;
}


.sameallareaRightdivLeftLI{
    width: 11.5vw;
    height: 3.9vh;
    line-height: 3.9vh;
    background: url('../img/allarea/border_botton.png') no-repeat bottom;
    text-indent: 2vw;
}

.sameallareaRightdivRightLi:nth-child(4n){
    color: #ff774d;
}

.sameallareaRightdivRightLi:nth-child(5n){
    color: #ff774d;
}

.sameallareaRightdivRightLi:nth-child(6n){
    color: #ff774d;
}

.sameallareaRightdivRightLi:nth-child(7n){
    color: #00ffff;
}
.sameallareaRightdivRightLi:nth-child(8n){
    color: #00ffff;
}

.sameallareaRightdivRightLi:nth-child(9n){
    color: #00ffff;
}
.sameallareaRightdivRightLi:nth-child(10n){
    color: #00ffff;
}
.mapaddress{
    margin-right: 0.2vw;
}
.allareaRightTop{
    position: relative;
}

.wholecity{
    position: absolute;
    top: 5.9vh;
    left:3.9065vw;
    color: #00ffff;
}
.hospitalName{
    position: absolute;
    top: 5.9vh;
    left:16.6065vw;
    color: #00ffff;
}

#sameallareaRightdivRightUL{
  position: absolute;
  left:15vw;
  top:0vh;
  height:43vh;
  width: 11.5vw;
 }

#sameallareaRightdivRight{
    overflow:hidden;
    position:relative;
    width: 28.29vw;
    margin: auto;
    height:43vh;
    top: 10vh;
}



#sameallareaLeftdivRightUL{
    position: absolute;
    left:3vw;
    top:0vh;
    height:43vh;
    width: 11.5vw;
}

#sameallarealeftdivRight{
    overflow:hidden;
    position:relative;
    width: 14.29vw;
    margin: auto;
    height:43vh;
    top: 10vh;
}




.sameallareaRightdivLeftLI:nth-child(4n){
    color: #ff774d;
}

.sameallareaRightdivLeftLI:nth-child(5n){
    color: #ff774d;
}

.sameallareaRightdivLeftLI:nth-child(6n){
    color: #ff774d;
}

.sameallareaRightdivLeftLI:nth-child(7n){
    color: #00ffff;
}
.sameallareaRightdivLeftLI:nth-child(8n){
    color: #00ffff;
}

.sameallareaRightdivLeftLI:nth-child(9n){
    color: #00ffff;
}
.sameallareaRightdivLeftLI:nth-child(10n){
    color: #00ffff;
}


.newmap{
    position: relative;
    width: 685px
}

.st0{fill:#0A233D;}
.st1{stroke:#040000;stroke-width:9;stroke-miterlimit:10;}
.st2{fill:#2476B4;stroke:#2670A9;stroke-width:5;stroke-miterlimit:10;}
.st3{fill:#3AA7D8;}
.st4{fill:#0C416D;}
.st5{fill:#248DC5;}
.st6{fill:#83C7E8;}
.st7{fill:#64B4DC;}
.st8{fill:#287DB6;}
.st9{fill:#1869A6;}
.st10{fill:#19538A;}
.st11{fill:#85C7E8;}
.st3_highlight{fill:#3AA7D8;}
.st4_highlight{fill:#0C416D;}
.st5_highlight{fill:#248DC5;}
.st6_highlight{fill:#83C7E8;}
.st7_highlight{fill:#FFFFFF;}
.st8_highlight{fill:#64B4DC;}
.st9_highlight{fill:#287DB6;}
.st10_highlight{fill:#1869A6;}
.st11_highlight{fill:#19538A;}
.st12_highlight{fill:#FDFDFE;}
.st13{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;}
.st14{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9277,3.9277;}
.st15{fill:#F5B517;}
.st16{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9341,3.9341;}
.st17{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.0897,4.0897;}
.st18{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.0809,4.0809;}
.st19{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.6258,4.6258;}
.st20{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9716,3.9716;}
.st21{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9637,3.9637;}
.st22{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.864,3.864;}
.st23{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.0561,4.0561;}
.st24{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.6465,3.6465;}
.st25{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9713,3.9713;}
.st26{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.0484,4.0484;}
.st27{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9766,3.9766;}
.st28{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9088,3.9088;}
.st29{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.9678,3.9678;}
.st30{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.2343,4.2343;}
.st31{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:4.0187,4.0187;}
.st32{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.6669,3.6669;}
.st33{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.966,3.966;}
.st34{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.7872,3.7872;}
.st35{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.996,3.996;}
.st36{fill:none;stroke:#F5B517;stroke-width:1.5;stroke-miterlimit:10;stroke-dasharray:3.7876,3.7876;}
.K106_Legend{
    color: #ffffff;
    text-align:center;
    margin-top:1vh;

}
.C106_rightSide{
    position: absolute;
    width: 10vw;
    height: 18vh;
    background: url(../img/allarea/T106_info.png) no-repeat;
    background-size: 100% 100%;
    padding: 0.5em 1em;
    left: 57.3vw;
    top: 12vh;
    z-index: 9;
}
.st8{
    fill: #287DB6;
}
#bailu{
    z-index: 999999999999;
    position: absolute;
    top: 6vw;
}
.mt1vh{
    margin-top: 0.3vh;
}
.昆山市淀山湖人民医院{
    fill: #007aff!important;
}
.yellow{
    fill: yellow;
    background: yellow;
    font-size: 50px;
    width: 20vw;
    height: 15vh;
}
.fff{
    fill: #ffffff;
    background: #ffffff;
}




.disnone {
    display: none;
}

.blue1 {
    fill: #90fbfc;
}

.blue2 {
    fill: #62beed;
}

.blue3 {
    fill: #35b2ea;
}

.blue4 {
    fill: #1296d6;
}

.blue5 {
    fill: #1783c4;
}

.blue6 {
    fill: #1678b2;
}

.blue7 {
    fill: #126ba0;
}

.blue8 {
    fill: #0f6395;
}

.blue9 {
    fill: #0c5580;
}

.blue10 {
    fill: #09496f;
}

.blue11 {
    fill: #093d68;
}