#allbg{
    width: 100vw;
    height: 100vh;
    background: url('../img/allbg.jpg') no-repeat center;
    background-size:100% 100%;;
}

#alldisplayLeft{
    position: relative;
}
.alldisplayTop,.alldisplayBottom{
    width: 28.3vw;
    height:38vh;
    background: url('../img/alldisplay/alldisplayLeft.png');
    background-size:100% 100%;
    position: absolute;

}
.alldisplayTop{
    top: 13.2vh;
    left: 1.875vw;
}
.alldisplayBottom{
    top:53vh;
    left: 1.875vw;
}
#healthRecords,#emergencyPatients{
    width:25vw;
    height:22.5vh;
    margin:auto;
}
#populationContracts{
    width:25vw;
    height:20.5vh;
    margin:auto;
}
.alldisplayTop .header{
    width: 28.3vw;
    text-align: center;
    height:2.1vh;
    color: #C1F3FF;
    margin-top: 3.2vh;
    margin-bottom: 2.2vh;
}

.alldisplayBottom .header{
    width: 28.3vw;
    text-align: center;
    height:2.1vh;
    color: #C1F3FF;
    margin-top: 3.2vh;
    margin-bottom: 2.2vh;
}
#alldisplayMiddle{
    width: 37.239vw;
    height: 84.629vh;
    background: url('../img/alldisplay/mapbg.png') no-repeat center;
    background-size:100% 100%;
    top: 13.2vh;
    position: absolute;
    left:32.08vw;
}

#map{
    width: 37.239vw;
    height: 84.629vh;
    text-align: center;
    overflow: hidden;
}

.ol-unselectable{
    overflow: hidden !important;
}



#alldisplayRight{
    position: absolute;
    top: 13.2vh;
    left:70.67vw;
}
.alldisplayRightTop{
    width: 28.229vw;
    height: 29.07vh;
    background: url('../img/alldisplay/alldisplayRightTop.png') no-repeat center;
    background-size:100% 100%;
    margin-bottom: 1.48vh;
}
.alldisplayRightTop .headers{
    line-height: 3.1vh;
    height:3.1vh;
    color: #C1F3FF;
    text-align: center;
    padding-top: 3vh;
}
.alldisplayRightMiddle{
    width: 28.229vw;
    height: 27.87vh;
    background: url('../img/alldisplay/alldisplayRightMiddle.png') no-repeat center;
    background-size:100% 100%;
    margin-bottom: 1.75vh;
}
.alldisplayRightBottom{
    width: 28.229vw;
    height: 22.78vh;
    background: url('../img/alldisplay/alldisplayRightBottoms.png') no-repeat center;
    background-size:100% 100%;
}
.alldisplayRightBottom .headers{
    line-height: 5.1vh;
    height: 5.1vh;
    color: #C1F3FF;
    text-align: center;
    padding-top: 2vh;
}

.alldisplayRight .header{
    width: 28.229vw;
    text-align: center;
    line-height: 10.1vh;
    color: #C1F3FF;
}
.alldisplayRightMiddle .headers{
    text-align: right;
    color: #C1F3FF;
    line-height: 10.1vh;
    padding-right: 5vw;
}
#healthPersonnel{
    width: 9.7968vw;
    height:17.41vh;
    display: inline-block;
    float: left;
    margin-bottom: 4.814vh;
    margin-top: 4.907vh;
    margin-left: 2.395vw;
}
#healthPersonnel canvas{
    width: 9.7968vw!important;
    height:17.41vh!important;
}
#dataSheet{
    text-align: center;
}
#scroll{width:28.229vw;position:relative;}

.content{height:10vh;overflow:hidden;position:relative;}
.content ul{position:absolute;top:0;left:0;margin: auto;width: 100%}
.content li{height:3vh;}
.mb02592{
    margin-bottom: 2.592vh;
}
.info-wrapper{
  width: 11.51vw;
    height: 12.91vh;
    background: url('../img/alldisplay/maparea.png') no-repeat center;
    background-size:100% 100%;
    color: #fff;

}
.ol-overlay-container{
    color: #ffffff;
}




