<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.exhibition.ArchivesManagementMapper">

    <!--最近一次血压达标-->
    <select id="getPressureSugarTotal" resultType="com.paladin.qos.dynamic.model.exhibition.PressureSugar">
        select pm.managedcentercode,count(pm.managedcentercode) from(
        select * from (select * from ( select row_number()over(partition by c.code order by c.examdate desc)num,c.*
        from phis_chss.v_fhc_check_main c  left join  phis_chss.v_fha_person_main  p on c.code=p.code where p.LINKB is not null and p.birthday <![CDATA[<= ]]> add_months(sysdate,-12*65)) s
        where num=1 ) where lsbp <![CDATA[<>]]> 0 and ldbp<![CDATA[<>]]>0 and rsbp <![CDATA[<>]]>0 and rdbp <![CDATA[<>]]>0
        and lsbp<![CDATA[<]]>150 and LDBP<![CDATA[<]]>90 and RSBP<![CDATA[<]]>150 and RDBP<![CDATA[<]]>90
        union all
        select * from (select * from ( select row_number()over(partition by c.code order by c.examdate desc)num,c.*
        from phis_chss.v_fhc_check_main c  left join  phis_chss.v_fha_person_main  p on c.code=p.code where p.LINKB is not null and p.birthday<![CDATA[>]]>add_months(sysdate,-12*65)) s
        where num=1 ) where lsbp<![CDATA[<>]]> 0 and ldbp<![CDATA[<>]]>0 and rsbp <![CDATA[<>]]>0 and rdbp <![CDATA[<>]]>0
        and lsbp<![CDATA[<]]>140 and LDBP<![CDATA[<]]>90 and RSBP<![CDATA[<]]>140 and RDBP<![CDATA[<]]>90
        ) ck
        left join phis_chss.v_fha_person_main pm on ck.code=pm.code
        group by pm.managedcentercode;
    </select>


</mapper>

