<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.infectIndication.InfectIndicationMapper">
	<resultMap id="BaseResultMap" type="com.paladin.qos.model.infectIndication.InfectIndication">
		<id column="id" jdbcType="VARCHAR" property="id" />
        <!--医院的对象-->
        <result column="hospital_id" jdbcType="VARCHAR" property="hospitalId" />
		<result column="total_infection" jdbcType="VARCHAR" property="totalInfection" />
		<result column="operating_departments_infection" jdbcType="DOUBLE" property="operatingDepartmentsInfection" />
		<result column="operating_part_infection" jdbcType="DOUBLE" property="operatingPartInfection" />
		<result column="operating_risk_infection" jdbcType="DOUBLE" property="operatingRiskInfection" />
		<result column="lung_infection" jdbcType="DOUBLE" property="lungInfection" />
		<result column="new_born_infection" jdbcType="DOUBLE" property="newBornInfection" />
		<result column="selective_operations_infection" jdbcType="DOUBLE" property="selectiveOperationsInfection" />
		<result column="blood_infection" jdbcType="DOUBLE" property="bloodInfection" />
		<result column="intensive_care_unit_infection" jdbcType="DOUBLE" property="intensiveCareUnitInfection" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
	</resultMap>

    <sql id="Base_Column_List">
        id,
        hospital_id,
        total_infection,
        operating_departments_infection,
        operating_part_infection,
        operating_risk_infection,
        lung_infection,
        new_born_infection,
        selective_operations_infection,
        blood_infection,
        intensive_care_unit_infection,
        create_time,
        create_user_id,
        update_time,
        update_user_id
    </sql>

    <insert id="insert" parameterType="com.paladin.qos.model.infectIndication.InfectIndication">
        insert into infect_indication (id,
        hospital_id,
        total_infection,
        operating_departments_infection,
        operating_part_infection,
        operating_risk_infection,
        lung_infection,
        new_born_infection,
        selective_operations_infection,
        blood_infection,
        intensive_care_unit_infection,
        create_time,
        create_user_id,
        update_time,
        update_user_id)
        values (#{id,jdbcType=VARCHAR}, #{hospitalId,jdbcType=VARCHAR},
        #{totalInfection,jdbcType=VARCHAR}, #{operatingDepartmentsInfection,jdbcType=DOUBLE}, #{operatingPartInfection,jdbcType=DOUBLE},
        #{operatingRiskInfection,jdbcType=DOUBLE}, #{lungInfection,jdbcType=DOUBLE}, #{newBornInfection,jdbcType=DOUBLE},#{selectiveOperationsInfection,jdbcType=DOUBLE},
        #{bloodInfection,jdbcType=DOUBLE}, #{intensiveCareUnitInfection,jdbcType=DOUBLE}, #{createTime,jdbcType=TIMESTAMP},
        #{createUserId,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.paladin.qos.model.infectIndication.InfectIndication">
        update infect_indication
        set total_infection = #{totalInfection,jdbcType=VARCHAR},
        operating_departments_infection = #{operatingDepartmentsInfection,jdbcType=DOUBLE},
        operating_part_infection = #{operatingPartInfection,jdbcType=DOUBLE},
        operating_risk_infection =  #{operatingRiskInfection,jdbcType=DOUBLE},
        lung_infection = #{lungInfection,jdbcType=DOUBLE},
        new_born_infection = #{newBornInfection,jdbcType=DOUBLE},
        selective_operations_infection = #{selectiveOperationsInfection,jdbcType=DOUBLE},
        blood_infection =  #{bloodInfection,jdbcType=DOUBLE},
        intensive_care_unit_infection = #{intensiveCareUnitInfection,jdbcType=DOUBLE},
        create_time =  #{createTime,jdbcType=TIMESTAMP},
        create_user_id = #{createUserId,jdbcType=VARCHAR},
        update_time =  #{updateTime,jdbcType=TIMESTAMP},
        update_user_id = #{updateUserId,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>

    <select id="findInfectRecord" resultType="com.paladin.qos.service.infectIndication.vo.InfectIndicationVO">
        SELECT i.id,i.`total_infection` AS totalInfection,i.`create_time` as createTime,i.`create_user_id` AS  createUserId
        FROM
        infect_indication as i
        WHERE 1=1
        <if test="createUserId !=null and createUserId != '' ">
            AND create_user_id LIKE CONCAT('%',#{createUserId},'%')
        </if>
        <!--<if test="dateBegin != null and dateBegin!=''">-->
            <!--and create_time <![CDATA[ >= ]]>Date(#{dateBegin})-->
        <!--</if>-->
        <!--<if test="dateEnd != null and dateEnd!=''">-->
            <!--and create_time <![CDATA[ <= ]]>Date(#{dateEnd})-->
        <!--</if>-->

        ORDER BY create_time DESC
    </select>

    <select id="findRecentlyRecord" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM
        infect_indication
        ORDER BY create_time DESC
        limit 1
    </select>

    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from infect_indication
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <delete id="deleteById" parameterType="String">
        delete from infect_indication
         where id = #{id,jdbcType=VARCHAR}
    </delete>

</mapper>
