<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
	<tt:constant
		enumcode="nature-type,subordination-type,region-type,boolean-type,opt-dept-type" />
	<section class="content-header">
		<h1>医保支付方式费用分析</h1>
	</section>
	<section class="content">
		<div class="box box-solid" style="height: 45px; margin-bottom: 10px">
			<div class="box-body no-pad-top">
				<form id="searchbar" class="form-horizontal form-search"
					style="margin-top: 5px; margin-left: 0; margin-right: 0">
					<div class="form-group">
						<div class="col-md-2">
								 <input name="startTime" id="startTime" placeholder="请选择月份" autocomplete="off"  type="text" class="form-control">
						</div>
						<div class="col-md-10">
							<div class="pull-right">
								<button type="button" style="width: 100px"
									class="btn btn-primary tonto-btn-search" onclick="refresh()">
									<i class="fa fa-search"></i>查询
								</button>
								 <button type="button" style="width: 100px"
									class="btn btn-default" >
									<i class="fa fa-repeat"></i>重置
								</button> 
							</div>
						</div>
					</div>
					<!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
					<input type="text" style="display: none">
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="mzybsrpm" class="box-body" style="height: 350px"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="mzybsrqsfxDiv" class="box-body" style="height: 350px">
					</div>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-md-6" style="padding: 0 15px 0 15px;">
				<div class="box box-solid">
					<div class="box-body">
						<table id="dataGrid"></table>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<div class="col-md-6" style="padding: 0 3px 0 15px;">
						<div class="panel panel-default">
							<div class="panel-heading">门诊医保费用占医疗总费用比</div>
							<div class="panel-body">
								<div id="mzybfyzylzfybDiv" class="box-body"
									style="height: 310px"></div>
								<div style="text-align: center;">门诊医保费用总金额<span id='zfy'></span>元</div>
								<div style="text-align: center;">医疗总费用<span id='ybzfy'></span>元</div>
							</div>
						</div>
					</div>
					<div class="col-md-6" style="padding: 0 15px 0 3px;">
						<div class="panel panel-default">
							<div class="panel-heading">门诊医保患者费用构成分析</div>
							<div class="panel-body">
								<div id="mzybhzfygcfxDiv" class="box-body"
									style="height: 350px;"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
	<script type="text/javascript">
	var table;
	
	window.addEventListener("resize", function() {
		teamChart.resize();
		teamChart2.resize();
		teamChart1.resize();
		teamChart2.resize();
		teamChart4.resize();
	});
	
	  function refresh() {
	        table ? table.refresh() : initDataGrid();
	        opdfxMian();
			mzybsrpm();
			mzybsrqsfx();
			mzybfyzylzfyb();
			opdfxMian();
	        
	    }
		
	$(function() {
		var day=new Date();
        day.setTime(day.getTime());
        var month = day.getFullYear()+"-" + (day.getMonth()+1);
        laydate.render({
            elem: '#startTime',
            type: 'month',
            value:month
        });
             
		opdfxMian();
		mzybsrpm();
		mzybsrqsfx();
		mzybfyzylzfyb();
		initDataGrid();

		});


		
		function initDataGrid() {
			let sTime = $("#startTime").val();
	        let split = sTime.split("-");
	        var lastDay= new Date(split[0],split[1],0);
	        var year = lastDay.getFullYear();
	        var month = lastDay.getMonth() + 1;
	        month = month < 10 ? '0'+ month : month;
	        var day = lastDay.getDate();
	        day = day < 10 ? '0'+day : day;
	        let startTime = sTime + "-01";
	        let endTime = year + "-"+ month +"-"+ day;
		
	        var eventIds1 ='42003,90013,90012'
				 $.postAjax("/qos/analysis/data/get/total",{ startTime : startTime,endTime : endTime, eventIds:eventIds1},function (res) {
					 
					 var eventIds2 ='42003,90013,90012'
						 let sTime = $("#startTime").val();
				        let split = sTime.split("-");
				        var nowdays= new Date(split[0],split[1],0);
					    var year = nowdays.getFullYear();
					    var month = nowdays.getMonth();
					    if(month==0){month=12;year=year-1;}
					    if (month < 10) { month = "0" + month;}
					    var firstDay = year + "-" + month + "-" + "01";//上个月的第一天
					    var myDate = new Date(year, month, 0);
					    var lastDay = year + "-" + month + "-" + myDate.getDate();//上个月的最后一天
					 
					 
					 $.postAjax("/qos/analysis/data/get/total",{ startTime : firstDay,endTime : lastDay, eventIds:eventIds2},function (res1) {
						 
						 var eventIds3 ='42003,90013,90012'
						 debugger;
						 	let sTime = $("#startTime").val();
					        let split = sTime.split("-");
					        var lastDay= new Date(split[0],split[1],0);
					        var year = lastDay.getFullYear();
					        year = year-1;
					        var month = lastDay.getMonth() + 1;
					        month = month < 10 ? '0'+ month : month;
					        var day = lastDay.getDate();
					        day = day < 10 ? '0'+day : day;
					        let startTime = year+"-"+ month+ "-01";
					        let endTime = year + "-"+ month +"-"+ day;
						 $.postAjax("/qos/analysis/data/get/total",{ startTime : startTime,endTime : endTime, eventIds:eventIds3},function (res2) {
							 debugger;
							 var v42003 = res['42003']==0?0:res['42003']/100;
							 var v90013 = res['90013']==0?0:res['90013']/100;
							 var v90012 = res['90012']==0?0:res['90012']/100;
							 var vrate = reta(v90013,v42003);
							 var yzbrate = reta(v90012,v42003);
							 var a1 = res1['42003']==0?0:res1['42003']/100;
							 var b1 =res1['90013']==0?0:res1['90013']/100;
							 var e1 = res1['90012']==0?0:res1['90012']/100;
							 var c1 = reta(b1,a1);
							 var d1 = reta(e1,a1);
							 var a2 = res2['42003']==0?0:res2['42003']/100;
							 var b2 =res2['90013']==0?0:res2['90013']/100;
							 var e2 = res2['90012']==0?0:res2['90012'];
							 var c2 = reta(b2,a2);
							 var d2 = reta(e2,a2);
							
							 var vrate1 = (vrate-c2).toFixed(2);
							 var yzbrate1 = (yzbrate-d2).toFixed(2);
							 
							 var hb1 =0,hb2=0;
							 if(v42003 && a1){
								 hb1 = ((v42003-a1)/a1*100).toFixed(2);
							 }
							 if(v90013 && b1){
								 hb2 = ((v90013-b1)/b1*100).toFixed(2);
							 }
							 
							 //（本期数－同期数）÷同期数×100%
							 
							 var tb1 =0,tb2=0;
							 if(v42003 && a2){
							 	tb1 =((v42003-a2)/a2*100).toFixed(2);
							 }
							 if(v90013 && b2){
							 	tb2 = ((v90013-b2)/b1*100).toFixed(2);
							 }
							 
							 
							 
							 var data= [
										{i1:'门诊医保费用总金额',i2:v42003,i3:a1,i4:hb1,i5:a2,i6:tb1},
										{i1:'门诊医保个人负担金额',i2:v90013,i3:b1,i4:hb2,i5:b2,i6:tb2},
										{i1:'门诊医保自费比例',i2:vrate+'%',i3:c1+'%',i4:(vrate-c1).toFixed(2),i5:c2+'%',i6:vrate1},
										{i1:'门诊医保患者药占比',i2:yzbrate+'%',i3:d1+'%',i4:(yzbrate-d1).toFixed(2),i5:d2+'%',i6:yzbrate1}
									]
								$("#dataGrid").bootstrapTable('destroy').bootstrapTable({data: data,columns : [ [ {
									"title" : "门诊医保费用指标分析",
									"halign" : "left",
									"align" : "left",
									"colspan" : 6
								} ], [ {
									title : "指标名称",
									field : "i1"
								}, {
									title : "本期(元)",
									field : "i2"
								}, {
									title : "上期(元)",
									field : "i3"
								}, {
									title : "环比%",
									field : "i4"
								}, {
									title : "同期(元)",
									field : "i5"
								}, {
									title : "同比%",
									field : "i6"
								}, ] ]}); 
							 
						 })
						
						 
						
					 })
					 
					 
				 })
	        
	        
	        
			
		}
		
		
		
		
		var teamChart1 = echarts.init(document.getElementById('mzybsrpm'));
		
	    function mzybsrpm() {

	    	teamChart1.showLoading({
	            text: '数据正在努力加载...',
	            textStyle: { fontSize : 30 , color: '#444' },
	            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
	        });

	        let sTime = $("#startTime").val();

	        let split = sTime.split("-");

	        var lastDay= new Date(split[0],split[1],0);

	        var year = lastDay.getFullYear();
	        var month = lastDay.getMonth() + 1;
	        month = month < 10 ? '0'+ month : month;
	        var day = lastDay.getDate();
	        day = day < 10 ? '0'+day : day;

	        let startTime = sTime + "-01";

	        let endTime = year + "-"+ month +"-"+ day;


	        $.postAjax("/qos/analysis/data/get/unit",{startTime : startTime,endTime: endTime,eventId:'42003'},function (res) {
	            let  unitName = [];
	            let data = [];
	            if (res && res.length > 0) {
	                res.sort( (u1,u2) => {
	                     u1['rate'] =u1.totalNum/100;
	                     u2['rate'] =u2.totalNum/100;
	                    return   u2.rate - u1.rate
	                } );

	                if (res.length > 11) {
	                    res = res.splice(0,10)
	                }

	                res.forEach( unit => {
	                    unitName.push(unit.unitName);
	                    data.push(unit.rate)
	                })
	            }
	            teamChart1.hideLoading();
	            var isShowScroll = false;// 是否显示滚动条，默认false不显示
	            var dataZoom_end;// 显示百分之多少的数据量，默认全部
	            if(unitName.length >5 ){
	                dataZoom_end = 100/(unitName.length/5);
	                isShowScroll = true;
	            }else{
	                dataZoom_end = 100;
	            }

	        var labelOption = {
	            normal: {
	                show: true,
	                position: 'top',
	                distance: 15,
	                align: 'center',
	                verticalAlign: 'top',
	                rotate: 0,
	                formatter: '{c}',
	                fontSize: 12,
	                rich: {
	                    name: {
	                        textBorderColor: '#fff'
	                    }
	                }
	            }
	        };
	        option = {
	        		title: {
	    		        text: '全市医院门诊医保收入排名(元)',
	    		        top:-5
	    		    },
	            color: ['#3398DB'],
	            tooltip: {
	                trigger: 'axis',
	                axisPointer: {            // 坐标轴指示器，坐标轴触发有效
	                    type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
	                }
	            },
	            grid: {
	                left: '3%',
	                right: '1%',
	                top: '10%',
	                bottom : 20,
	                containLabel: true
	            },
	            calculable: true,
	            dataZoom: [   {
	                start:0,//默认为0
	                end: dataZoom_end,
	                type: 'slider',
	                show: isShowScroll,
	                xAxisIndex: [0],
	                handleSize: 8,//滑动条的 左右2个滑动条的大小
	                height: 10,//组件高度
	                left: "center", //左边的距离
	                bottom:10,
	                handleColor: '#ddd',//h滑动图标的颜色
	                handleStyle: {
	                    borderColor: "#cacaca",
	                    borderWidth: "1",
	                    shadowBlur: 2,
	                    background: "#ddd",
	                    shadowColor: "#ddd",
	                },
	                fillerColor: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
	                    //给颜色设置渐变色 前面4个参数，给第一个设置1，第四个设置0 ，就是水平渐变
	                    //给第一个设置0，第四个设置1，就是垂直渐变
	                    offset: 0,
	                    color: '#1eb5e5'
	                }, {
	                    offset: 1,
	                    color: '#5ccbb1'
	                }]),
	                zoomLock:true, //是否锁定选择区域（或叫做数据窗口）的大小。如果设置为 true 则锁定选择区域的大小，也就是说，只能平移，不能缩放。
	                backgroundColor: '#ddd',//两边未选中的滑动条区域的颜色
	                showDataShadow: false,//是否显示数据阴影 默认auto
	                showDetail: false,//即拖拽时候是否显示详细数值信息 默认true
	                handleIcon: 'M-292,322.2c-3.2,0-6.4-0.6-9.3-1.9c-2.9-1.2-5.4-2.9-7.6-5.1s-3.9-4.8-5.1-7.6c-1.3-3-1.9-6.1-1.9-9.3c0-3.2,0.6-6.4,1.9-9.3c1.2-2.9,2.9-5.4,5.1-7.6s4.8-3.9,7.6-5.1c3-1.3,6.1-1.9,9.3-1.9c3.2,0,6.4,0.6,9.3,1.9c2.9,1.2,5.4,2.9,7.6,5.1s3.9,4.8,5.1,7.6c1.3,3,1.9,6.1,1.9,9.3c0,3.2-0.6,6.4-1.9,9.3c-1.2,2.9-2.9,5.4-5.1,7.6s-4.8,3.9-7.6,5.1C-285.6,321.5-288.8,322.2-292,322.2z',
	                filterMode: 'filter'
	            },
	                //下面这个属性是里面拖到
	                {
	                    type: 'inside',
	                    show: true,
	                    xAxisIndex: [0],
	                    start: 0,//默认为1
	                    end: 50
	                }],
	            xAxis: [
	                {
	                    type: 'category',
	                    data: unitName,
	                    axisTick: {
	                        alignWithLabel: true
	                    },
	                    axisLabel: {
	                        interval:0,
	                        rotate: unitName.length === 1 ? 0 : 40//角度顺时针计算的
	                    } ,
	                }
	            ],
	            yAxis: [
	                {
	                    type: 'value'
	                }
	            ],
	            series: [
	                {
	                    type: 'bar',
	                    smooth: true,
	                    label: labelOption,
	                    barGap: 0,
	                    data: data,
	                }
	            ]
	        };
	        teamChart1.setOption(option,true);

	        });

	    }
		
		var teamChart2 = echarts.init(document.getElementById('mzybsrqsfxDiv'));
		
		function mzybsrqsfx() {
			teamChart2.showLoading({
	            text: '数据正在努力加载...',
	            textStyle: { fontSize : 30 , color: '#444' },
	            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
	        });


	        let sTime = $("#startTime").val();

	        let split = sTime.split("-");

	        var lastDay= new Date(split[0],split[1],0);

	        var year = lastDay.getFullYear();
	        var month = lastDay.getMonth() + 1;
	        month = month < 10 ? '0'+ month : month;
	        var day = lastDay.getDate();
	        day = day < 10 ? '0'+day : day;

	        let startTime = sTime + "-01";

	        let endTime = year + "-"+ month +"-"+ day;



	        $.postAjax("/qos/analysis/data/get/day/instalments",{ startTime : startTime,endTime : endTime, eventId:'42003'},function (res) {
	            let dataValue = [];
	            let timeValue = [];

	            let month42004 = convertDayChartData(res, '42003', true);

	            timeValue = month42004.day;
	            dataValue = month42004.valuesMap['total'];
				
	            var isShowScroll = false;// 是否显示滚动条，默认false不显示
	            var dataZoom_end;// 显示百分之多少的数据量，默认全部
	            if(timeValue.length >10 ){
	                dataZoom_end = 100/(timeValue.length/10);
	                isShowScroll = true;
	            }else{
	                dataZoom_end = 100;
	            }

	            teamChart2.hideLoading();
	            var labelOption = {
	                normal: {
	                    show: true,
	                    position: 'bottom',
	                    distance: 30,
	                    align: 'center',
	                    verticalAlign: 'top',
	                    rotate: 90,
	                    formatter: '{c}',
	                    fontSize: 12,
	                    rich: {
	                        name: {
	                            textBorderColor: '#fff'
	                        }
	                    }
	                }
	            };
	            option = {
	            		title: {
		    		        text: '门诊医保收入趋势分析',
		    		        top:-5
		    		    },
	                color: ['#3398DB'],
	                tooltip: {
	                    trigger: 'axis',
	                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
	                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
	                    },
	                    formatter: function (params) {
	                        return params[0].name + '&nbsp;门诊医保收入趋势分析: '
	                            + params[0].data + '元<br/>'
	                    }
	                },
	                grid: {
	                    left: '3%',
	                    right: '1%',
	                    top: '10%',
	                    containLabel: true
	                },
	                calculable: true,
	                dataZoom: [   {
	                    start:0,//默认为0
	                    end: dataZoom_end,
	                    type: 'slider',
	                    show: isShowScroll,
	                    xAxisIndex: [0],
	                    handleSize: 8,//滑动条的 左右2个滑动条的大小
	                    height: 10,//组件高度
	                    left: "center", //左边的距离
	                    bottom:10,
	                    handleColor: '#ddd',//h滑动图标的颜色
	                    handleStyle: {
	                        borderColor: "#cacaca",
	                        borderWidth: "1",
	                        shadowBlur: 2,
	                        background: "#ddd",
	                        shadowColor: "#ddd",
	                    },
	                    fillerColor: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
	                        //给颜色设置渐变色 前面4个参数，给第一个设置1，第四个设置0 ，就是水平渐变
	                        //给第一个设置0，第四个设置1，就是垂直渐变
	                        offset: 0,
	                        color: '#1eb5e5'
	                    }, {
	                        offset: 1,
	                        color: '#5ccbb1'
	                    }]),
	                    zoomLock:true, //是否锁定选择区域（或叫做数据窗口）的大小。如果设置为 true 则锁定选择区域的大小，也就是说，只能平移，不能缩放。
	                    backgroundColor: '#ddd',//两边未选中的滑动条区域的颜色
	                    showDataShadow: false,//是否显示数据阴影 默认auto
	                    showDetail: false,//即拖拽时候是否显示详细数值信息 默认true
	                    handleIcon: 'M-292,322.2c-3.2,0-6.4-0.6-9.3-1.9c-2.9-1.2-5.4-2.9-7.6-5.1s-3.9-4.8-5.1-7.6c-1.3-3-1.9-6.1-1.9-9.3c0-3.2,0.6-6.4,1.9-9.3c1.2-2.9,2.9-5.4,5.1-7.6s4.8-3.9,7.6-5.1c3-1.3,6.1-1.9,9.3-1.9c3.2,0,6.4,0.6,9.3,1.9c2.9,1.2,5.4,2.9,7.6,5.1s3.9,4.8,5.1,7.6c1.3,3,1.9,6.1,1.9,9.3c0,3.2-0.6,6.4-1.9,9.3c-1.2,2.9-2.9,5.4-5.1,7.6s-4.8,3.9-7.6,5.1C-285.6,321.5-288.8,322.2-292,322.2z',
	                    filterMode: 'filter'
	                },
	                    //下面这个属性是里面拖到
	                    {
	                        type: 'inside',
	                        show: true,
	                        xAxisIndex: [0],
	                        start: 0,//默认为1
	                        end: 50
	                    }],
	                xAxis: [
	                    {
	                        type: 'category',
	                        data: timeValue,
	                        axisTick: {
	                            alignWithLabel: true
	                        }
	                    }
	                ],
	                yAxis: [
	                    {
	                        type: 'value'
	                    }
	                ],
	                series: [
	                    {
	                        name: '门诊医保收入趋势分析',
	                        type: 'line',
	                        smooth: false,
	                        label: labelOption,
	                        barGap: 0,
	                        data: dataValue,
	                    }
	                ]
	            };
	            teamChart2.setOption(option,true);
	        });
	    }
		
		
		//门诊医保费用占医疗总费用比
		var teamChart4 = echarts.init(document.getElementById('mzybfyzylzfybDiv'));
		function mzybfyzylzfyb(){
			
			  let sTime = $("#startTime").val();

		        let split = sTime.split("-");

		        var lastDay= new Date(split[0],split[1],0);

		        var year = lastDay.getFullYear();
		        var month = lastDay.getMonth() + 1;
		        month = month < 10 ? '0'+ month : month;
		        var day = lastDay.getDate();
		        day = day < 10 ? '0'+day : day;

		        let startTime = sTime + "-01";

		        let endTime = year + "-"+ month +"-"+ day;
			
			
			var eventIds ='42001,42003'
			 $.postAjax("/qos/analysis/data/get/total",{ startTime : startTime,endTime : endTime, eventIds:eventIds},function (res) {
				  	var value42001=res[42001];
				  	if(value42001){
				  		value42001=value42001/100;
				  	}
				  	var value42003=res[42003];
				  	if(value42003){
				  		value42003=value42003/100;
				  	}
				 	c = 0;
			        if (value42001 && value42003) {
			            c = (value42003 / value42001 * 100).toFixed(2);
			        }
				 
				 $("#zfy").text(value42003);
				 $("#ybzfy").text(value42001);
				 
				 var option = {
		     	            tooltip: {
		     	                trigger: 'item',
		     	                formatter: "{a} <br/>{b}: {c} ({d}%)"
		     	            },
		     	            color: ['#3398DB','#999999'],
		     	            graphic: [{ //环形图中间添加文字
		     	                type: 'text', //通过不同top值可以设置上下显示
		     	                left: 'center',
		     	                top: '45%',
		     	                style: {
		     	                    text: c+'%',
		     	                    textAlign: 'center',
		     	                    fill: 'black', //文字的颜色
		     	                    width: 30,
		     	                    height: 30,
		     	                    fontSize: 30,
		     	                    fontFamily: "Microsoft YaHei"
		     	                }
		     	            }],
		     	            series: [
		     	                {
		     	                    name:'门诊医保费用占医疗总费用比',
		     	                    type:'pie',
		     	                    radius: ['50%', '75%'],
		     						center : [ '50%', '50%' ],
		     	                    avoidLabelOverlap: false,
		     	                    label: {
		     	                        normal: {
		     	                            show: false,
		     	                            position: 'center'
		     	                        },

		     	                    },
		     	                    labelLine: {
		     	                        normal: {
		     	                            show: false
		     	                        }
		     	                    },
		     	                    data:[
		     	                        {
		     	                            value:value42003,
		     	                            name:'药占比'
		     	                        },
		     	                        {
		     	                            value:value42001==0?'1':value42001,
		     	                            name:'',
		     	                            hoverAnimation:false,
		     	                            tooltip:{//禁止鼠标悬停显示提示框
		     	                                show:false,
		     	                            },
		     	                        }
		     	                    ]
		     	                }
		     	            ]
		     	        };
					 teamChart4.setOption(option, true);
			 });
			
			
		}
		
		//门诊医保患者费用构成分析
		var teamChart = echarts.init(document.getElementById('mzybhzfygcfxDiv'));
		function opdfxMian() {
			
			let sTime = $("#startTime").val();

	        let split = sTime.split("-");

	        var lastDay= new Date(split[0],split[1],0);

	        var year = lastDay.getFullYear();
	        var month = lastDay.getMonth() + 1;
	        month = month < 10 ? '0'+ month : month;
	        var day = lastDay.getDate();
	        day = day < 10 ? '0'+day : day;

	        let startTime = sTime + "-01";

	        let endTime = year + "-"+ month +"-"+ day;
			
			var eventIds='90001,90002,90003,90004,90005,90006,90007,90008,90009,90011,90012';
			 $.postAjax("/qos/analysis/data/get/total",{ startTime : startTime,endTime : endTime, eventIds:eventIds},function (res) {
				 debugger;
				 option = {
							tooltip : {
								trigger : 'item',
								formatter : "{a} <br/>{b} : {c} ({d}%)"
							},
							 legend: {
							        //orient: 'vertical',
							        type:"scroll",
							        x: 'left',
							        data:['诊察费','检查费','化验费','治疗费','手术费','材料费','药品','西药费','中成药费','中草药费','服务费','其他收费'],
							        bottom:0
							    },
							series : [ {
								name : '',
								type : 'pie',
								radius : '60%',
								center : [ '50%', '40%' ],
								data : [ {
									value : res[90001]/100,
									name : '诊察费'
								}, {
									value : res[90002]/100,
									name : '检查费'
								}, {
									value : res[90003]/100,
									name : '化验费'
								}, {
									value : res[90004]/100,
									name : '治疗费'
								}, {
									value : res[90005]/100,
									name : '手术费'
								}, {
									value : res[90006]/100,
									name : '材料费'
								}, {
									value : res[90007]/100,
									name : '药品'
								}, {
									value : res[90008]/100,
									name : '西药费'
								}, {
									value : res[90009]/100,
									name : '中成药费'
								}, {
									value : res[90011]/100,
									name : '其他'
								}, {
									value : res[90012]/100,
									name : '其他收费'
									
								} ],
								itemStyle : {
									emphasis : {
										shadowBlur : 10,
										shadowOffsetX : 0,
										shadowColor : 'rgba(0, 0, 0, 0.5)'
									}
								}
							} ]
						};
						teamChart.setOption(option, true);
			 })
			
		}
		
		
		function convertDayChartData(data) {
	          var  eventData = data,
	            unitPoints = eventData.unitPoints,
	            day = [],
	            valuesMap = {},
	            totalValues = [];

	        var first = true;

	        unitPoints && unitPoints.forEach(function(unitPoint) {
	            var points = unitPoint.points,
	                unitId = unitPoint.unitId;

	            var values = valuesMap[unitId];
	            if (!values) {
	                values = [];
	                valuesMap[unitId] = values;
	            }

	            for (var i = 0; i < points.length; i++) {
	                var point = points[i];
	                if (first) {
	                    day.push(point.year + '-' + point.month+'-'+point.day);
	                }

	                //values.push((point.eventNum/100).toFixed(2));

	                values.push(point.totalNum);

	                var totalVal = totalValues[i];
	                if (!totalVal) {
	                    totalVal = {
	                        totalNum: point.totalNum,
	                        eventNum: point.eventNum
	                    }
	                    totalValues[i] = totalVal;
	                } else {
	                    totalVal.totalNum += point.totalNum;
	                    totalVal.eventNum += point.eventNum;
	                }
	            }

	            first = false;
	        });

	        var totalVals = [];
	        for (var j = 0; j < totalValues.length; j++) {
	            var tv = totalValues[j];
	            totalVals.push(tv.totalNum/100);
	        }

	        valuesMap.total = totalVals;
	        return {
	            day: day,
	            valuesMap: valuesMap
	        }
	    }
		
		
	function reta(a,b){
	 	var c = 0; 
        if (a && b) {
            c = (a / b * 100).toFixed(2);
        }
        return c;
	}
	
	function getLastMonth(){//获取上个月日期
		    var date = new Date; 
		    var year = date.getFullYear();
		    var month = date.getMonth();
		    if(month == 0){
		         year = year -1;
		         month = 12; 
		    }
		    return year+"-"+month;
		}
	</script>
</body>

</html>