<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />
<link rel="stylesheet" href="/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.css" />
<body>
    <tt:constant enumcode="data-event-type,data-unit-type" />
    <!--   <section class="content-header">
        <h1>数据展示</h1>
    </section> -->
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select id="unitId" name="unitId" class="form-control tonto-select-constant" enumcode="data-unit-type">
                            <option value="">请选择医疗机构</option>
                            </select>
                        </div>
                         <div class="col-md-2">
                            <input id="createTime" name="date" placeholder="请选择时间" autocomplete="off" type="text" class="form-control" value="">
                        </div> 
                        <div class="col-md-8">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="dataReslut()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-right: 0">
	            <div class="nav-tabs-custom">
		            <ul class="nav nav-tabs">
                        <li class="active"><a href="#hz" data-toggle="tab" aria-expanded="true">汇总统计</a></li>
                        <li class=""><a href="#mz" data-toggle="tab" aria-expanded="false">门诊统计</a></li>
                        <li class=""><a href="#zy" data-toggle="tab" aria-expanded="false">住院统计</a></li>
                    </ul>
		            <div class="tab-content">
                        <div class="tab-pane active" id="hz">
                            <div class="box-solid">
                                <table id="dataGrid1"></table>
                            </div>
                        </div>
                        <div class="tab-pane" id="mz">
                            <div class="box-solid">
                                <table id="dataGrid2"></table>
                            </div>
                        </div>
                        <div class="tab-pane" id="zy">
                            <div class="box-solid">
                                <table id="dataGrid3"></table>
                            </div>
                        </div>
                    </div>
	            </div>
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                    <div id="drugsChartDiv" class="box-body" style="height: 400px">
                    </div>
                </div>
                <div class="box box-solid">
                    <div id="drugFeeChartDiv" class="box-body" style="height: 400px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/qos/footer" />
    <script type="text/javascript" src="/static/js/chart.js"></script>
    <script src="/static/assets/bootstrap-table/extensions/fixed-columns/bootstrap-table-fixed-columns.js"></script>
    <script type="text/javascript">
  //<![CDATA[
	//图表自适应大小      
	window.addEventListener("resize", function() {
		drugChart.resize();
		drugFeeChart.resize();
	});

    var $table1 = $('#dataGrid1');
    var table,table1,dataVal,dataVal1,selectUnit,chartData;
    $(function() {
        buildTable2();
    	 laydate.render({
             elem: '#createTime',
             type: 'month',
             max:'nowTime',
             value:''
         });
    });
    
    /*function dataReslut(){
    	var unitId = $("#unitId").val();
    	var date = $("#createTime").val();
    	$.post("/qos/medication/find?unitId="+unitId+"&date="+date,function(res){
        	var sumData = res.result || [];
        	 var arr = [];
        	 for (var i = 0; i < sumData.length; i++) {
                 if (i == 0) arr.push(sumData[i]);
                 b = false;
                 if (arr.length > 0 && i > 0) {
                   for (var j = 0; j < arr.length; j++) {
                     if (arr[j].unitId == sumData[i].unitId) {
                   	  if(sumData[i].oPDCount != 0)arr[j].oPDCount = sumData[i].oPDCount;
                   	  if(sumData[i].oPDMoney != 0)arr[j].oPDMoney = sumData[i].oPDMoney;
                   	  
                   	  var oPDMoney = sumData[i].oPDMoney;
                   	  var oPDCount = arr[j].oPDCount;
                   	  if(oPDMoney != 0 && oPDCount !=0)
                   		  	arr[j].oPDAverageMoney = (oPDMoney/oPDCount).toFixed(2);
                   	  
                   	  if(sumData[i].inPatientCount != 0)arr[j].inPatientCount = sumData[i].inPatientCount;
                   	  if(sumData[i].inPatientMoney != 0)arr[j].inPatientMoney = sumData[i].inPatientMoney;
                   	  
                   	  var inPatientMoney = sumData[i].inPatientMoney;
                   	  var inPatientCount = arr[j].inPatientCount;
                   	  
                   	  if(inPatientMoney != 0 && inPatientCount != 0)
                   		  arr[j].inPatietAverageMoney = (inPatientMoney/inPatientCount).toFixed(2);
                   	  
                   	  var oPDDrugCount = sumData[i].oPDDrugCount;
                   	  if(oPDDrugCount !=0)arr[j].oPDDrugCount=oPDDrugCount;
                   	  
                   	  if(oPDDrugCount != 0 && oPDCount !=0)
                   		 arr[j].oPDDrugAvg = (oPDDrugCount/oPDCount).toFixed(0);
                   	  
                   	  var inPatientDrugCount = sumData[i].inPatientDrugCount;
                   	  if(inPatientDrugCount !=0)arr[j].inPatientDrugCount=inPatientDrugCount;
                   	  
                   	 if(inPatientCount != 0 && inPatientDrugCount !=0)
                   		 arr[j].inPatientDrugAvg = (inPatientDrugCount/inPatientCount).toFixed(0);
                   	  
                   	  if(sumData[i].inPersonCount != 0)arr[j].inPersonCount = sumData[i].inPersonCount;
                   	  if(sumData[i].outPersonCount != 0)arr[j].outPersonCount = sumData[i].outPersonCount;
                       b = true;
                     }
                   }
                   if (!b) {
                     arr.push(sumData[i]);
                   }
                 }
               }
        	dataValue = arr;
        	buildTable1(arr);
        	buildTable2(arr);
        	buildTable3(arr);
        })
    }*/
    
	function buildTable1(){
		 columns= [
              { title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医疗机构&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", field: "unitName",align:'center'  },
              { title: "就医总人次", field: "count" ,align:'center'},
              { title: "就医患者使用药瓶数", field: "drugNum",align:'center'},
              { title: "就医人均使用药瓶数", field: "drugAvgCount" ,align:'center'},
              { title: "就医患者药品总费用(元)", field: "totalMoney" ,align:'center'},
              { title: "每次就诊人均药费(元)", field: "averageMoney",align:'center' }
           ];

		 let datas = [];

         mergeOrgTotalNumArr(dataVal,datas);
         mergeOrgTotalNumArr(dataVal1,datas);


	/*	for (var i = 0; i < arr.length; i++) {
			 row = {};
			 row['unitName'] = arr[i].unitName;
			 var tatal = arr[i].oPDCount + arr[i].inPatientCount;
			 row['total'] = tatal;
			 var totalMoney = (arr[i].oPDMoney + arr[i].inPatientMoney).toFixed(2);
			 row['totalMoney'] = (totalMoney <=0?0:totalMoney);
			 if(tatal !=0 && totalMoney !=0){
				 row['averageMoney'] = (totalMoney/tatal).toFixed(2);
			 }else{
				 row['averageMoney'] = 0;
			 }
			 
			 var drugNum = arr[i].oPDDrugCount + arr[i].inPatientDrugCount;
			 row['drugNum'] = drugNum;
			 
			 if(tatal !=0 && drugNum !=0){
				 row['drugAvgCount'] = (drugNum/tatal).toFixed(0);
			 }else{
				 row['drugAvgCount'] = 0;
			 }
			 
			 datas.push(row);
		}*/

        $table1.bootstrapTable('destroy').bootstrapTable({
            columns: columns,
            data: datas,
            striped: true, //是否显示行间隔色
            clickToSelect: true,
            fixedColumns: true,
            fixedNumber: 1, //固定列数,
            onClickRow: function(row, tr) {
                $("#dataGrid1").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            }
        });

        chartData = datas.filter(function(data) { return data.unitId !== 'total'});

        chart1();
        chart2();
  	}

  function unitSelected(row) {
      if (row.unitId === 'total') return;
      selectUnit = row.unitId;
      chart1();
      chart2();
  }

  function mergeOrgTotalNumArr(arr,newArr) {
        let drugAvgTotal = 0;
        let averageMoneyTotal = 0;
      arr.reduce((newArr, obj) =>{
          let originObj = newArr.find(point => point.unitId === obj.unitId);
          if (originObj) {
              let number = 0;
              let number1 = 0;
               originObj.count += obj.ev31001 ? obj.ev31001 : (obj.ev31004 ? obj.ev31004  : 0 );
               originObj.drugNum += obj.ev31003 || obj.ev31006 ;
               originObj.totalMoney += obj.ev31002 || obj.ev31005 ;
              if (originObj.count) {
                  number = originObj.drugNum / originObj.count;
                  number1 = originObj.totalMoney / originObj.count;
              }
              originObj.drugAvgCount = Math.round(number);
              originObj.averageMoney =  number1.toFixed(2) * 1;
              drugAvgTotal += originObj.drugAvgCount;
              averageMoneyTotal += originObj.averageMoney;
          }else {
              newArr.push({
                  unitName:obj.unitName,
                  count:obj.ev31001 ? obj.ev31001 : (obj.ev31004 ? obj.ev31004  : 0 ),
                  unitId:obj.unitId,
                  drugNum:obj.ev31003 || obj.ev31006,
                  totalMoney:obj.ev31002 || obj.ev31005,
                  drugAvgCount:0,
                  averageMoney:0
              })
          }
          return  newArr;
      },newArr);
      let totalObj = newArr.find(point => point.unitId === 'total');
      totalObj.drugAvgCount = drugAvgTotal;
      totalObj.averageMoney = averageMoneyTotal;
  }


  function buildTable2(){
        table = $.createTable("#dataGrid2", {
            idField: "id",
            columns: [
                [
                    { title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医疗机构&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", field: "unitName"},
                    { title: "门急诊人次", field: "ev31001" },
                    { title: "门急诊使用药瓶数", field: "ev31003" },
                    { title: "门急诊人均使用药瓶数", field: "oPDDrugAvg" ,formatter:function (value, row, index) {
                        let number = 0;
                        if (row.ev31001 !== 0) {
                            number  = row.ev31003 / row.ev31001;
                        }
                        return Math.round(number);
                    }},
                    { title: "门急诊药品总费用(元)", field: "ev31002" },
                    { title: "门急诊每次人均药费(元)", field: "oPDAverageMoney" ,formatter:function (value, row, index) {
                            let number = 0;
                            if (row.ev31001 !== 0) {
                                number  = row.ev31002 / row.ev31001;
                            }
                            return number.toFixed(2);
                        }}
                ]
            ],
            url: '/qos/analysis/data/get/unit',
            pagination: false,
            searchbar: '#searchbar',
            queryParams: function(params) {
                params.eventIds = '31001,31002,31003';
                requestParam = params;
                return params;
            },
            responseHandler: function(response) {
                if (!response) {
                    return null;
                }

                var data = {};

                convertCount2TableData(response, '31001', data);
                convertCount2TableData(response, '31002', data);
                convertCount2TableData(response, '31003', data);

                var result = [];
                for (var o in data) {
                    result.push(data[o]);
                }
                dataVal = result|| [];

                buildTable3();

                return  result;

            }
        });
	}

	function buildTable3(){
        table1 = $.createTable("#dataGrid3", {
            idField: "id",
            columns: [
                [
                    { title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医疗机构&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", field: "unitName"},
                    { title: "住院人次", field: "ev31004" },
                    { title: "住院患者使用药瓶数", field: "ev31006" },
                    { title: "住院人均使用药瓶数", field: "inPatientDrugAvg" ,formatter:function (value, row, index) {
                            let number = 0;
                            if (row.ev31004 !== 0) {
                                number  = row.ev31006 / row.ev31004;
                            }
                            return Math.round(number);
                        }},
                    { title: "住院药品总费用(元)", field: "ev31005" },
                    { title: "住院每次人均药费(元)", field: "inPatietAverageMoney" ,formatter:function (value, row, index) {
                            let number = 0;
                            if (row.ev31004 !== 0) {
                                number  = row.ev31005 / row.ev31004;
                            }
                            return number.toFixed(2);
                        }}
                ]
            ],
            url: '/qos/analysis/data/get/unit',
            pagination: false,
            searchbar: '#searchbar',
            queryParams: function(params) {
                params.eventIds = '31004,31005,31006';
                requestParam = params;
                return params;
            },
            responseHandler: function(response) {
                if (!response) {
                    return null;
                }

                var data = {};

                convertCount2TableData(response, '31004', data);
                convertCount2TableData(response, '31005', data);
                convertCount2TableData(response, '31006', data);

                var result = [];
                for (var o in data) {
                    result.push(data[o]);
                }
                dataVal1 = result|| [];
                buildTable1();
                return   result;
            }
        });
	}

   
    var drugChart = echarts.init(document.getElementById('drugsChartDiv'));
    var drugFeeChart = echarts.init(document.getElementById('drugFeeChartDiv'));
    
    function chart1(){

        let datas = selectUnit ? chartData.filter(d => d.unitId === selectUnit) : chartData ;

    	if(datas){
    		drugChart.showLoading({
 	           text: '数据正在努力加载...',
 	           textStyle: { fontSize : 30 , color: '#444' },
 	           effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
 	       	});

    		var xAxis = [],series = [];
    		datas.sort(compare('drugAvgCount'));
    		for(var i=0;i<datas.length;i++){
    			xAxis.push(datas[i].unitName);
    			series.push({name:datas[i].unitName,value:datas[i].drugAvgCount});
    		}
    		drugChart.hideLoading();
    	}

        var labelOption = {
            normal: {
                show: true,
                position: 'top',
                distance: 15,
                align: 'center',
                verticalAlign: 'top',
                rotate: 0,
                formatter: '{c}',
                fontSize: 15,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            }
        };
    	var option = {
    			title: {
			        text:  xAxis.length === 1 ? '人均使用药瓶数排名(医疗机构: '+ xAxis[0] +')' :'人均使用药瓶数排名',
			    },
    			color : [ '#3398DB' ],
    			tooltip : {
    				trigger : 'axis',
    				axisPointer : { // 坐标轴指示器，坐标轴触发有效
    					type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
    				}
    			},
    			 toolbox: {
      		        feature: {
      		            saveAsImage: {}
      		        }
      		    },
    			grid : {
    				left : '3%',
    				right : '4%',
    				bottom : '3%',
    				containLabel : true
    			},
    			xAxis : [ 
    			          {
    				type : 'category',
    				data : xAxis,
    				 axisLabel: {
    		                 interval:0,
    		                 rotate:datas.length ===1 ? 0 : 50//角度顺时针计算的
    		                } ,
    				axisTick : {
    					alignWithLabel : true
    				}
    			} 
    			],
    			yAxis : [ 
    			          {
    				type : 'value'
    			}
    			],
    			series : [ {
    				name : '就医人均使用药瓶数(瓶)',
    				type : 'bar',
                    label: labelOption,
    				data : series
    			} ]
    		};
    	drugChart.setOption(option,true);
    }
    
    function chart2(){
        let datas = selectUnit ? chartData.filter(d => d.unitId === selectUnit) : chartData ;

    	if(datas){
    		drugFeeChart.showLoading({
  	           text: '数据正在努力加载...',
  	           textStyle: { fontSize : 30 , color: '#444' },
  	           effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
  	       	});
    		
    		var xAxis = [],series = [];
    		datas.sort(compare('averageMoney'));
    		for(var i=0;i<datas.length;i++){
    			xAxis.push(datas[i].unitName);
    			series.push({name:datas[i].unitName,value:datas[i].averageMoney});
    		}
    		
    		drugFeeChart.hideLoading();
    	}
        var labelOption = {
            normal: {
                show: true,
                position: 'top',
                distance: 15,
                align: 'center',
                verticalAlign: 'top',
                rotate: 0,
                formatter: '{c}',
                fontSize: 10,
                rich: {
                    name: {
                        textBorderColor: '#fff'
                    }
                }
            }
        };
    	var option = {
    			title: {
                    text:  xAxis.length === 1 ? '人均药费排名(医疗机构: '+ xAxis[0] +')' :'人均药费排名',
			    },
    			color : [ '#3398DB' ],
    			tooltip : {
    				trigger : 'axis',
    				axisPointer : { // 坐标轴指示器，坐标轴触发有效
    					type : 'shadow' // 默认为直线，可选为：'line' | 'shadow'
    				}
    			},
    			 toolbox: {
      		        feature: {
      		            saveAsImage: {}
      		        }
      		    },
    			grid : {
    				left : '3%',
    				right : '4%',
    				bottom : '3%',
    				containLabel : true
    			},
    			xAxis : [ 
    			          {
    				type : 'category',
    				data : xAxis,
    				 axisLabel: {
    		                 interval:0,
                             rotate:datas.length ===1 ? 0 : 50//角度顺时针计算的
    		                } ,
    				axisTick : {
    					alignWithLabel : true
    				}
    			} 
    			],
    			yAxis : [ 
    			          {
    				type : 'value'
    			}
    			],
    			series : [ {
    				name : '每次就诊人均药费(元)',
    				type : 'bar',
                    label: labelOption,
    				data : series
    			} ]
    		};
    	drugFeeChart.setOption(option,true);
    }
    
    function compare(property){
        return function(a,b){
            var value1 = a[property];
            var value2 = b[property];
            return value2 - value1;
        }
    }

  function convertCount2TableData(originData, eventId, data) {
      var eventData = originData[eventId],
          fieldName = 'ev' + eventId,
          total = 0;

      eventData && eventData.forEach(function(item) {
          var id = item.unitId;
          unitData = data[id];
          if (!unitData) {
              unitData = {
                  unitId: id,
                  unitName: item.unitName
              };
              data[id] = unitData;
          }
          unitData[fieldName] = item.count;
          total += item.count;
      });

      var totalData = data['total'];
      if (!totalData) {
          totalData = {
              unitId: 'total',
              unitName: '合计',
          }
          data['total'] = totalData;
      }
      totalData[fieldName] = total;
  }

  function getRate(item, fixed) {
      var a = item.eventNum,
          b = item.totalNum,
          c = 0;
      if (a && b) {
          c = a / b * 100;
      }
      return c.toFixed(fixed || 2) + '%';
  }

    
	//]]>
    </script>
</body>

</html>