<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="data-event-type,data-unit-type" />
    <!--   <section class="content-header">
        <h1>数据展示</h1>
    </section> -->
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2" style="display:none">
                            <select name="eventId" class="form-control tonto-select-constant" enumcode="data-event-type">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input id="startTime" name="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date" value="2018-01-01">
                        </div>
                        <div class="col-md-2">
                            <input id="endTime" name="endTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-body">
                        <table id="dataGrid"></table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                <label for="monthInput" class="col-sm-2 control-label">住院死亡率趋势图</label>
                    <div id="sumChartDiv" class="box-body" style="height: 300px">
                    </div>
                </div>
                <div class="box box-solid">
                    <form class="form-horizontal" style="padding-top: 20px;padding-left: 20px">
                        <div class="form-group">
                            <label for="monthInput" class="col-sm-2 control-label">住院死亡率柱状图</label>
                            <!-- <div class="col-md-4">
                                <input id="monthInput" placeholder="请选择月份" autocomplete="off" type="text" class="form-control">
                            </div> -->
                        </div>
                    </form>
                    <div id="dayChartDiv" class="box-body" style="height: 400px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/qos/footer" />
    <script type="text/javascript" src="/static/js/chart.js"></script>
    <script type="text/javascript">
    var table, sumChart, dayChart, sumData, requestParams;
    $(function() {
        initTable();
    });
     //1.住院死亡率
    function getDeathRate(row) {
        var e = row.deathEventNum,
            t = row.deathTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //2.新生儿住院总死亡率
    function getNewBabyDeathRate(row) {
        var e = row.newBabyDeathEventNum,
            t = row.newBabyDeathTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //3.新生儿手术患者住院死亡率
    function getNewBabyOperationDeathRate(row) {
        var e = row.newBabyOperationDeathEventNum,
            t = row.newBabyOperationDeathTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //4.新生儿非手术患者住院死亡率
    function getNewBabyNonOperationDeathRate(row) {
        var e = row.newBabyNonOperationDeathEventNum,
            t = row.newBabyNonOperationDeathTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //5.新生儿患者出生体重<=750克死亡率
    function getNewBabyWeightOneRate(row) {
        var e = row.newBabyWeightOneEventNum,
            t = row.newBabyWeightOneTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //6.新生儿患者出生体重751-1000克死亡率
    function getNewBabyWeightTwoRate(row) {
        var e = row.newBabyWeightTwoEventNum,
            t = row.newBabyWeightTwoTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //7.新生儿患者出生体重1001-1800克死亡率
    function getNewBabyWeightThreeRate(row) {
        var e = row.newBabyWeightThreeEventNum,
            t = row.newBabyWeightThreeTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //8.新生儿患者出生体重>=1801克死亡率
    function getNewBabyWeightFourRate(row) {
        var e = row.newBabyWeightFourEventNum,
            t = row.newBabyWeightFourTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    
    
    

    var currentElement;

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { checkbox: true },
                    { title: "医疗机构", field: "unitName",
                    	formatter: function(value, row, index) {
                             if(value=="0"){
                            	 return "总计";
                             }else{
                            	 return value;
                             }
                    	} 
                    },
                    { title: "住院死亡率", field: "deathRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       } 
                    },
                    { title: "新生儿住院总死亡率", field: "newBabyDeathRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "新生儿手术患者住院死亡率", field: "newBabyOperationDeathRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "新生儿非手术患者住院死亡率", field: "newBabyNonOperationDeathRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "新生儿患者出生体重<=750克死亡率", field: "newBabyWeightOneRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "新生儿患者出生体重751-1000克死亡率", field: "newBabyWeightTwoRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "新生儿患者出生体重1001-1800克死亡率", field: "newBabyWeightThreeRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "新生儿患者出生体重>=1801克死亡率", field: "newBabyWeightFourRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    }
                ]
            ],
            url: '/qos/analysis/data/deathRate',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            onCheck: function(row) {
                console.log("on check");
                console.log(row);

            },
            onUncheck: function(row) {
                console.log("on uncheck");
                console.log(row);
            },
            queryParams: function(params) {
                requestParams = params;
                console.log(params);
            return params;
            },
            responseHandler: function(res) {
                sumData = res || [];
                console.log(res);
                console.log(sumData);
                
              //遍历数组
                var event1 = 0,total1=0,event2 = 0,total2=0,event3 = 0,total3=0,event4 = 0,total4=0,
                    event5 = 0,total5=0,event6 = 0,total6=0,event7 = 0,total7=0,event8 = 0,total8=0;
                $.each(sumData,function(n,value) {
                	event1+=value.deathEventNum;
                	total1+=value.deathTotalNum;
                	event2+=value.newBabyDeathEventNum;
                	total2+=value.newBabyDeathTotalNum;
                	event3+=value.newBabyOperationDeathEventNum;
                	total3+=value.newBabyOperationDeathTotalNum;
                	event4+=value.newBabyNonOperationDeathEventNum;
                	total4+=value.newBabyNonOperationDeathTotalNum;
                	event5+=value.newBabyWeightOneEventNum;
                	total5+=value.newBabyWeightOneTotalNum;
                	event6+=value.newBabyWeightTwoEventNum;
                	total6+=value.newBabyWeightTwoTotalNum;
                	event7+=value.newBabyWeightThreeEventNum;
                	total7+=value.newBabyWeightThreeTotalNum;
                	event8+=value.newBabyWeightFourEventNum;
                	total8+=value.newBabyWeightFourTotalNum;
                }
                )
                
                var deathEntity={};

                deathEntity.unitName = '0'; 
                deathEntity.deathEventNum=event1;  deathEntity.deathTotalNum=total1;  deathEntity.newBabyDeathEventNum = event2; deathEntity.newBabyDeathTotalNum = total2
                deathEntity.newBabyOperationDeathEventNum=event3;  deathEntity.newBabyOperationDeathTotalNum=total3;  deathEntity.newBabyNonOperationDeathEventNum = event4; deathEntity.newBabyNonOperationDeathTotalNum = total4;
                deathEntity.newBabyWeightOneEventNum=event5;  deathEntity.newBabyWeightOneTotalNum=total5;  deathEntity.newBabyWeightTwoEventNum = event6; deathEntity.newBabyWeightTwoTotalNum = total6;
                deathEntity.newBabyWeightThreeEventNum=event7;  deathEntity.newBabyWeightThreeTotalNum=total7;  deathEntity.newBabyWeightFourEventNum = event8; deathEntity.newBabyWeightFourTotalNum = total8;
                sumData.push(deathEntity);
                
                
                for (var i = 0; i < sumData.length; i++) {
                    var row = sumData[i];
                    row.deathRate = getDeathRate(row);
                    row.newBabyDeathRate = getNewBabyDeathRate(row);
                    row.newBabyOperationDeathRate = getNewBabyOperationDeathRate(row);
                    row.newBabyNonOperationDeathRate = getNewBabyNonOperationDeathRate(row);
                    row.newBabyWeightOneRate = getNewBabyWeightOneRate(row);
                    row.newBabyWeightTwoRate = getNewBabyWeightTwoRate(row);
                    row.newBabyWeightThreeRate = getNewBabyWeightThreeRate(row);
                    row.newBabyWeightFourRate = getNewBabyWeightFourRate(row);
                    
                }
                
                initDayChart();
                initSumChart();
                return sumData;
            }
        });
    }
    
    
    
    


    function initDayChart() {
    	var dataAxis = [],//x轴
    	deathRate =[],
        newBabyDeathRate =[],
        newBabyOperationDeathRate =[],
        newBabyNonOperationDeathRate =[],
        newBabyWeightOneRate =[],
        newBabyWeightTwoRate =[],
        newBabyWeightThreeRate =[],
        newBabyWeightFourRate =[];
    	var myChart = echarts.init(document.getElementById('dayChartDiv'));
    	//x轴
    	for (var i = 0; i < sumData.length-1; i++) {
            var it = sumData[i];
            dataAxis.push(it.unitName);
        }
    	console.log(sumData);
    	for (var i = 0; i < sumData.length-1; i++) {
            var it = sumData[i];
            deathRate.push(it.deathRate);
            newBabyDeathRate.push(it.newBabyDeathRate);
            newBabyOperationDeathRate.push(it.newBabyOperationDeathRate);
            newBabyNonOperationDeathRate.push(it.newBabyNonOperationDeathRate);
            newBabyWeightOneRate.push(it.newBabyWeightOneRate);
            newBabyWeightTwoRate.push(it.newBabyWeightTwoRate);
            newBabyWeightThreeRate.push(it.newBabyWeightThreeRate);
            newBabyWeightFourRate.push(it.newBabyWeightFourRate);
        }
    	
    	myChart.setOption({        //加载数据图表
        	//color:['#1e90ff','#f0ffff'],
            title: {
                text: ''
            },
            tooltip: { 
            	trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            
            grid: {
                left: '0%',
                right: '0%',
                bottom: '5%',
                containLabel: true
            },
            legend: {
            	type:"scroll",
            	data: ['住院死亡率', '新生儿住院总死亡率','新生儿手术患者住院死亡率','新生儿非手术患者住院死亡率','新生儿患者出生体重<=750克死亡率','新生儿患者出生体重751-1000克死亡率','新生儿患者出生体重1001-1800克死亡率','新生儿患者出生体重>=1801克死亡率'],
                bottom:0
            },
            xAxis: {
            	type: 'category',
                axisLabel: {
                    interval:0,
                    rotate:25//角度顺时针计算的
                } ,
                axisTick : {
                    alignWithLabel : true
                },
            	data: dataAxis,
            },
            yAxis: {
            	type: 'value'
            },
            grid: {
                bottom: '80px',
            },
            series: [
            	 {  type: 'bar',
            		 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:2,
                         }
                     },
                name: '住院死亡率',
                data: deathRate},
            	 {  type: 'bar',
                	 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                   name: '新生儿住院总死亡率',
                   data: newBabyDeathRate},
            	 {  type: 'bar',
              	   barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                     name: '新生儿手术患者住院死亡率',
                     data: newBabyOperationDeathRate},
            	 {  type: 'bar',
                  	 barWidth : 5,
                       itemStyle:{
                           normal:{
                               barBorderRadius:3,
                           }
                       },
                     name: '新生儿非手术患者住院死亡率',
                     data: newBabyNonOperationDeathRate},
            	 {  type: 'bar',
                    	 barWidth : 5,
                         itemStyle:{
                             normal:{
                                 barBorderRadius:3,
                             }
                         },
                     name: '新生儿患者出生体重<=750克死亡率',
                     data: newBabyWeightOneRate},
            	 {  type: 'bar',
                	 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                     	name: '新生儿患者出生体重751-1000克死亡率',
                     data: newBabyWeightTwoRate},
            	 {  type: 'bar',
               	    barWidth : 5,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                        }
                    },
                     	name: '新生儿患者出生体重1001-1800克死亡率',
                     data: newBabyWeightThreeRate},
            	 {  type: 'bar',
                	 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                     	name: '新生儿患者出生体重>=1801克死亡率',
                     data: newBabyWeightFourRate}
                     
           ]
        });
    	
    }
    
    
    function initSumChart(){
    	var yearMonth=[],
        deathRate1 =[],
        newBabyDeathRate1 =[],
        newBabyOperationDeathRate1 =[],
        newBabyNonOperationDeathRate1 =[],
        newBabyWeightOneRate1 =[],
        newBabyWeightTwoRate1 =[],
        newBabyWeightThreeRate1 =[],
        newBabyWeightFourRate1 =[];
    	 var myChart = echarts.init(document.getElementById('sumChartDiv'));
    	 var it={};
    	 $.ajax({
    	        type: "post",
    	        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
    	        url: "/qos/analysis/data/getDeathByMonth",   
    	        data:{"startTime":$("#startTime").val(),"endTime":$("#endTime").val()},
    	        dataType: "json",        //返回数据形式为json
    	        success: function (data) {
    	           if(data.result){
    	           for (var i = 0; i < data.result.length; i++) {
    	        	   var it = data.result[i];
    	               yearMonth.push(it.year+"-"+it.month);
    	           }
    	           
    	           for (var i = 0; i < data.result.length; i++) {
                       var row = data.result[i];
                       row.deathRate = getDeathRate(row);
                       row.newBabyDeathRate = getNewBabyDeathRate(row);
                       row.newBabyOperationDeathRate = getNewBabyOperationDeathRate(row);
                       row.newBabyNonOperationDeathRate = getNewBabyNonOperationDeathRate(row);
                       row.newBabyWeightOneRate = getNewBabyWeightOneRate(row);
                       row.newBabyWeightTwoRate = getNewBabyWeightTwoRate(row);
                       row.newBabyWeightThreeRate = getNewBabyWeightThreeRate(row);
                       row.newBabyWeightFourRate = getNewBabyWeightFourRate(row);
                       
                   } 
    	           
    	        for (var i = 0; i < data.result.length; i++) {
    	               var it = data.result[i];
    	               deathRate1.push(it.deathRate);
    	               newBabyDeathRate1.push(it.newBabyDeathRate);
    	               newBabyOperationDeathRate1.push(it.newBabyOperationDeathRate);
    	               newBabyNonOperationDeathRate1.push(it.newBabyNonOperationDeathRate);
    	               newBabyWeightOneRate1.push(it.newBabyWeightOneRate);
    	               newBabyWeightTwoRate1.push(it.newBabyWeightTwoRate);
    	               newBabyWeightThreeRate1.push(it.newBabyWeightThreeRate);
    	               newBabyWeightFourRate1.push(it.newBabyWeightFourRate);
    	           }
    	       	
    	        
    	        
    	       	myChart.setOption({        //加载数据图表
    	           	//color:['#1e90ff','#f0ffff'],
    	               title: {
    	                   text: ''
    	               },
    	               tooltip: {
    	                   trigger: 'axis',
    	                   axisPointer: {
    	                       type: 'shadow'
    	                   }
    	               },
    	               legend: {
    	            	type:"scroll",
    	               	data: ['住院死亡率', '新生儿住院总死亡率','新生儿手术患者住院死亡率','新生儿非手术患者住院死亡率','新生儿患者出生体重<=750克死亡率','新生儿患者出生体重751-1000克死亡率','新生儿患者出生体重1001-1800克死亡率','新生儿患者出生体重>=1801克死亡率'],
    	                   bottom:0
    	               },
    	               xAxis: {
    	                type: 'category',
    	                boundaryGap: false,
    	                
    	               	data: yearMonth
    	               },
    	               yAxis: {type: 'value'},
    	               series: [
    	               	 {  type: 'line',
    	               		areaStyle: {},
    	                   label:{
    	                   	normal:{
    	                   	show:true,            //显示数字
    	                   	position: 'top'        //这里可以自己选择位置
    	                   	}
    	                   	},
    	                   name: '住院死亡率',
    	                   data: deathRate1},
    	               	 {  type: 'line',
    	                	   areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                      name: '新生儿住院总死亡率',
    	                      data: newBabyDeathRate1},
    	               	 {  type: 'line',
    	                    	  areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        name: '新生儿手术患者住院死亡率',
    	                        data: newBabyOperationDeathRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        name: '新生儿非手术患者住院死亡率',
    	                        data: newBabyNonOperationDeathRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        name: '新生儿患者出生体重<=750克死亡率',
    	                        data: newBabyWeightOneRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        	name: '新生儿患者出生体重751-1000克死亡率',
    	                        data: newBabyWeightTwoRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        	name: '新生儿患者出生体重1001-1800克死亡率',
    	                        data: newBabyWeightThreeRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        	name: '新生儿患者出生体重>=1801克死亡率',
    	                        data: newBabyWeightFourRate1}
    	                        
    	              ]
    	           });
    	           }
    	        },
    	        error: function (errorMsg) {
    	            //请求失败时执行该函数
    	            myChart.hideLoading();
    	        }
    	    })
    };
    </script>
</body>

</html>