<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="data-event-type,data-unit-type"/>
    <section class="content-header">
        <h1>数据处理管理</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
            </div>    
        </div>
    
    </section>
    <div th:include="/qos/footer" />
    <script type="text/javascript">
    $(function() {
    	
    }); 
    </script>
</body>

</html>