<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="data-event-type,data-unit-type" />
    <!--   <section class="content-header">
        <h1>数据展示</h1>
    </section> -->
    <section class="content">
        <div class="box box-solid">
            <div class="box-body">
                <form id="searchbar" class="form-horizontal form-search">
                    <div class="form-group">
                        <div class="col-md-2">
                            <select name="eventId" class="form-control tonto-select-constant" enumcode="data-event-type">
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input id="startTime" name="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date" value="2018-01-01">
                        </div>
                        <div class="col-md-2">
                            <input name="endTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-solid">
                    <div class="box-body">
                        <table id="dataGrid"></table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-solid">
                <label for="monthInput" class="col-sm-2 control-label">重点手术住院死亡率趋势图</label>
                    <div id="sumChartDiv" class="box-body" style="height: 300px">
                    </div>
                </div>
                <div class="box box-solid">
                    <form class="form-horizontal" style="padding-top: 20px;padding-left: 20px">
                        <div class="form-group">
                            <label for="monthInput" class="col-sm-2 control-label">重点手术住院死亡率柱状图</label>
                            <!-- <div class="col-md-4">
                                <input id="monthInput" placeholder="请选择月份" autocomplete="off" type="text" class="form-control">
                            </div> -->
                        </div>
                    </form>
                    <div id="dayChartDiv" class="box-body" style="height: 400px">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="/qos/footer" />
    <script type="text/javascript" src="/static/js/chart.js"></script>
    <script type="text/javascript">
    var table, sumChart, dayChart, sumData, requestParams;
    $(function() {
        initTable();
    });
     //1.冠状动脉旁路移植术死亡率
    function getBypassGraftingRate(row) {
        var e = row.bypassGraftingEventNum,
            t = row.bypassGraftingTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //2.经皮冠状动脉介入治疗死亡率
    function getInterventionRate(row) {
        var e = row.interventionEventNum,
            t = row.interventionTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //3.髋膝关节置换术死亡率
    function getReplacementRate(row) {
        var e = row.replacementEventNum,
            t = row.replacementTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //4.颅脑手术死亡率
    function getBrainSurgeryRate(row) {
        var e = row.brainSurgeryEventNum,
            t = row.brainSurgeryTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
    //5.剖宫产死亡率
    function getCesareanRate(row) {
        var e = row.cesareanEventNum,
            t = row.cesareanTotalNum;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }
   
    

    var currentElement;

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { checkbox: true },
                    { title: "医疗机构", field: "unitName",
                    	formatter: function(value, row, index) {
                             if(value=="0"){
                            	 return "总计";
                             }else{
                            	 return value;
                             }
                    	} 
                    },
                    { title: "冠状动脉旁路移植术死亡率", field: "bypassGraftingRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       } 
                    },
                    { title: "经皮冠状动脉介入治疗死亡率", field: "interventionRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       } 
                    },
                    { title: "髋膝关节置换术死亡率", field: "replacementRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "颅脑手术死亡率", field: "brainSurgeryRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    },
                    { title: "剖宫产死亡率", field: "cesareanRate",
                    	formatter: function(value, row, index) {
                            return value + "%";
                       }
                    }
                ]
            ],
            url: '/qos/analysis/data/majorSurgery',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            onCheck: function(row) {
                console.log("on check");
                console.log(row);

            },
            onUncheck: function(row) {
                console.log("on uncheck");
                console.log(row);
            },
            queryParams: function(params) {
                requestParams = params;
            return params;
            },
            responseHandler: function(res) {
                sumData = res || [];
                
              //遍历数组
                var event1 = 0,total1=0,event2 = 0,total2=0,event3 = 0,total3=0,event4 = 0,total4=0,
                    event5 = 0,total5=0;
                $.each(sumData,function(n,value) {
                	event1+=value.bypassGraftingEventNum;
                	total1+=value.bypassGraftingTotalNum;
                	event2+=value.interventionEventNum;
                	total2+=value.interventionTotalNum;
                	event3+=value.replacementEventNum;
                	total3+=value.replacementTotalNum;
                	event4+=value.brainSurgeryEventNum;
                	total4+=value.brainSurgeryTotalNum;
                	event5+=value.cesareanEventNum;
                	total5+=value.cesareanTotalNum;
                	
                }
                )
                
                var deathEntity={};

                deathEntity.unitName = '0'; 
                deathEntity.bypassGraftingEventNum=event1;  deathEntity.bypassGraftingTotalNum=total1;  deathEntity.interventionEventNum = event2; deathEntity.interventionTotalNum = total2
                deathEntity.replacementEventNum=event3;  deathEntity.replacementTotalNum=total3;  deathEntity.brainSurgeryEventNum = event4; deathEntity.brainSurgeryTotalNum = total4;
                deathEntity.cesareanEventNum=event5;  deathEntity.cesareanTotalNum=total5
                sumData.push(deathEntity);
                
                
                for (var i = 0; i < sumData.length; i++) {
                    var row = sumData[i];
                    row.bypassGraftingRate = getBypassGraftingRate(row);
                    row.interventionRate = getInterventionRate(row);
                    row.replacementRate = getReplacementRate(row);
                    row.brainSurgeryRate = getBrainSurgeryRate(row);
                    row.cesareanRate = getCesareanRate(row);
                    
                }
                
                initDayChart();
                initSumChart();
                return sumData;
            }
        });
    }
    var dataAxis = [],//x轴
    
    bypassGraftingRate=[],
    interventionRate=[],
    replacementRate=[],
    brainSurgeryRate=[],
    cesareanRate=[];
    


    function initDayChart() {
    	var myChart = echarts.init(document.getElementById('dayChartDiv'));
    	//x轴
    	for (var i = 0; i < sumData.length-1; i++) {
            var it = sumData[i];
            dataAxis.push(it.unitName);
        }
    	for (var i = 0; i < sumData.length-1; i++) {
            var it = sumData[i];
            bypassGraftingRate.push(it.bypassGraftingRate);
            interventionRate.push(it.interventionRate);
            replacementRate.push(it.replacementRate);
            brainSurgeryRate.push(it.brainSurgeryRate);
            cesareanRate.push(it.cesareanRate);
        }
    	
    	myChart.setOption({        //加载数据图表
        	color:['#1e90ff','#f0ffff'],
            title: {
                text: ''
            },
            tooltip: { 
            	trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            
            grid: {
                left: '0%',
                right: '0%',
                bottom: '5%',
                containLabel: true
            },
            legend: {
            	
            	data: ['冠状动脉旁路移植术死亡率', '经皮冠状动脉介入治疗死亡率','髋膝关节置换术死亡率','颅脑手术死亡率','剖宫产死亡率'],
                bottom:0
            },
            xAxis: {
            	type: 'category',
                axisLabel: {
                    interval:0,
                    rotate:25//角度顺时针计算的
                } ,
                axisTick : {
                    alignWithLabel : true
                },
            	data: dataAxis,
            },
            yAxis: {
            	type: 'value'
            },
            grid: {
                bottom: '110px',
            },
            series: [
            	 {  type: 'bar',
            		 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:2,
                         }
                     },
                name: '冠状动脉旁路移植术死亡率',
                data: bypassGraftingRate},
            	 {  type: 'bar',
                	 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                   name: '经皮冠状动脉介入治疗死亡率',
                   data: interventionRate},
            	 {  type: 'bar',
              	   barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                     name: '髋膝关节置换术死亡率',
                     data: replacementRate},
            	 {  type: 'bar',
                  	 barWidth : 5,
                       itemStyle:{
                           normal:{
                               barBorderRadius:3,
                           }
                       },
                     name: '颅脑手术死亡率',
                     data: brainSurgeryRate},
            	 {  type: 'bar',
                    	 barWidth : 5,
                         itemStyle:{
                             normal:{
                                 barBorderRadius:3,
                             }
                         },
                     name: '剖宫产死亡率',
                     data: cesareanRate}
            	
           ]
        });
    	
    }
    
    var yearMonth=[],
    bypassGraftingRate1 =[],
    interventionRate1 =[],
    replacementRate1 =[],
    brainSurgeryRate1 =[],
    cesareanRate1 =[];
    
    function initSumChart(){
    	 var myChart = echarts.init(document.getElementById('sumChartDiv'));
    	 var it={};
    	 $.ajax({
    	        type: "post",
    	        async: true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
    	        url: "/qos/analysis/data/getMajorSurgeryByMonth",   
    	        data:{"startTime":$("#startTime").val()},
    	        dataType: "json",        //返回数据形式为json
    	        success: function (data) {
    	           console.log(data.result);
    	           if(data.result){
    	           for (var i = 0; i < data.result.length; i++) {
    	        	   var it = data.result[i];
    	               yearMonth.push(it.year+"-"+it.month);
    	           }
    	           console.log(yearMonth);
    	           
    	           for (var i = 0; i < data.result.length; i++) {
                       var row = data.result[i];
                       row.bypassGraftingRate = getBypassGraftingRate(row);
                       row.interventionRate = getInterventionRate(row);
                       row.replacementRate = getReplacementRate(row);
                       row.brainSurgeryRate = getBrainSurgeryRate(row);
                       row.cesareanRate = getCesareanRate(row);
                     
                   } 
    	           
    	        for (var i = 0; i < data.result.length; i++) {
    	               var it = data.result[i];
    	               bypassGraftingRate1.push(it.bypassGraftingRate);
    	               interventionRate1.push(it.interventionRate);
    	               replacementRate1.push(it.replacementRate);
    	               brainSurgeryRate1.push(it.brainSurgeryRate);
    	               cesareanRate1.push(it.cesareanRate);
    	               
    	           }
    	       	
    	        
    	        
    	       	myChart.setOption({        //加载数据图表
    	           	color:['#1e90ff','#f0ffff'],
    	               title: {
    	                   text: ''
    	               },
    	               tooltip: {
    	                   trigger: 'axis',
    	                   axisPointer: {
    	                       type: 'shadow'
    	                   }
    	               },
    	               legend: {
    	               	
    	            	   data: ['冠状动脉旁路移植术死亡率', '经皮冠状动脉介入治疗死亡率','髋膝关节置换术死亡率','颅脑手术死亡率','剖宫产死亡率'],
    	                   bottom:0
    	               },
    	               xAxis: {
    	                type: 'category',
    	                boundaryGap: false,
    	                
    	               	data: yearMonth
    	               },
    	               yAxis: {type: 'value'},
    	               series: [
    	               	 {  type: 'line',
    	               		areaStyle: {},
    	                   label:{
    	                   	normal:{
    	                   	show:true,            //显示数字
    	                   	position: 'top'        //这里可以自己选择位置
    	                   	}
    	                   	},
    	                   name: '冠状动脉旁路移植术死亡率',
    	                   data: bypassGraftingRate1},
    	               	 {  type: 'line',
    	                	   areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                      name: '经皮冠状动脉介入治疗死亡率',
    	                      data: replacementRate1},
    	               	 {  type: 'line',
    	                    	  areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        name: '髋膝关节置换术死亡率',
    	                        data: interventionRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        name: '颅脑手术死亡率',
    	                        data: brainSurgeryRate1},
    	               	 {  type: 'line',
    	                        	areaStyle: {},
    	                        label:{
    	                        	normal:{
    	                        	show:true,            //显示数字
    	                        	position: 'top'        //这里可以自己选择位置
    	                        	}
    	                        	},
    	                        name: '剖宫产死亡率',
    	                        data: cesareanRate1}
    	               	 
    	                        
    	              ]
    	           });
    	           }
    	        },
    	        error: function (errorMsg) {
    	            //请求失败时执行该函数
    	            myChart.hideLoading();
    	        }
    	    })
    };
    </script>
</body>

</html>