<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
	<tt:constant enumcode="data-event-type,data-unit-type" />
	<section class="content-header">
    <h1>重返类指标统计</h1>
    </section>
	<section class="content">
        <div class="box box-solid" style="height: 45px;margin-bottom: 10px">
            <div class="box-body no-pad-top">
                <form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">
                    <div class="form-group">
                        <div class="col-md-2">
                            <div class="input-group"><input name="startTime" id="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date" lay-key="1" ></div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group"><input name="endTime" id="endTime" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date" lay-key="2"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="pull-right">
                                <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="refresh()"><i class="fa fa-search"></i>查询</button>
                                <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                            </div>
                        </div>
                    </div>
                    <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                    <input type="text" style="display:none">
                </form>
            </div>
        </div>
        
        
        <div class="row">
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="unitChartDiv" class="box-body" style="height: 400px">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="box box-solid">
					<div id="monthChartDiv" class="box-body" style="height: 400px">
					</div>
				</div>
			</div>
		</div>
        
        <div class="row">
        <div class="col-md-12">
                <div class="box box-solid">
                    <div class="box-body">
                        <table id="dataGrid"></table>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<div th:include="/qos/footer" />
	<script type="text/javascript" src="/static/js/chart.js"></script>
	<script type="text/javascript">
	var table, monthChart, unitChart, requestParam, selectUnit;
	$(function() {
        refresh();
    });

    function refresh() {
        table ? table.refresh() : initTable();
        initMonthChart();
    }

    function unitSelected(row) {
        selectUnit = row.unitId;
        drawMonthChart();
    }
    
    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    
                    { 
                    	title: "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医疗机构&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;", 
                    	field: "unitName"
                    },
                    { 
                    	title: "住院患者出院31天内再住院率", 
                    	field: "ev11100"
                    },
                    { 
                    	title: "急性心肌梗死再住院率", 
                    	field: "ev11101"
                    },
                    { 
                    	title: "充血性心力衰竭再住院率", 
                    	field: "ev11102"
                    },
                    { 
                    	title: "脑出血和脑梗死再住院率", 
                    	field: "ev11103"
                    },
                    { 
                    	title: "创伤性颅脑梗死再住院率", 
                    	field: "ev11104"
                    },
                    { 
                    	title: "消化道出血（无病发率）再住院率", 
                    	field: "ev11105"
                    },
                    { 
                    	title: "累积身体多个部位的损伤再住院率", 
                    	field: "ev11106"
                    },
                    { 
                    	title: "细菌性肺炎（成人、无并发症）再住院率", 
                    	field: "ev11107"
                    },
                    { 
                    	title: "慢性组赛性肺疾病再住院率", 
                    	field: "ev11108"
                    },
                    { 
                    	title: "糖尿病伴短期与长期并发症再住院", 
                    	field: "ev11109"
                    },
                    { 
                    	title: "结节性甲状腺肿再住院率", 
                    	field: "ev11110"
                    },
                    { 
                    	title: "急性阑尾炎伴弥漫性腹膜炎及脓肿", 
                    	field: "ev11111"
                    },
                    { 
                    	title: "前列腺增生再住院率", 
                    	field: "ev11112"
                    },
                    { 
                    	title: "肾衰竭再住院率", 
                    	field: "ev11113"
                    },
                    { 
                    	title: "败血症(成人)再住院率", 
                    	field: "ev11114"
                    },
                    { 
                    	title: "高血压病(成人)再住院率", 
                    	field: "ev11115"
                    },
                    { 
                    	title: "急性胰腺炎再住院率", 
                    	field: "ev11116"
                    },
                    { 
                    	title: "恶性肿瘤术后化疗再住院率"
                    	, field: "ev11117"
                    },
                    { 
                    	title: "恶性肿瘤维持性化学治疗再住院率", 
                    	field: "ev11118"
                    }
                    
                ]
            ],
            url : '/qos/analysis/data/get/unit',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect : true,
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
			onCheck: unitSelected,
            queryParams: function(params) {
            	 if($("#startTime").val()==""||$("#startTime").val()==null){
					 var date = new Date()
					  var year = date .getFullYear(); 
					 var month = date .getMonth()+1;
					 var day = date .getDate();
					 var time = year+"-"+month+"-"+"01"
        		 $("#startTime").val(time);
        		params.startTime = time;
        	     } 
            	params.eventIds = '11100,11101,11102,11103,11104,11105,11106,11107,11108,11109,11110,11111,11112,11113,11114,11115,11116,11117,11118';
				requestParam = params;
				return params;
            },
            responseHandler: function(response) {
            	var data = {};

				convertRate2TableData(response, '11100',data);
				convertRate2TableData(response, '11101',data);
				convertRate2TableData(response, '11102',data);
				convertRate2TableData(response, '11103',data);
				convertRate2TableData(response, '11104',data);
				convertRate2TableData(response, '11105',data);
				convertRate2TableData(response, '11106',data);
				convertRate2TableData(response, '11107',data);
				convertRate2TableData(response, '11108',data);
				convertRate2TableData(response, '11109',data);
				convertRate2TableData(response, '11110',data);
				convertRate2TableData(response, '11111',data);
				convertRate2TableData(response, '11112',data);
				convertRate2TableData(response, '11113',data);
				convertRate2TableData(response, '11114',data);
				convertRate2TableData(response, '11115',data);
				convertRate2TableData(response, '11116',data);
				convertRate2TableData(response, '11117',data);
				convertRate2TableData(response, '11118',data);

				var result = []
				for ( var o in data) {
					result.push(data[o]);
				}
				initUnitChart(response);
				return result;
            }
        });
    }
    
    function convertRate2TableData(originData, eventId, data) {
		var eventData = originData[eventId], fieldName = 'ev' + eventId, total = 0, event = 0;

		eventData && eventData.forEach(function(item) {
			var id = item.unitId;
			unitData = data[id];
			if (!unitData) {
				unitData = {
					unitId : id,
					unitName : item.unitName
				};
				data[id] = unitData;
			}
			unitData[fieldName] = getRate(item);
			total += item.totalNum;
			event += item.eventNum;
		});

		var totalData = data['total'];
		if (!totalData) {
			totalData = {
				unitId : 'total',
				unitName : '合计',
			}
			data['total'] = totalData;
		}
		totalData[fieldName] = getRate({
			totalNum : total,
			eventNum : event
		});
	}

	function convertCount2TableData(originData, eventId, data) {
		var eventData = originData[eventId], fieldName = 'ev' + eventId, total = 0;

		eventData && eventData.forEach(function(item) {
			var id = item.unitId;
			unitData = data[id];
			if (!unitData) {
				unitData = {
					unitId : id,
					unitName : item.unitName
				};
				data[id] = unitData;
			}
			unitData[fieldName] = item.totalNum;
			total += item.totalNum;
		});

		var totalData = data['total'];
		if (!totalData) {
			totalData = {
				unitId : 'total',
				unitName : '合计',
			}
			data['total'] = totalData;
		}
		totalData[fieldName] = total;
	}

	function getRate(item, fixed) {
		var a = item.eventNum, b = item.totalNum, c = 0;
		if (a > 0 && b > 0)
		if (a && b) {
			c = a / b * 100;
		}
		return c.toFixed(fixed || 2) + '%';
	}
    
	function getRateNum(item, fixed) {
        var a = item.eventNum,
            b = item.totalNum,
            c = 0;
        if (a && b) {
            c = a / b * 100;
        }
        return c.toFixed(fixed|| 2);
    }
    
    
	function convertUnitChartData(data, eventId, isRate) {
        var edata = data[eventId],
            max = 0,
            unit = [],
            values = [];
        edata && edata.forEach(function(item) {
            var r = isRate ? getRateNum(item) : item.totalNum;
            max = Math.max(r, max);
            values.push(r);
            unit.push(item.unitName);
        });
        return {
            max: max,
            unit: unit,
            values: values
        }
    }
    
    function initUnitChart(data) {
    	
    	var ev11100 = convertUnitChartData(data, '11100', true);
    	var ev11101 = convertUnitChartData(data, '11101', true);
    	var ev11102 = convertUnitChartData(data, '11102', true);
    	var ev11103 = convertUnitChartData(data, '11103', true);
    	var ev11104 = convertUnitChartData(data, '11104', true);
    	var ev11105 = convertUnitChartData(data, '11105', true);
    	var ev11106 = convertUnitChartData(data, '11106', true);
    	var ev11107 = convertUnitChartData(data, '11107', true);
    	var ev11108 = convertUnitChartData(data, '11108', true);
    	var ev11109 = convertUnitChartData(data, '11109', true);
    	var ev11110 = convertUnitChartData(data, '11110', true);
    	var ev11111 = convertUnitChartData(data, '11111', true);
    	var ev11112 = convertUnitChartData(data, '11112', true);
    	var ev11113 = convertUnitChartData(data, '11113', true);
    	var ev11114 = convertUnitChartData(data, '11114', true);
    	var ev11115 = convertUnitChartData(data, '11115', true);
    	var ev11116 = convertUnitChartData(data, '11116', true);
    	var ev11117 = convertUnitChartData(data, '11117', true);
    	var ev11118 = convertUnitChartData(data, '11118', true);
        
    	if (!unitChart) {
            unitChart = echarts.init(document.getElementById('unitChartDiv'));
        }
    	
    	var option ={        //加载数据图表
        	//color:['#1e90ff','#f0ffff'],
            title: {
                text: '重返类指标柱状图'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function(params, ticket, callback) {
                    var html = params[0].axisValueLabel + '：';
                    for (var i = 0; i < params.length; i++) {
                        var param = params[i];
                        html += '<br/>' + param.marker + param.seriesName + '：' + param.value + '%';
                    }
                    return html;
                },
                axisPointer: {
                    type: 'shadow'
                }
            },
            
            grid: {
                left: 45,
                right: 20,
                bottom: 40,
                containLabel: true
            },
            legend: {
            	type:"scroll",
            	data: ['住院患者出院31天内再住院率','急性心肌梗死再住院率','充血性心力衰竭再住院率','脑出血和脑梗死再住院率'],
                bottom:0
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 20 //角度顺时针计算的
                },
                axisTick: {
                    alignWithLabel: true
                },
                data: ev11100.unit,
            },
            yAxis: {
                axisLabel: {
                    formatter: function(val) {
                        return val + '%';
                    }
                },
                type: 'value'
                
            },
            
            series: [
            	 {  type: 'bar',
            		 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:2,
                         }
                     },
                name: '住院患者出院31天内再住院率',
                data: ev11100.values},
            	 {  type: 'bar',
                	 barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                   name: '急性心肌梗死再住院率',
                   data: ev11101.values},
            	 {  type: 'bar',
              	   barWidth : 5,
                     itemStyle:{
                         normal:{
                             barBorderRadius:3,
                         }
                     },
                     name: '充血性心力衰竭再住院率',
                     data: ev11102.values},
            	 {  type: 'bar',
                  	 barWidth : 5,
                       itemStyle:{
                           normal:{
                               barBorderRadius:3,
                           }
                       },
                     name: '脑出血和脑梗死再住院率',
                     data: ev11103.values}
                     
           ]
        };
    	unitChart.setOption(option, true);
    }
    
    function convertMonthChartData(data, eventId, isRate) {
        var eventData = data[eventId],
            unitPoints = eventData.unitPoints,
            month = [],
            valuesMap = {},
            totalValues = [];

        var first = true;

        unitPoints && unitPoints.forEach(function(unitPoint) {
            var points = unitPoint.points,
                unitId = unitPoint.unitId;

            var values = valuesMap[unitId];
            if (!values) {
                values = [];
                valuesMap[unitId] = values;
            }

            for (var i = 0; i < points.length; i++) {
                var point = points[i];
                if (first) {
                    month.push(point.year + '-' + point.month);
                }

                values.push(isRate ? getRateNum(point) : point.totalNum);

                var totalVal = totalValues[i];
                if (!totalVal) {
                    totalVal = {
                        totalNum: point.totalNum,
                        eventNum: point.eventNum
                    }
                    totalValues[i] = totalVal;
                } else {
                    totalVal.totalNum += point.totalNum;
                    totalVal.eventNum += point.eventNum;
                }
            }

            first = false;
        });

        var totalVals = [];
        for (var j = 0; j < totalValues.length; j++) {
            var tv = totalValues[j];
            totalVals.push(isRate ? getRateNum(tv) : tv.totalNum);
        }

        valuesMap.total = totalVals;
        return {
            month: month,
            valuesMap: valuesMap
        }
    }
 
 var month11100, month11101, month11102, month11103, month11104, month11105, month11106, month11107,
     month11108, month11109, month11110, month11111, month11112, month11113, month11114, month11115,
     month11116, month11117, month11118;
 
 
 function initMonthChart(response) {
     if (!response) {
         $.postAjax('/qos/analysis/data/get/month/instalments', requestParam, initMonthChart);
         return;
     }

     month11100 = convertMonthChartData(response, '11100', true);
     month11101 = convertMonthChartData(response, '11101', true);
     month11102 = convertMonthChartData(response, '11102', true);
     month11103 = convertMonthChartData(response, '11103', true);
     month11104 = convertMonthChartData(response, '11104', true);
     month11105 = convertMonthChartData(response, '11105', true);
     month11106 = convertMonthChartData(response, '11106', true);
     month11107 = convertMonthChartData(response, '11107', true);
     month11108 = convertMonthChartData(response, '11108', true);
     month11109 = convertMonthChartData(response, '11109', true);
     month11110 = convertMonthChartData(response, '11110', true);
     month11111 = convertMonthChartData(response, '11111', true);
     month11112 = convertMonthChartData(response, '11112', true);
     month11113 = convertMonthChartData(response, '11113', true);
     month11114 = convertMonthChartData(response, '11114', true);
     month11115 = convertMonthChartData(response, '11115', true);
     month11116 = convertMonthChartData(response, '11116', true);
     month11117 = convertMonthChartData(response, '11117', true);
     month11118 = convertMonthChartData(response, '11118', true);

     drawMonthChart('total');
 }
    
    function drawMonthChart(){
    	var unitId = selectUnit || 'total';

        if (!monthChart) {
            monthChart = echarts.init(document.getElementById('monthChartDiv'));
        }      
        var option ={        //加载数据图表
        	//color:['#1e90ff','#f0ffff'],
            title: {
                text: '重返类指标趋势图'
            },
            tooltip: {
                trigger: 'axis',
                formatter: function(params, ticket, callback) {
                    var html = params[0].axisValueLabel + '：';
                    for (var i = 0; i < params.length; i++) {
                        var param = params[i];
                        html += '<br/>' + param.marker + param.seriesName + '：' + param.value + '%';
                    }
                    return html;
                },
                axisPointer: {
                    type: 'shadow'
                }
            },
            
            grid: {
                left: 45,
                right: 20,
                bottom: 40,
                containLabel: true
            },
            legend: {
            	type:"scroll",
               	data: ['住院患者出院31天内再住院率', '急性心肌梗死再住院率','充血性心力衰竭再住院率','脑出血和脑梗死再住院率','创伤性颅脑梗死再住院率','消化道出血（无病发率）再住院率',
               	       '累积身体多个部位的损伤再住院率','细菌性肺炎（成人、无并发症）再住院率','慢性组赛性肺疾病再住院率','糖尿病伴短期与长期并发症再住院','结节性甲状腺肿再住院率','急性阑尾炎伴弥漫性腹膜炎及脓肿',
               	       '前列腺增生再住院率','肾衰竭再住院率','败血症(成人)再住院率','高血压病(成人)再住院率','急性胰腺炎再住院率','恶性肿瘤术后化疗再住院率','恶性肿瘤维持性化学治疗再住院率'],
                   bottom:0
               },
               xAxis: {
                   type: 'category',
                   boundaryGap: false,
                   axisLabel: {
                       interval: 0,
                       rotate: 40 //角度顺时针计算的
                   },
                   data: month11100.month
               },
               yAxis: {
                   axisLabel: {
                       formatter: function(val) {
                           return val + '%';
                       }
                   },
                   type: 'value'
                   
               },
            series: [
	               	 {  type: 'line',
	               		barWidth : 4,
			            smooth:0.3,
	               		areaStyle: {},
	                   label:{
	                   	normal:{
	                   	show:true,            //显示数字
	                   	position: 'top'        //这里可以自己选择位置
	                   	}
	                   	},
	                   name: '住院患者出院31天内再住院率',
	                   data: month11100.valuesMap[unitId]},
	               	 {  type: 'line',
	                	   barWidth : 4,
				            smooth:0.3,
	                	   areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                      name: '急性心肌梗死再住院率',
	                      data: month11101.valuesMap[unitId]},
	               	 {  type: 'line',
	                    	  barWidth : 4,
					            smooth:0.3,
	                    	  areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        name: '充血性心力衰竭再住院率',
	                        data: month11102.valuesMap[unitId]},
	               	 {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        name: '脑出血和脑梗死再住院率',
	                        data: month11103.valuesMap[unitId]},
	               	 {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        name: '创伤性颅脑梗死再住院率',
	                        data: month11104.valuesMap[unitId]},
	               	 {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '消化道出血（无病发率）再住院率',
	                        data: month11105.valuesMap[unitId]},
	               	 {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '累积身体多个部位的损伤再住院率',
	                        data: month11106.valuesMap[unitId]},
	               	 {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '细菌性肺炎（成人、无并发症）再住院率',
	                        data: month11107.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '慢性组赛性肺疾病再住院率',
	                        data: month11108.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '糖尿病伴短期与长期并发症再住院',
	                        data: month11109.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '结节性甲状腺肿再住院率',
	                        data: month11110.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '急性阑尾炎伴弥漫性腹膜炎及脓肿',
	                        data: month11111.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '前列腺增生再住院率',
	                        data: month11112.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '肾衰竭再住院率',
	                        data: month11113.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '败血症(成人)再住院率',
	                        data: month11114.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '高血压病(成人)再住院率',
	                        data: month11115.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '急性胰腺炎再住院率',
	                        data: month11116.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '恶性肿瘤术后化疗再住院率',
	                        data: month11117.valuesMap[unitId]},
	                        
	                        {  type: 'line',
	                        	barWidth : 4,
					            smooth:0.3,
	                        	areaStyle: {},
	                        label:{
	                        	normal:{
	                        	show:true,            //显示数字
	                        	position: 'top'        //这里可以自己选择位置
	                        	}
	                        	},
	                        	name: '恶性肿瘤维持性化学治疗再住院率',
	                        data: month11118.valuesMap[unitId]}

                 ]
        };       	
        monthChart.setOption(option, true);        
    };
    </script>
</body>

</html>