<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="boolean-type,report-unit-type,sickness-type,region-type,school-section-type,grade-type" />
    <section class="content-header">
        <h1>疫情管理</h1>
        <ol class="breadcrumb">
            <li><a href="/qos/epidemic/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">      
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/qos/epidemic/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}" />
    <div th:include="/qos/footer" />
    <script type="text/javascript">
    
    $(function() {
        var options = {
            id: "model",
            name: "详情",
            url: "/qos/epidemic/update?id="+$("#id").val(),
            columns: [{
                title: "班级",
                name: "grade",
                required: "required",
                colspan: 2,
                inputType: "SELECT-TREE-SERVER",
                url: '/qos/org/school/people/findList',
                viewPathName: true,
                isListData: false,
                selectedHandler: function(node) {
                    return node.data.isClass ? true : false;
                },
                selectDataFilter: classDataHandler
            },
            { title: "报告单位", name: "reportUnit", required: "required", inputType: "SELECT", enum: "report-unit-type" },
            { title: "病种分类", name: "sicknessClassify", required: "required", inputType: "SELECT", enum: "sickness-type" },
            { title: "区域", name: "region", required: "required", inputType: "SELECT", enum: "region-type" },
            { title: "发病人数(首周)", name: "firstWeek", required: "required", inputType: "NUMBER" },
            { title: "发病人数(累计)", name: "total", required: "required", inputType: "NUMBER" },
            { title: "停课班级数", name: "suspendGradeNumber", inputType: "NUMBER" },
            { title: "应急接种班级数", name: "vaccinationGradeNumber", inputType: "NUMBER" },
            { title: "停课人数", name: "suspendPeopleNumber", inputType: "NUMBER" },
            { title: "应急接种人数", name: "vaccinationPeopleNumber", inputType: "NUMBER" },
            { title: "停课时间", name: "suspendData", inputType: "DATE" },
            { title: "出动人次数(市级专业部门)", name: "municipalLeveNumber", inputType: "NUMBER" },
            { title: "出动人次数(区镇级专业部门)", name: "districtTownNumber", inputType: "NUMBER" },
            { title: "是否原因溯源", name: "isReasonTraceability", inputType: "RADIO", enum: "boolean-type" },
            { title: "溯源是否清楚", name: "isTraceabilityClear", inputType: "RADIO", enum: "boolean-type" },
            { title: "是否预警值", name: "isEarlyWarningValue", inputType: "RADIO", enum: "boolean-type", colspan: 2 },
            { title: "备注", name: "remarks", inputType: "TEXTAREA" }
        ]
        }
   
        $.getAjax("/qos/epidemic/get?id=" + $("#id").val(), function(data) {
        	var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    
    function classDataHandler(column, data) {
        var schoolNames = data.schoolName,
            schoolPeople = data.schoolPeople,
            schoolYear = data.schoolYear;

        var nameMap = {};
        schoolNames.forEach(function(name) {
            nameMap[name.id] = name.schoolFullName;
        });

        var yearMap = {};
        var yearSchoolNodeMap = {};

        schoolYear.forEach(function(sy) {
            var y = sy.schoolYear;
            var yearNode = yearMap[y];

            if (!yearNode) {
                yearNode = {
                    name: y + '学年',
                    id: y,
                    children: []
                }
                yearMap[y] = yearNode;
            }

            var yearSchoolNode = {
                name: nameMap[sy.parentSchoolId],
                id: sy.id,
                children: []
            }

            yearNode.children.push(yearSchoolNode);
            yearSchoolNodeMap[sy.id] = yearSchoolNode;
        });

        var schoolPeopleNodeMap = {};

        schoolPeople.forEach(function(sp) {
            var id = sp.schoolId,
                spId = id + '-' + sp.schoolSection + '-' + sp.grade;

            var yearSchoolNode = yearSchoolNodeMap[id];
            if (yearSchoolNode) {
                var schoolPeopleNode = schoolPeopleNodeMap[spId];
                if (!schoolPeopleNode) {
                    schoolPeopleNode = {
                        name: $.getConstantEnumValue('school-section-type', sp.schoolSection) + '-' + $.getConstantEnumValue('grade-type', sp.grade),
                        id: spId,
                        children: []
                    }

                    yearSchoolNode.children.push(schoolPeopleNode);
                    schoolPeopleNodeMap[spId] = schoolPeopleNode;
                }

                schoolPeopleNode.children.push({
                    name: sp.klass,
                    id: sp.id,
                    isClass: true
                });
            }
        });

        var treedata = [];
        for (var o in yearMap) {
            treedata.push(yearMap[o]);
        }

        return treedata;
    }
    </script>
</body>

</html>