<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/qos/header" />

<body>
<tt:constant enumcode="region-type" />
<section class="content-header" style="padding-bottom: 3px">
    <h1>疾病分类</h1>
</section>
<section class="content">
    <input type="hidden" id="agentId" th:value="${agentId}">
    <div class="box box-solid" style="height: 45px;margin-bottom: 10px">
        <div class="box-body no-pad-top" >
            <form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">
                <div class="form-group">
                    <div class="col-md-2">
                        <input name="startTime" id="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <input name="endTime" id="endTime" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <select name="sickness" class="form-control">
                            <option value="">请选择疾病名称</option>
                            <option value="1">上呼吸道感染</option>
                            <option value="14">手足口病</option>
                            <option value="10">急性胃肠炎</option>
                            <option value="2">水痘</option>
                            <option value="16">疱疹性咽颊炎</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <select name="codes"  class="form-control">
                            <option value="">请选机构类型</option>
                            <option value="1,2">托幼</option>
                            <option value="3">小学</option>
                            <option value="4,5,6,7,8,9,10">初中及以上</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>
<!--    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid" style="margin-bottom: 5px">
                <div class="box-body no-padding">
                    <div class="alert alert-info alert-dismissible no-margin" role="alert" style="padding-top: 0;padding-bottom: 0">
                        <button type="button" onclick="this.parentNode.parentNode.removeChild(this.parentNode);"
                                class="close" data-dismiss="alert">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span></button>
                        <marquee scrollamount="0" id="pm">

                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="yqDataGrid"></table>
                </div>
            </div>
        </div>

        <div class="col-md-5" style="padding-right: 0">
            <div class="box box-solid">
                <div class="box-header with-border" style="padding-top: 5px">
                    <h3 class="box-title" style="letter-spacing: 3px">疫情构成情况</h3>
                </div>
                <div id="yqgcChartDiv" class="box-body no-padding" style="height: 350px">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="box box-solid">
                <div class="box-header with-border" style="padding-top: 5px">
                    <h3 class="box-title" style="letter-spacing: 3px">传染病疫情情况</h3>
                </div>
                <div id="crbChartDiv" class="box-body no-padding" style="height: 350px">
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript">
    /*<![CDATA[*/
    var data, table,hideRowIndexs,parentRowClickFlag;
    $(function () {
        initYqDataGrid();
    });

    //图表自适应大小
    window.addEventListener("resize", function () {
        yqgcChart.resize();
        crbChart.resize();
    });

    var yqgcChart = echarts.init(document.getElementById('yqgcChartDiv'));

    var crbChart = echarts.init(document.getElementById('crbChartDiv'));


    function initYqDataGrid() {
        table = $.createTable("#yqDataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "区域", field: "region",enumcode: "region-type",  formatter: function (value, row, index) {
                            row.index = index;
                            if (row.teamStyle === 1){
                                if (row.gardensNumber === 0 ) {
                                    return  $.getConstantEnumValue("region-type",value);
                                }else {
                                    return "<div><i class='fa fa-sort-up' onclick='treeGridClick("+ row.region +")' style='cursor:pointer' id='"+ row.region +"'></i>&nbsp;"+ $.getConstantEnumValue("region-type",value) +"</div>";
                                }
                            } else {
                                return "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + row.schoolFullName+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;";
                            }

                        },footerFormatter: function (data) {
                            return '总计';
                        }},
                    {title: "园数", field: "gardensNumber",sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            return fa - fb;
                        },footerFormatter: sumTotalFormatterModal},
                    {title: "人数", field: "peoplesNumber",sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            return fa - fb;
                        },footerFormatter: sumTotalFormatterModal},
                    {title: "疫情数", field: "epidemicNumber",sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            return fa - fb;
                        },footerFormatter: sumTotalFormatterModal},
                    {title: "涉及人数", field: "involvedPeoplesNumber",sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            return fa - fb;
                        },footerFormatter: sumTotalFormatterModal},
                    {title: "疫情构成比（%）", field: "rate",formatter:function (value, row, index) {
                            let number = row.epidemicNumber ? row.epidemicNumber : 0;
                            let number1 = row.epidemicTotalNumber ? row.epidemicTotalNumber : 0;
                            let c = 0;
                            if (number && number1) {
                                c = number /number1;
                            }
                            return Math.round(c* 10000) / 100.00 .toFixed(2);
                        },sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            fa = ra.epidemicNumber / ra.epidemicTotalNumber;
                            fb = rb.epidemicNumber / rb.epidemicTotalNumber;
                            return fa - fb;
                        },footerFormatter: function (data) {
                            let arr = data.filter( row => row.pregion === "");
                            var result = arr.reduce(function(sum, row) {
                                let number = row.epidemicNumber ? row.epidemicNumber : 0;
                                let number1 = row.epidemicTotalNumber ? row.epidemicTotalNumber : 0;
                                let c = 0;
                                if (number && number1) {
                                    c = number /number1;
                                }
                                return sum + c;
                            }, 0.00);
                            return result === 0.00 ? '0.00' : Math.round(result* 10000) / 100.00 .toFixed(2);
                        }},
                    {title: "人数构成比（%）", field: "rate1", formatter:function (value, row, index) {
                            let number = row.involvedPeoplesNumber ? row.involvedPeoplesNumber : 0;
                            let number1 = row.peoplesNumber ? row.peoplesNumber : 0;
                            let c = 0;
                            if (number && number1) {
                                c = number /number1;
                            }
                            return Math.round(c* 10000) / 100.00 .toFixed(2);
                        },sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            fa = ra.involvedPeoplesNumber / ra.peoplesNumber;
                            fb = rb.involvedPeoplesNumber / rb.peoplesNumber;
                            return fa - fb;
                        },footerFormatter: function (data) {
                            let arr = data.filter( row => row.pregion === "");
                            var result = arr.reduce(function(sum, row) {
                                let number = row.involvedPeoplesNumber ? row.involvedPeoplesNumber : 0;
                                return sum + number;
                            }, 0);

                            var result1 = arr.reduce(function(sum, row) {
                                let number1 = row.peoplesNumber ? row.peoplesNumber : 0;
                                return sum + number1;
                            }, 0);

                            let c = 0;

                            if (result && result1) {
                                c = result /result1;
                            }

                            return result === 0  &&  result1 === 0 ? '0.00' : Math.round(c* 10000) / 100.00 .toFixed(2);
                        }},
                    {title: "园均疫情数", field: "peoplesAvgNumber",formatter:function (value, row, index) {
                            let number = row.epidemicNumber ? row.epidemicNumber : 0;
                            let number1 = row.gardensNumber ? row.gardensNumber : 0;
                            let c = 0;
                            if (number && number1) {
                                c = number /number1;
                            }
                            return Math.round(c) ;
                        },sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            fa = ra.epidemicNumber / ra.gardensNumber;
                            fb = rb.epidemicNumber / rb.gardensNumber;
                            return fa - fb;
                        },footerFormatter: function (data) {
                            let arr = data.filter( row => row.pregion === "");
                            var result = arr.reduce(function(sum, row) {
                                let number = row.epidemicNumber ? row.epidemicNumber : 0;
                                return sum + number;
                            }, 0);

                            var result1 = arr.reduce(function(sum, row) {
                                let number1 = row.gardensNumber ? row.gardensNumber : 0;
                                return sum + number1;
                            }, 0);

                            let c = 0;

                            if (result && result1) {
                                c = result /result1;
                            }

                            return result === 0  &&  result1 === 0 ? '0' : Math.round(c);
                        }},
                    {title: "园均人数", field: "avg", formatter:function (value, row, index) {
                            let number = row.peoplesNumber ? row.peoplesNumber : 0;
                            let number1 = row.gardensNumber ? row.gardensNumber : 0;
                            let c = 0;
                            if (number && number1) {
                                c = number /number1;
                            }
                            return Math.round(c) ;
                        },sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            fa = ra.peoplesNumber / ra.gardensNumber;
                            fb = rb.peoplesNumber / rb.gardensNumber;
                            return fa - fb;
                        },footerFormatter: function (data) {
                            let arr = data.filter( row => row.pregion === "");
                            var result = arr.reduce(function(sum, row) {
                                let number = row.peoplesNumber ? row.peoplesNumber : 0;
                                return sum + number;
                            }, 0);

                            var result1 = arr.reduce(function(sum, row) {
                                let number1 = row.gardensNumber ? row.gardensNumber : 0;
                                return sum + number1;
                            }, 0);

                            let c = 0;

                            if (result && result1) {
                                c = result /result1;
                            }

                            return result === 0  &&  result1 === 0 ? '0' : Math.round(c);
                        }},
                    {title: "起均人数", field: "qjrs",formatter:function (value, row, index) {
                            let number = row.involvedPeoplesNumber ? row.involvedPeoplesNumber : 0;
                            let number1 = row.epidemicNumber ? row.epidemicNumber : 0;
                            let c = 0;
                            if (number && number1) {
                                c = number /number1;
                            }
                            return Math.round(c) ;
                        },sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            fa = ra.involvedPeoplesNumber / ra.epidemicNumber;
                            fb = rb.involvedPeoplesNumber / rb.epidemicNumber;
                            return fa - fb;
                        },footerFormatter: function (data) {
                            let arr = data.filter( row => row.pregion === "");
                            var result = arr.reduce(function(sum, row) {
                                let number = row.involvedPeoplesNumber ? row.involvedPeoplesNumber : 0;
                                return sum + number;
                            }, 0);

                            var result1 = arr.reduce(function(sum, row) {
                                let number1 = row.epidemicNumber ? row.epidemicNumber : 0;
                                return sum + number1;
                            }, 0);

                            let c = 0;

                            if (result && result1) {
                                c = result /result1;
                            }

                            return result === 0  &&  result1 === 0 ? '0' : Math.round(c);
                        }},
                    {title: "罹患率（%）", field: "lhv", formatter:function (value, row, index) {
                            let number = row.involvedPeoplesNumber ? row.involvedPeoplesNumber : 0;
                            let number1 = row.totalPeoplesNumber ? row.totalPeoplesNumber : 0;
                            let c = 0;
                            if (number && number1) {
                                c = number /number1;
                            }
                            return Math.round(c* 10000) / 100.00 .toFixed(2) ;
                        },sortable: true,
                        sorter: function(fa, fb, ra, rb) {
                            if (fa == '-') return table.options.sortOrder == 'desc' ? -1 : 1;
                            if (fb == '-') return table.options.sortOrder == 'desc' ? 1 : -1;
                            fa = ra.involvedPeoplesNumber / ra.totalPeoplesNumber;
                            fb = rb.involvedPeoplesNumber / rb.totalPeoplesNumber;
                            return fa - fb;
                        },footerFormatter: function (data) {
                            let arr = data.filter( row => row.pregion === "");
                            var result = arr.reduce(function(sum, row) {
                                let number = row.involvedPeoplesNumber ? row.involvedPeoplesNumber : 0;
                                return sum + number;
                            }, 0);

                            var result1 = arr.reduce(function(sum, row) {
                                let number1 = row.totalPeoplesNumber ? row.totalPeoplesNumber : 0;
                                return sum + number1;
                            }, 0);

                            let c = 0;

                            if (result && result1) {
                                c = result /result1;
                            }

                            return result === 0  &&  result1 === 0 ? '0.00' : Math.round(c* 10000) / 100.00 .toFixed(2);
                        }},
                ]
            ],
            url: '/qos/epidemic/disease/find/page',
            showFooter:true,
            pagination: false,
            showExport: true,
            exportTypes: ['excel'],
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                //unitSelected(row);
            },
            sidePagination: 'client',
            searchbar: '#searchbar',
            responseHandler: function(res) {
                let arr =  res || [];

               let constantEnum = $.getConstantEnum("region-type");
                let total = 0;
                let newArr = [];
                let val = $("#agentId").val();
                if (val) {
                    arr = arr.filter( row => val === row.agencyId)
                }
                constantEnum && constantEnum.forEach( region => {
                    let isNotPresence = false;
                   let rows = arr.filter(d => d.region === region.key);
                    if (rows && rows.length > 0){
                        rows.reduce((newArr, row) => {
                            total += row.epidemicNumber;
                            let originObj = newArr.find(point => point.region === region.key);
                            if (originObj) {
                                originObj.gardensNumber += row.gardensNumber;
                                originObj.peoplesNumber += row.peoplesNumber;
                                originObj.epidemicNumber += row.epidemicNumber;
                                originObj.involvedPeoplesNumber += row.involvedPeoplesNumber;
                                originObj.totalPeoplesNumber += row.totalPeoplesNumber;
                                newArr.push({region : "",pregion:region.key,gardensNumber:row.gardensNumber,peoplesNumber:row.peoplesNumber,epidemicNumber:row.epidemicNumber
                                    ,involvedPeoplesNumber:row.involvedPeoplesNumber,totalPeoplesNumber:row.totalPeoplesNumber,schoolFullName:row.schoolFullName})
                            }else {
                                newArr.push({region : region.key,pregion:"",gardensNumber:row.gardensNumber,peoplesNumber:row.peoplesNumber,epidemicNumber:row.epidemicNumber
                                ,involvedPeoplesNumber:row.involvedPeoplesNumber,totalPeoplesNumber:row.totalPeoplesNumber,teamStyle :1});
                                newArr.push({region : "",pregion:region.key,gardensNumber:row.gardensNumber,peoplesNumber:row.peoplesNumber,epidemicNumber:row.epidemicNumber
                                    ,involvedPeoplesNumber:row.involvedPeoplesNumber,totalPeoplesNumber:row.totalPeoplesNumber,schoolFullName:row.schoolFullName})
                            }
                            return newArr;
                        },newArr);
                    }else {
                       isNotPresence = true;
                   }

                   if (isNotPresence && !val) {
                       let data = {};
                       data['region'] = region.key;
                           data['gardensNumber'] = 0;
                           data['peoplesNumber'] = 0;
                           data['epidemicNumber'] = 0;
                           data['involvedPeoplesNumber'] = 0;
                           data['totalPeoplesNumber'] = 0;
                           data['pregion'] = "";
                           data['teamStyle'] = 1;

                       newArr.push(data);

                   }
               });
                hideRowIndexs = [];// 需隐藏的行（即二级数据所在行）
                parentRowClickFlag = [];// 父级行是否展开过的标识数组
                $.each(newArr, function (i, item) {
                    item['epidemicTotalNumber'] = total;
                    if (item.pregion !== "") {
                        hideRowIndexs.push(i);
                    } else {
                        parentRowClickFlag.push({"region": item.region, "isShow": false});
                    }

                });
               data =  newArr  || [];
                return newArr;
            },
            onLoadSuccess:function (data) {
                // 渲染完成后隐藏子级行
                if (hideRowIndexs.length > 0){
                    $.each(hideRowIndexs,function (i,index) {
                        // 隐藏行
                        table.hideRow({index:index})
                    })
                }
                generatorGcChart(yqgcChart);
                generatorCrbChart(crbChart);
            }
        });
    }

    /**
     * 展开折叠点击方法
     * @param teamId:该行数据的id
     */
    treeGridClick = function(region){
        // 获取该行是否点击过状态
        let currentRow = {};
        $.each(parentRowClickFlag,function (i,row) {
            if (region == row.region){
                currentRow = row;
                return false;
            }
        })
        // 控制行的显示隐藏来模拟展开折叠
        if (!currentRow['isShow']){// 开
            $.each(data,function (i,da) {
                if (region == da.pregion){
                    table.showRow({index:da.index});
                }
            });
            currentRow['isShow'] = true;
        } else {// 合
            $.each(data,function (i,da) {
                if (region == da.pregion){
                    table.hideRow({index:da.index});
                }
            });
            currentRow['isShow'] = false;
        }
        // 统一改变展开折叠的箭头样式
        $.each(parentRowClickFlag,function (i,row) {
            if (row.isShow){
                $("#" + row.region).attr("class","fa fa-sort-down");
            } else {
                $("#" + row.region).attr("class","fa fa-sort-up");
            }
        })
    };

function initPmDiv(arr) {
    let yqNumber = 0;
    let yjyqNumber = 0;
    let lhlNumber = 0;
    arrYqSort(arr);
    $.each(arr,function (index, row) {
        if ( row.agencyId === $("#agentId").val())
            yqNumber = index+1;
    });
    arrYjyqSort(arr);
    $.each(arr,function (index, row) {
        if ( row.agencyId === $("#agentId").val())
            yjyqNumber = index+1;
    });
    arrLhlSort(arr);
    $.each(arr,function (index, row) {
        if ( row.agencyId === $("#agentId").val())
            lhlNumber = index+1;
    });
    let html = "";
    html += '<p style="font-family: Impact, Charcoal, sans-serif; font-size: 15px">目前社区的疫情数在全市排名为第' +yjyqNumber+'名' + '</p>';
    $("#pm").html(html)
}

function arrYqSort(arr) {
    if (arr && arr.length > 0) {
        arr.sort((r1,r2) => r2["epidemicNumber"] - r1["epidemicNumber"])
    }
}

function arrYjyqSort(arr) {
    if (arr && arr.length > 0) {
        arr.sort((r1,r2) => r2["epidemicNumber"]/r2["gardensNumber"] - r1["epidemicNumber"]/r1["gardensNumber"])
    }
}


function arrLhlSort(arr) {
    if (arr && arr.length > 0) {
        arr.sort((r1,r2) => r2["involvedPeoplesNumber"]/r2["totalPeoplesNumber"] - r1["involvedPeoplesNumber"]/r1["totalPeoplesNumber"])
    }
}


    function generatorGcChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: {fontSize: 30, color: '#444'},
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });

        let chartData = [];

        let nameData = [];

        if (data && data.length === 0) {
            showChartInfo(chart, '暂无数据');
            return false;
        }

        let filters = data.filter(row => row.pregion === "");

        filters.forEach(row => {
            let name = $.getConstantEnumValue("region-type",row.region);
            chartData.push({name : name,value: row.epidemicNumber});
            nameData.push(name)
        });


        chart.hideLoading();

        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c}人 ({d}%)"
            },
            legend: {
                data: nameData,
                left: 'left',
                orient: 'vertical'
            },
            series: [{
                name: '',
                type: 'pie',
                radius: '75%',
                center: ['55%', '55%'],
                data: chartData,
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }]
        };
        chart.setOption(option, true);


    }


    function generatorCrbChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let data0= [] ,data1=[],data2=[],data3=[],orgData=[];
        if (data && data.length=== 0) {
            showChartInfo(chart,'暂无数据');
            return false;
        }

        let filters = data.filter(row => row.pregion === "");
        if (filters) {
            filters.forEach(data => {
                let name = $.getConstantEnumValue("region-type",data.region);
                orgData.push(name);
                data0.push({name:name,value:data.gardensNumber});
                data1.push({name:name,value:data.peoplesNumber});
                data2.push({name:name,value:data.epidemicNumber});
                data3.push({name:name,value:data.involvedPeoplesNumber});
            });

            chart.hideLoading();
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 15,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{c}',
                    fontSize: 10,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
            let  option = {
                color: ['#3398DB','#6087BF','#6071C6'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        let html = params[0].name + '：';
                        for (var i = 0; i < params.length; i++) {
                            var param = params[i];
                            html += '<br/>' + param.marker + param.seriesName + '：' + param.data.value;
                        }
                        return html;
                    }
                },
                grid: {
                    left: '1%',
                    right: '2%',
                    top: '5%',
                    containLabel: true
                },
                legend: {
                    top: 'bottom',
                    data:[ '园数', '人数','疫情数','涉及人数']
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: orgData,
                        axisLabel: {
                            interval:0,
                            rotate:0//角度顺时针计算的
                        } ,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value'
                    }
                ],
                series: [
                    {
                        name: '园数',
                        type: 'bar',
                        label: labelOption,
                        barGap: 0,
                        data: data0
                    },{
                        name: '人数',
                        type: 'bar',
                        label: labelOption,
                        barGap: 0,
                        data: data1
                    },{
                        name: '疫情数',
                        type: 'bar',
                        label: labelOption,
                        barGap: 0,
                        data: data2
                    },{
                        name: '涉及人数',
                        type: 'bar',
                        label: labelOption,
                        barGap: 0,
                        data: data3
                    }
                ]
            };
            chart.setOption(option,true);
        }
    }

    var showChartInfo = function (chart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle:{
                    color:'grey',
                    fontSize:20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        chart.clear() ;//initChart(divId): get echarts instance, you can get it by using other method
        chart.hideLoading();
        chart.setOption(msgOption)
    };

    function unitSelected(row) {
        selectUnit = [];
        selectUnit.push(row.unitId);
        generatorZyjkChart(zyjkChart);
        generatorYffsChart(yffsChart);
    }

    function sumTotalFormatterModal(data) {
        field = this.field;
        let arr = data.filter( row => row.pregion === "");
        let result = arr.reduce(function(sum, row) {
            return   sum + (row[field]) *1;
        }, 0);
        return result === 0 ? '0' : result;
    }

    /*]]>*/
</script>
</body>
</html>