<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
     <tt:constant enumcode="boolean-type,report-unit-type,sickness-type,region-type" /> 
    <section class="content-header">
        <h1>疫情管理</h1>
        <ol class="breadcrumb">
            <li><a href="/qos/epidemic/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">新增</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div th:include="/qos/footer" />
    <script type="text/javascript">
    function findParentNode(id, nodes, path) {
    	  if(!path){
    		  path=[];
    	  }
    	  var currentNode;
    	  for(var i = 0; i < nodes.length; i++) {
    	      //先找出当前节点
    	      if(nodes[i].id==id){
    	    	  currentNode=nodes[i];
    	    	  path.push(currentNode);
    	    	  findParentNode(currentNode.parentId, nodes, path);
    	      }
    	  }
    }
 
    var options = {
        id: "model",
        cancelBtn: false,
        name: "新增",
        url: "/qos/epidemic/save",
        formButtonBar:[{
            id:  'reply_btn',
            type: 'button',
            name:  '返回',
            class: 'btn btn-default btn-block',
            order: 2
        }],
        columns: [
		{ title: "班级",isListData:true, name: "grade",required: "required", colspan:2,
			inputType: "SELECT-TREE-SERVER", 
			idField:'id',nameField:'name',url:'/qos/org/school/people/findList',
			viewPathName:true
			/* selectedHandler:function(data){
					if(data.level!='4'){
						$.errorMessage("只能选择班级！");
						return false;
					}
					var treedata1 = this.serverTreeData;
					var treedata = this.serverTreeListData;
					debugger;
					var path=[],pathStr='';
					findParentNode(data.id,treedata,path);	
					path.forEach(function(item){
						pathStr=item.name+'  '+pathStr;
					})
					return {
						name: pathStr,
						value: data.id
					}
				} */
			},
            { title: "学年", name: "schoolYear", required: "required", inputType: "DATE", attr:{class: "form-control tonto-datepicker-year"} },
            { title: "报告单位", name: "reportUnit", required: "required",inputType: "SELECT", enum: "report-unit-type"},
            { title: "病种分类", name: "sicknessClassify",required: "required", inputType: "SELECT", enum: "sickness-type" },
            { title: "区域", name: "region", required: "required",inputType: "SELECT",enum:"region-type" },
            { title: "发病人数(首周)", name: "firstWeek", required: "required", inputType: "NUMBER" },
            //{ title: "班级", name: "grade", inputType: "TEXT" },
            
            { title: "发病人数(累计)", name: "total", required: "required", inputType: "NUMBER" },
            { title: "停课班级数", name: "suspendGradeNumber", inputType: "NUMBER" },
            { title: "应急接种班级数", name: "vaccinationGradeNumber", inputType: "NUMBER" },
            { title: "停课人数", name: "suspendPeopleNumber", inputType: "NUMBER" },
            { title: "应急接种人数", name: "vaccinationPeopleNumber", inputType: "NUMBER" },
            { title: "停课时间", name: "suspendData", inputType: "DATE" },
            { title: "出动人次数(市级专业部门)", name: "municipalLeveNumber", inputType: "NUMBER" },
            { title: "出动人次数(区镇级专业部门)", name: "districtTownNumber", inputType: "NUMBER" },
            { title: "是否原因溯源", name: "isReasonTraceability", inputType: "RADIO",enum: "boolean-type" },
            { title: "溯源是否清楚", name: "isTraceabilityClear", inputType: "RADIO", enum: "boolean-type"},
            { title: "是否预警值", name: "isEarlyWarningValue", inputType: "RADIO",enum: "boolean-type", colspan: 2 },
            { title: "备注", name: "remarks", inputType: "TEXTAREA" }
        ]
    }

    var model;
    
    $(function() {
    	var html = generateEditHtml(options);
        $(".content").html(html);
        $("#reply_btn").click(function () {
            window.location = "/qos/epidemic/index";
        });
        
       	$.initComponment($(".content"));

        model = new tonto.Model("model", options.columns, {
            pattern:"edit",
            successCallback:function(){
            	$.successAlert("保存成功", function() {
                    window.location = "/qos/epidemic/index";
                });
            }
        });
        model.setData(null);
    });
    </script>
</body>

</html>