<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
	<tt:constant
		enumcode="nature-type,subordination-type,region-type,boolean-type" />
	<section class="content-header">
		<h1>双向转诊统计</h1>
	</section>
	<section class="content">
		<div class="box box-solid">
			<div class="box-body">
				<form id="searchbar" class="form-horizontal form-search">
					<div class="form-group">
						<div class="col-md-2">
							<select name="unitId" class="form-control">
								<option value="">请选择单位</option>
								<option th:each="unit : ${unit}" th:value="${unit.id}"
									th:text="${unit.name}"></option>
							</select>
						</div>

						<div class="col-md-10">
							<div class="pull-right">
								<button type="button" style="width: 100px"
									class="btn btn-primary tonto-btn-search"
									onclick="table.refresh()">
									<i class="fa fa-search"></i>查询
								</button>
								<button type="button" style="width: 100px"
									class="btn btn-default" onclick="$('#searchbar').resetSearch()">
									<i class="fa fa-repeat"></i>重置
								</button>
							</div>
						</div>
					</div>
					<!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
					<input type="text" style="display: none">
				</form>
				<input type="hidden" id="pageLimit" th:value="${query?.limit}" /> <input
					type="hidden" id="pageOffset" th:value="${query?.offset}" />
			</div>
		</div>
		<div class="box box-solid" style="margin-top: 20px">
			<div id="result" class="box-body">
				<table id="dataGrid"></table>
				<div id="toolbar">
					<div class="btn-group">
						<a onclick="add()" class="btn btn-default"><i
							class="glyphicon glyphicon-plus"></i>新增</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:include="/qos/footer" />

	<script type="text/javascript">
		var table;
		$(function() {
			initDataGrid();
		});

		function initDataGrid() {
			table = $
					.createTable(
							"#dataGrid",
							{
								idField : "id",
								columns : [ [
										{
											title : "单位",
											field : "unitName",
											align : "left"
										},
										{
											title : "本医疗机构向上级医疗机构转出人数",
											field : "upOutNumber",
											sortable : true,
											sorter : function(fa, fb, ra, rb) {
												if (ra.unitName == '合计')
													return table.options.sortOrder == 'desc' ? -1
															: 1;
												if (rb.unitName == '合计')
													return table.options.sortOrder == 'desc' ? 1
															: -1;

												if (fa == '-')
													return table.options.sortOrder == 'desc' ? -1
															: 1;
												if (fb == '-')
													return table.options.sortOrder == 'desc' ? 1
															: -1;

												return fa - fb;
											}
										},
										{
											title : "本医疗机构向下级医疗机构转出人数",
											field : "downOutNumber",
											sortable : true,
											sorter : function(fa, fb, ra, rb) {
												if (ra.unitName == '合计')
													return table.options.sortOrder == 'desc' ? -1
															: 1;
												if (rb.unitName == '合计')
													return table.options.sortOrder == 'desc' ? 1
															: -1;

												if (fa == '-')
													return table.options.sortOrder == 'desc' ? -1
															: 1;
												if (fb == '-')
													return table.options.sortOrder == 'desc' ? 1
															: -1;

												return fa - fb;
											}
										},
										{
											title : "是否为签约人员",
											field : "isSigning",
											enumcode : "boolean-type"
										},
										{
											title : "创建时间",
											field : "createTime",
											formatter : "datetime"
										},
										/*  {title: "创建人", field: "createUserId"}, */
										{
											title : "操作",
											align : "center",
											width : "200px",
											events : {
												'click .detail' : function(e,
														value, row, index) {
													detail(row);

												},
												'click .remove' : function(e,
														value, row, index) {
													remove(row);
												}
											},
											formatter : function operateFormatter(
													value, row, index) {
												return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>'
														+ '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';

											}
										} ] ],
								url : '/qos/count/referral/find/page',
								searchbar : '#searchbar',
								exportUrl : '/qos/count/referral/export',
								showColumns : true,
								pagination : true,
								showExport : true,
								exportTypes : [ 'excel' ],
								sidePagination : 'client',
								toolbar : "#toolbar",
								showRefresh : true
							});
		}

		function add() {
			window.location = '/qos/count/referral/add';
		}

		function detail(row) {
			window.location = '/qos/count/referral/detail'
					+ (row ? ('?id=' + row.id) : '');
		}

		function remove(row) {
			if (row) {
				layer.confirm('确定删除吗?', function() {
					$.getAjax('/qos/count/referral/delete?id=' + row.id,
							function() {
								$.successMessage("删除成功");
								// window.location = '/qos/count/referral/index';
								table.refresh();
							});
				});
			}
		}
	</script>
</body>

</html>