<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    <tt:constant enumcode="nature-type,region-type,subordination-type,school-section-type,grade-type"/>
    <input th:value="${id}" id="id" type="hidden" />
    <section class="content-header">
        <h1>双向转诊统计详情</h1>
        <ol class="breadcrumb">
            <li><a href="/qos/count/referral/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/qos/count/referral/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/qos/footer" />
    <script type="text/javascript">

    var options = {
	        id: "model",
	        name: "详情",
	        server: false,
	        editFormClass: false,
	        columns: [
					{title : "本医疗机构向上级医疗机构转出人数",name : "upOutNumber",inputType : "NUMBER"},
					{title : "本医疗机构向下级医疗机构转出人数",name : "downOutNumber",inputType : "NUMBER"},

				     ]
					}
					var model, itemId;

					$(function() {
						var html = generateHtml(options);
						$(".content").html(html);
						$.initComponment($(".content"));
						itemId = $("#id").val();

						$.getAjax("/qos/count/referral/get?id=" + $("#id").val(),
								function(data) {
									model = new tonto.Model("model",
											options.columns, {
												server : false,
												submitClick : function() {
													update();
												}
											});
									model.setData(data);
								});
					});

					function update(confirm) {
						var data = model.getFormData();
							data['id'] = itemId;
							$.postJsonAjax("/qos/count/referral/update", data,
									function(result) {
										$.successAlert("保存成功", function() {
											model.toView();
											model.setData(data);
										});
									}, $("#submitBtn"));
					}
				</script>
</body>

</html>