<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.report.ReportDataMapper">

<select id="findAll" resultType="com.paladin.qos.service.report.vo.ReportDataVO">
SELECT r.id,r.type,r.`data`,r.unit_id as unitId,r.create_time as createTime from report_data AS r WHERE r.type=1
<if test="unitId != null and unitId !='' ">
	and r.unit_id in
	<foreach collection="unitId" index="index" item="item" open="("
		separator="," close=")">
		#{item}
	</foreach>
</if>
</select>

<select id="judgePerinatal" resultType="int">
	SELECT count(1) FROM report_data WHERE unit_id=#{unitId} and (DATE_FORMAT(create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')) ORDER BY create_time desc LIMIT 1;
</select>

<select id="judge" resultType="int">
SELECT count(1) FROM report_data WHERE type =#{type} and (DATE_FORMAT(create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m')) ORDER BY create_time desc LIMIT 1;
</select>
</mapper>
