<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="data-event-type,data-unit-type" />
   <section class="content-header">
    <h1>床位统计报表</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <form id="searchbar" class="form-horizontal form-search">
                <div class="form-group">
                    <!--<div class="col-md-2">-->
                        <!--<select name="unitId" class="form-control">-->
                            <!--<option value="">请选择单位</option>-->
                            <!--<option th:each="unit : ${unit}" th:value="${unit.id}" th:text="${unit.name}"></option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<input name="date" id="dateInput" placeholder="请选择月份" autocomplete="off" type="text" class="form-control">-->
                    <!--</div>-->
                    <div class="col-md-2">
                        <input name="startDate"  id="startDate" placeholder="请输入开始时间" autocomplete="off" type="text" value="2015-01-01" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <input name="endDate" id="endDate" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div id="sumChartDiv" class="box-body" style="height: 300px">
                </div>
            </div>
            <div class="box box-solid">
                <div id="pieChartDiv" class="box-body" style="height: 400px">
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">

    //图表自适应大小
    window.addEventListener("resize", function() {
        infection1Chart.resize();
        pieChartDiv.resize();
    });

    var table, sumChart, dayChart, sumData, requestParams,selectUnit,result;
    $(function() {
        var day=new Date();
        day.setTime(day.getTime());
        var month = day.getFullYear()+"-" + (day.getMonth()+1);
        laydate.render({
            elem: '#dateInput',
            type: 'month',
            value:''
        });
        initTable();
    });

    function getRate(row) {
        var e = row.userBedNumber,
            t = row.openBedNumber;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }

    function getTotalRate(totalNumber, eventNumber) {
        var c = 0;
        if (eventNumber && totalNumber) {
            c = eventNumber / totalNumber * 100;
        }
        return c.toFixed(2) ;
    }

    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "医疗机构", field: "unitName" },
                    { title: "额定床位数", field: "bedNumber" },
                    { title: "实际开放总床日数", field: "openBedNumber" },
                    { title: "实际占用总床日数", field: "userBedNumber" },
                    {
                        title: "床位占用率",
                        field: "userBedRate",
                        formatter: function(value, row, index) {
                            return value + "%";
                        }
                    }
                ]
            ],
            url: '/qos/data/unit/bed/processing',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            // onCheck: function(row) {
            //     console.log("on check");
            //     console.log(row);
            //
            // },
            // onUncheck: function(row) {
            //     console.log("on uncheck");
            //     console.log(row);
            // },
            queryParams: function(params) {
                requestParams = params;
                return params;
            },
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            responseHandler: function(res) {
                sumData = res || [];
                result = []
                for (var o in sumData) {
                    result.push(sumData[o]);
                }
                var bedNumber=0;
                var openBedNumber=0;
                var userBedNumber=0;
                for (var i = 0; i < sumData.length; i++) {
                    var row = sumData[i];
                    bedNumber+=row.bedNumber;
                    openBedNumber+=row.openBedNumber;
                    userBedNumber+=row.userBedNumber;
                    row.userBedRate = getRate(row);
                }

                var total={
                    "unitName" : "合计",
                    "bedNumber" :bedNumber,
                    "openBedNumber":openBedNumber,
                    "userBedNumber" :userBedNumber,
                    "userBedRate":getTotalRate(openBedNumber,userBedNumber),
                }

                sumData.push(total);

                initSumChart();
                initPieChart();

                return sumData;
            }
        });
    }

    function unitSelected(row) {
        selectUnit = row.unitName;
        initPieChart();
    }

    var infection1Chart = echarts.init(document.getElementById('sumChartDiv'));
    var pieChartDiv = echarts.init(document.getElementById('pieChartDiv'));

    function initSumChart() {

        if (sumData==0){
            showChartInfo(infection1Chart, '暂无数据显示');
            return false;
        }

        var dataAxis = [],
            data = [],
            yMax = 1, //100
            dataShadow = [];


        for (var i = 0; i < result.length; i++) {
            var it = result[i];
            dataAxis.push(it.unitName);
            data.push(it.userBedRate);
        }

        var	option = {
            title: {
                text: '床位占用率条形图',
            },
            color: ['#3398DB'],
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                },

                formatter: "{a} <br/>{b} : {c}%"

            },

            grid: {
                left: '0%',
                right: '0%',
                bottom: '5%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval:0,
                    rotate:25//角度顺时针计算的
                } ,
                axisTick : {
                    alignWithLabel : true
                },
                data: dataAxis
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    show:true,
                    formatter: '{value}%',//给Y轴数值添加百分号
                }
            },

            grid: {
                bottom: '110px',
            },
            series: [
                {
                    name: '床位占用率',
                    type: 'bar',
                    barWidth : 30,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                        }
                    },
                    data: data
                }
            ],
            legend: {
                data: '床位占用率',
                bottom:0
            }
        };
        infection1Chart.setOption(option,true);
    };



    function initPieChart() {
        if (sumData==0){
            showChartInfo(pieChartDiv, '暂无数据显示');
            return false;
        }
        var sumOpen=0;
        var sumUse=0;
        var occupyRate=0;
        var remainRate=0;
        var pieMessage;

        let unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < sumData.length; i++) {
            if (unitId=='total'){
                total.push(sumData[i])
            }else{
                if (sumData[i].unitName==unitId){
                    total.push(sumData[i]);
                }
            }
        }
        for (var i = 0; i < total.length; i++) {
            var it = total[i];
           sumOpen+=it.openBedNumber;
           sumUse+=it.userBedNumber;
        }
        var x = sumUse * 100 / sumOpen;
        occupyRate=x.toFixed(2) * 1;
        remainRate=(100-occupyRate).toFixed(2);
        pieMessage=occupyRate+"%";
        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            title: {
                text: '床位占用率',

            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: pieMessage+'\n'+'床位占用率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'实际床位占用率',
                    type:'pie',
                    radius: ['50%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:occupyRate,
                            name:'实际床位占用率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                        show:false,
                                    },
                        }
                    ]
                }
            ]
        };
        pieChartDiv.setOption(option,true);
    }

    var showChartInfo = function (sumChart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle: {
                    color: 'grey',
                    fontSize: 20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        sumChart.clear();
        sumChart.hideLoading();
        sumChart.setOption(msgOption)
    };
</script>
</body>

</html>