<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/common/header" />

<body>
	<tt:constant enumcode="boolean-type,role-level-type" />
	<section class="content-header">
		<h1>抗菌药物使用统计</h1>
	</section>
	<section class="content">
		<div class="box box-solid">
			<div class="box-body">
				<form id="searchbar" class="form-horizontal form-search">
					<div class="form-group">
						<div class="col-md-2">
							<input type="text" name="varieties" class="form-control"
								th:value="${query?.varieties}" placeholder="住院患者人均使用抗菌药物品种数">
						</div>

						<div class="col-md-10">
							<div class="pull-right">
								<button type="button" style="width: 100px"
									class="btn btn-primary tonto-btn-search"
									onclick="table.refresh()">
									<i class="fa fa-search"></i>查询
								</button>
								<button type="button" style="width: 100px"
									class="btn btn-default" onclick="$('#searchbar').resetSearch()">
									<i class="fa fa-repeat"></i>重置
								</button>
							</div>
						</div>
					</div>
					<!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
					<input type="text" style="display: none">
				</form>
				<input type="hidden" id="pageLimit" th:value="${query?.limit}" /> <input
					type="hidden" id="pageOffset" th:value="${query?.offset}" />
			</div>
		</div>
		<div class="box box-solid" style="margin-top: 20px">
			<div id="result" class="box-body">
				<table id="dataGrid"></table>
				<div id="toolbar">
					<div class="btn-group">
						<a onclick="add()" class="btn btn-default"><i
							class="glyphicon glyphicon-plus"></i>新增</a>
					</div>
				</div>
			</div>
		</div>

		<!-- 判断这个值是否半年内有效 -->
		<input type="hidden" id="canAdd" th:value="${canAdd}" />

	</section>

	<div th:include="/common/footer" />
	<script type="text/javascript">
		var table;
		$(function() {
			initDataGrid();
		});

		function initDataGrid() {
			var limit = $("#pageLimit").val();
			var offset = $("#pageOffset").val();
			var page = (limit && offset) ? offset / limit + 1 : 1;

			table = $
					.createTable(
							"#dataGrid",
							{
								idField : "id",
								columns : [ [
									{ title: "住院患者人均使用抗菌药物品种数", field: "varieties",align: "left",formatter : getRate},
									{ title: "住院患者人均使用抗菌药物费用", field: "averageCost",align: "left",formatter : getRate},
									{ title: "住院患者使用抗菌药物的百分率", field: "userRate",align: "left",formatter : getRate},
									{ title: "住院患者抗菌药物占总费用百分率", field: "rateOfTotal",align: "left",formatter : getRate},
									{ title: "创建时间", field: "createTime",align: "left",formatter : "datetime"},
										{
											title : "操作",
											align : "center",
											width : "200px",
											events : {
												'click .detail' : function(e,
														value, row, index) {
													detail(row);
												},
												'click .grant' : function(e,
														value, row, index) {
													grant(row);
												},
												'click .remove' : function(e,
														value, row, index) {
													remove(row);
												},
												'click .edit' : function(e,
														value, row, index) {
													edit(row);
												}
											},
											formatter : function operateFormatter(
													value, row, index) {
												return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>'
														+ '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';
											}
										} ] ],
								url : '/qos/countantibiotics/find/all',
								searchbar : '#searchbar',
								showColumns : true,
								pageSize : limit || undefined,
								pageNumber : page || 1,
								pagination : true,
								clickToSelect : true,
								toolbar : "#toolbar",
								showRefresh : true,
								exportUrl : '/qos/countantibiotics/export',
								showExport : true,
								showColumns : true,
								showRefresh : true
							});
		}

		var canAdd = $("#canAdd").val();
		function add() {
	 		if (canAdd == 'true') {
				window.location = '/qos/operationComplication/add';
 			} else {

				$.errorMessage("添加记录未满半年！");
			}

		}

	 
		 
		function getRate(value, row, index) {
			return value + "%";
		}

		 
		function remove(row) {
			if (row) {
				layer.confirm('确定删除吗?', function() {
					$.getAjax('/qos/countantibiotics/delete?id=' + row.id,
							function() {
								$.successMessage("删除成功");
								table.refresh();
							});
				});
			}
		}
		
		
	 	
		
		  var content = '<form id="transfers" class="form-horizontal" style="margin-top: 20px;">' +
 		    '    <label for="name" class="col-xs-4 control-label">住院患者人均使用抗菌药物品种数</label>' +
		    '    <div class="col-xs-7">' +
		    '        <input type="text" class="form-control" id="varieties" name="varieties" required="required" placeholder="请输入"></input>' +
		    '    </div>%' +
		    '    <div style="width:100%;height:52px;"></div>' +
		    '    <label for="name" class="col-xs-4 control-label">住院患者人均使用抗菌药物费用</label>' +
		    '    <div class="col-xs-7">' +
		    '        <input type="text" class="form-control" id="averageCost" name="averageCost" required="required" placeholder="请输入"></input>' +
		    '    </div>%' +
		    '    <div style="width:100%;height:52px;"></div>' +
		    '    <label for="name" class="col-xs-4 control-label">住院患者使用抗菌药物的百分率</label>' +
		    '    <div class="col-xs-7">' +
		    '        <input type="text" class="form-control" id="userRate" name="userRate" required="required" placeholder="请输入"></input>' +
		    '    </div>%' +
		    '    <div style="width:100%;height:52px;"></div>' +
		    '    <label for="name" class="col-xs-4 control-label">住院患者抗菌药物占总费用百分率</label>' +
		    '    <div class="col-xs-7">' +
		    '        <input type="text" class="form-control" id="rateOfTotal" name="rateOfTotal" required="required" placeholder="请输入"></input>' +
		    '    </div>%' +
  			'<div class="col-sm-5 col-sm-offset-4" style="margin-top: 20px;">' +
		    '        <a onclick="submit()" type="button" class="btn btn-primary btn-block">确定</a>' +
		    '    </div>' 
		    '</form>'; 
		    
		    
		    
	 
		    
			var index;
		    function add(row) {
		    	 index = layer.open({
		             type: 1,
		             title: '添加',
		             closeBtn: 1,
		             maxmin: true, //开启最大化最小化按钮
		             area: $.getOpenLayerSize(900, 400),
		             maxmin: false, //开启最大化最小化按钮
		             content: content,
		             success: function(){
		            	 
		            	
		             }
		         });
		    }
		    
		    
		    function submit() {
		    	/*  var varieties = $("#varieties").val();
		    	 if (varieties == null || varieties == '') {
		             $.errorMessage("住院患者人均使用抗菌药物品种数不能为空");
		             return;
		         } */
		    	 var data = {
		    		varieties:$("#varieties").val(),
		    		averageCost:$("#averageCost").val(),
		    		userRate:$("#userRate").val(),
		    		rateOfTotal:$("#rateOfTotal").val()
		    	 } 
		    	
		    	 $.postAjax("/qos/countantibiotics/save",data, function(res) {
 		            $.successMessage("新增成功");
		            table.refresh();
		            layer.close(index);
		        })
		    }
		    
		    
		    
		    /*查看详情*/
		 function detail(row) {
			window.location = '/qos/countantibiotics/detail'
					+ (row ? ('?id=' + row.id) : '');
		}
		    
	</script>
</body>

</html>