#middle .middle{
  width:40vw;
}

#box,.roll{
  height:38vh;
}

.roll{
 width:41vw;
  height:37vh;
  background-size:100% 100%!important;

}

.roll .header{
  height:35px!important;
  line-height:35px!important;
}

@media screen and (max-width: 1920px) and (min-width: 1400px){
    #middle .bg_opacity {
        background: url(../../static/image/index/opacitybg.png);
        background-size: 100% 100%;
        width: 50vh;
        height: 26.5vh;
        margin: 10px 0px 10px 0px;
    }

#doctor,
        #individualization,
        #effective,
        #visiting,
        #signingDoctor {
            width: 52vh;
            height: 20vh;
        }
}




.carousel-inner{
  height:37vh!important;
}

#middle{
  margin-top:4vh;
}

.carousel-item{
  display:none;
}

.pr-70{
  padding-right: 2vw;
  margin-top: 1.5vw;
}
#middle .middle{
  width:45vw!important;
}

.roll{
  width:45vw!important;
}

.doctor-mid-bg{
  margin-right:3vw!important;
}

.doctor-mid-bg:nth-child(4n){
  margin-right:0px!important;
}

.doctor_unitName,.doctor_teamName,.doctor_names,.doctor_ages,.doctor_jobRank,.doctor_isTeamCaptain,.doctor_personnelCategory{
        width:5.7vw!important;
        display:inline-block;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
        height:5.5vh;
        line-height:5.5vh;
        text-align:left;
}

.doctor_teamName{

}

.doctor_names{

}

.doctor_ages{

}

.doctor_jobRank{

}

.doctor_isTeamCaptain{

}

.doctorheader{
  width:50vh!important;
}

.roll .header span:first-child{
  width:9.9vw!important;
  text-align:center;
}

.roll{
  background:url('../../static/image/index/kuang.png') no-repeat!important;
  background-size: 100% 100%!important;
  height:42vh!important;
}

.rollheader{
  background:none!important;
}