<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.gongwei.ArchivesManagementMapper">

    <!--档案管理-->
    <select id="getArchivesTotal" resultType="com.paladin.qos.service.gongwei.vo.ArchivesManagementVO">
        select d1.unit_id unitId ,f.population*10000 peopleNumber,d1.active activeArchivesNumber,d2.public publicArchivesNumber from
        (select unit_id,sum(total_num) as active from data_processed_day where event_id= #{eventId1} and unit_id=#{unitId}) d1
        join
        (select unit_id,sum(event_num) as public from data_processed_day where event_id=#{eventId2} and unit_id=#{unitId}) d2
        on d1.unit_id=d2.unit_id
        join family_doctor_unit f
        on d2.unit_id=f.id;
    </select>

    <select id="get12MonthArchives" resultType="com.paladin.qos.service.gongwei.vo.ArchivesMonthsVO">
        select  sum(total_num) as archivesNumber  from  data_processed_day
        where event_id=#{eventId}
        and year=#{year}
        and month =#{day}
    </select>

    <select id="getArchivesNumber" resultType="java.lang.Long">
        select  sum(total_num)   from  data_processed_day
        where event_id=#{eventId}
       and serial_number <![CDATA[<]]> #{date}
    </select>

</mapper>

