<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.gongwei.PressureSugarManagementMapper">

    <!--血压管理数-->
    <select id="getPressureManageNumber" resultType="com.paladin.qos.model.gongwei.PressureSugar">
      select porgcode as unitId,COALESCE (SUM(gf) ,0) as pressureManageNumber from report_year_blood where
              yeartype=1
        <if test="startYear !=null and startYear != 0">
            and reportyear <![CDATA[>=]]> #{startYear}
        </if>
        <if test="endYear !=null and endYear != 0">
            and reportyear <![CDATA[<=]]> #{endYear}
        </if>
        and porgcode= #{unitId}
    </select>


    <!--血压随访数数-->
    <select id="getPressureFollowNumber" resultType="com.paladin.qos.model.gongwei.PressureSugar">
        select porgcode as unitId,COALESCE (SUM(sf) ,0) as pressureFollowNumber from report_year_blood where
        yeartype=1
        <if test="startYear !=null and startYear != 0">
            and reportyear <![CDATA[>=]]> #{startYear}
        </if>
        <if test="endYear !=null and endYear != 0">
            and reportyear <![CDATA[<=]]> #{endYear}
        </if>
        and porgcode= #{unitId}
    </select>

    <!--血糖管理数-->
    <select id="getSugarManageNumber" resultType="com.paladin.qos.model.gongwei.PressureSugar">
        select porgcode as unitId,COALESCE (SUM(gf) ,0) as sugarManageNumber  from report_year_diabetes where
        yeartype=1
        <if test="startYear !=null and startYear != 0">
            and reportyear <![CDATA[>=]]> #{startYear}
        </if>
        <if test="endYear !=null and endYear != 0">
            and reportyear <![CDATA[<=]]> #{endYear}
        </if>
        and porgcode= #{unitId}
    </select>

    <!--血糖随访数-->
    <select id="getSugarFollowNumber" resultType="com.paladin.qos.model.gongwei.PressureSugar">
        select porgcode as unitId,COALESCE (SUM(sf) ,0) as sugarFollowNumber  from report_year_diabetes where
        yeartype=1
        <if test="startYear !=null and startYear != 0">
            and reportyear <![CDATA[>=]]> #{startYear}
        </if>
        <if test="endYear !=null and endYear != 0">
            and reportyear <![CDATA[<=]]> #{endYear}
        </if>
        and porgcode= #{unitId}
    </select>

</mapper>

