<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="data-event-type,data-unit-type" />
<section class="content-header">
    <h1>辖区建档情况报表</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <form id="searchbar" class="form-horizontal form-search">
                <div class="form-group">
                    <!--<div class="col-md-2">-->
                        <!--<select name="unitId" class="form-control">-->
                            <!--<option value="">请选择辖区</option>-->
                            <!--<option th:each="unit : ${unit}" th:value="${unit.id}" th:text="${unit.name}"></option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <div class="col-md-2">
                        <input name="startDate"  id="startDate" placeholder="请输入开始时间" autocomplete="off" type="text" value="2015-01-01" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <input name="endDate" id="endDate" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-solid">
                <div id="pieChartDiv1" class="box-body" style="height: 250px">
                </div>
            </div>
            <div class="box box-solid">
                <div id="pieChartDiv2" class="box-body" style="height: 250px">
                </div>
            </div>
            <div class="box box-solid">
                <div id="pieChartDiv3" class="box-body" style="height: 250px">
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">

    //图表自适应大小
    window.addEventListener("resize", function() {
        pieChart1.resize();
        pieChart2.resize();
        pieChart3.resize();
    });

    var table, sumChart, dayChart, sumData, requestParams,selectUnit,dataVal;
    $(function() {
        var day=new Date();
        day.setTime(day.getTime());
        var month = day.getFullYear()+"-" + (day.getMonth()+1);
        laydate.render({
            elem: '#dateInput',
            type: 'month',
            value:month
        });
        initTable();
    });

    function getActiveRate(row) {
        var e = row.activeArchivesNumber,
            t = row.peopleNumber;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }

    function getPublicRate(row) {
        var e = row.publicArchivesNumber,
            t = row.activeArchivesNumber;
        if (t == 0) return 0;
        var x = e * 100 / t;
        if (x < 0.005) {
            return 0;
        }
        return x.toFixed(2) * 1;
    }


    function getRate(totalNumber, eventNumber) {
        var c = 0;
        if (eventNumber && totalNumber) {
            c = eventNumber / totalNumber * 100;
        }
        return c.toFixed(2) ;
    }


    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "辖区", field: "unitName" },
                    { title: "常驻居民数", field: "peopleNumber" },
                    { title: "健康档案数", field: "activeArchivesNumber" },
                    { title: "建档率", field: "createArchivesRate" ,
                        formatter: function(value, row, index) {
                        if(value)
                            return value + "%";
                        }},
                    { title: "审核公开的健康档案数", field: "publicArchivesNumber" },
                    { title: "档案公开率", field: "publicArchivesRate",
                        formatter: function(value, row, index) {
                            if(value)
                            return value + "%";
                        }},

                    { title: "档案使用率", field: "createArchivesRate",
                        formatter: function(value, row, index) {
                            if(value)
                                return value + "%";
                        }}
                ]
            ],
            url: '/qos/gongwei/archives/search/all',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
                requestParams = params;
                return params;
            },
            responseHandler: function(res) {
                var data = {};
                sumData = res || [];
                var totalPeopleNumber=0;
                var totalActiveArchivesNumber=0;
                var totalPublicArchivesNumber=0;
                for (var i = 0; i < sumData.length; i++) {
                    var row = sumData[i];
                    totalPeopleNumber+=row.peopleNumber;
                    totalActiveArchivesNumber+=row.activeArchivesNumber;
                    totalPublicArchivesNumber+=row.publicArchivesNumber;
                    row.createArchivesRate = getActiveRate(row);
                    row.publicArchivesRate = getPublicRate(row);
                }
                var total={
                    "unitName" : "合计",
                    "peopleNumber" :totalPeopleNumber,
                    "activeArchivesNumber":totalActiveArchivesNumber,
                    "createArchivesRate" : getRate(totalPeopleNumber,totalActiveArchivesNumber),
                    "publicArchivesNumber":totalPublicArchivesNumber,
                    "publicArchivesRate":getRate(totalActiveArchivesNumber,totalPublicArchivesNumber)
                }
                sumData.push(total);
                dataVal = data|| [];

                initPieChart1();
                initPieChart2();
                initPieChart3();
                return sumData;
            }
        });
    }


    function unitSelected(row) {
        selectUnit = row.unitName;
        initPieChart1();
        initPieChart2();
        initPieChart3();
    }

    var pieChart1 = echarts.init(document.getElementById('pieChartDiv1'));
    var pieChart2 = echarts.init(document.getElementById('pieChartDiv2'));
    var pieChart3 = echarts.init(document.getElementById('pieChartDiv3'));

    function initPieChart1() {
        if (sumData==0){
            showChartInfo(pieChart1, '暂无数据显示');
            return false;
        }

        var sumOpen=0;
        var sumUse=0;
        var occupyRate=0;
        var remainRate=0;
        var pieMessage;

        let unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < sumData.length; i++) {
            if (unitId=='total'){
                total.push(sumData[i])
            }else{
                if (sumData[i].unitName==unitId){
                    total.push(sumData[i]);
                }
            }
        }

        for (var i = 0; i < total.length; i++) {
            var it = total[i];
            sumOpen+=it.peopleNumber;
            sumUse+=it.activeArchivesNumber;
        }
        var x = sumUse * 100 / sumOpen;
        occupyRate=x.toFixed(2) * 1;
        remainRate=(100-occupyRate).toFixed(2);
        pieMessage=occupyRate+"%";

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            // title: {
            //     text: '建档率',
            //
            // },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: pieMessage+'\n'+'建档率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'建档率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:occupyRate,
                            name:'建档率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart1.setOption(option,true);
    };



    function initPieChart2() {
        if (sumData==0){
            showChartInfo(pieChart2, '暂无数据显示');
            return false;
        }
        var sumOpen=0;
        var sumUse=0;
        var occupyRate=0;
        var remainRate=0;
        var pieMessage;
        var total=[];
        let unitId = selectUnit || 'total';
        for (var i = 0; i < sumData.length; i++) {
            if (unitId=='total'){
                total.push(sumData[i])
            }else{
                if (sumData[i].unitName==unitId){
                    total.push(sumData[i]);
                }
            }
        }

        for (var i = 0; i < total.length; i++) {
            var it = total[i];
            sumOpen+=it.activeArchivesNumber;
            sumUse+=it.publicArchivesNumber;
        }
        var x = sumUse * 100 / sumOpen;
        occupyRate=x.toFixed(2) * 1;
        remainRate=(100-occupyRate).toFixed(2);
        pieMessage=occupyRate+"%";

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            // title: {
            //     text: '档案公开率',
            //
            // },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: pieMessage+'\n'+'档案公开率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'档案公开率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:occupyRate,
                            name:'档案公开率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart2.setOption(option,true);
    }

    function initPieChart3() {
        if (sumData==0){
            showChartInfo(pieChart1, '暂无数据显示');
            return false;
        }

        var sumOpen=0;
        var sumUse=0;
        var occupyRate=0;
        var remainRate=0;
        var pieMessage;

        let unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < sumData.length; i++) {
            if (unitId=='total'){
                total.push(sumData[i])
            }else{
                if (sumData[i].unitName==unitId){
                    total.push(sumData[i]);
                }
            }
        }

        for (var i = 0; i < total.length; i++) {
            var it = total[i];
            sumOpen+=it.peopleNumber;
            sumUse+=it.activeArchivesNumber;
        }
        var x = sumUse * 100 / sumOpen;
        occupyRate=x.toFixed(2) * 1;
        remainRate=(100-occupyRate).toFixed(2);
        pieMessage=occupyRate+"%";

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            // title: {
            //     text: '建档率',
            //
            // },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: pieMessage+'\n'+'档案使用率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'档案使用率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:occupyRate,
                            name:'档案使用率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart3.setOption(option,true);
    };



    var showChartInfo = function (sumChart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle: {
                    color: 'grey',
                    fontSize: 20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        sumChart.clear();
        sumChart.hideLoading();
        sumChart.setOption(msgOption)
    };
</script>
</body>

</html>