<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/qos/header" />

<body>
<section class="content no-padding">
    <div class="box box-solid" style="height: 45px;margin-bottom: 5px">
        <div class="box-body no-pad-top" >
            <form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">
                <div class="form-group">
                    <div class="col-md-2">
                        <input name="startTime"  id="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <input name="endTime" id="endTime" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="searchData() "><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>
    <div class="row" style="margin: 1px">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border" >
                    <h3 class="box-title" style="letter-spacing: 3px">儿童建卡人数</h3>
                </div>
                <div class="box-body" style="height: 110px">
                    <p style="text-align: center;font-size: 45px;color: #44b7d3;font-weight: bold" id="etjk">
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border" >
                    <h3 class="box-title" style="letter-spacing: 3px">新生儿疾病筛查人数</h3>
                </div>
                <div class="box-body" style="height: 110px">
                    <p style="text-align: center;font-size: 45px;color: #44b7d3;font-weight: bold" id="jbsc">
                    </p>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border" >
                    <h3 class="box-title" style="letter-spacing: 3px">新生儿出生缺陷人数</h3>
                </div>
                <div class="box-body" style="height: 110px">
                    <p style="text-align: center;font-size: 45px;color: #44b7d3;font-weight: bold" id="csqx">
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border" >
                    <h3 class="box-title" style="letter-spacing: 3px">儿童入园健康检查数</h3>
                </div>
                <div class="box-body" style="height: 110px">
                    <p style="text-align: center;font-size: 45px;color: #44b7d3;font-weight: bold" id="etry">
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border" >
                    <h3 class="box-title" style="letter-spacing: 3px">婴幼儿死亡人数</h3>
                </div>
                <div class="box-body" style="height: 110px">
                    <p style="text-align: center;font-size: 40px;color: #44b7d3;font-weight: bold" id="yesw">
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding-left: 0">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title" style="letter-spacing: 3px">新生儿分娩数</h3>
                </div>
                <div id="xsefmChartDiv" class="box-body " style="height: 370px">
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title" style="letter-spacing: 3px">新生儿听力筛查</h3>
                </div>
                <div id="xsetlChartDiv" class="box-body " style="height: 370px">
                </div>
            </div>
        </div>
        <div class="col-md-6" style="padding-left: 0">
            <div class="box box-solid" style="margin-bottom: 15px">
                <div class="box-header with-border">
                    <h3 class="box-title" style="letter-spacing: 3px">儿童健康体检</h3>
                </div>
                <div class="box-body" style="height: 230px;overflow: auto">
                    <table id="etjkDataGrid"></table>
                </div>
            </div>
            <div class="box box-solid" style="margin-bottom: 15px">
                <div class="box-header with-border">
                    <h3 class="box-title" style="letter-spacing: 3px">婴幼儿视力筛查</h3>
                </div>
                <div class="box-body" style="height: 230px;overflow: auto">
                    <table id="yeslDataGrid"></table>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title" style="letter-spacing: 3px">婴幼儿先天性心脏病筛查</h3>
                </div>
                <div class="box-body" style="height: 230px;overflow: auto">
                    <table id="yexzbDataGrid"></table>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript">
    /*<![CDATA[*/
    var newbornChildTotal, newbornHearingTotal,xzbTable,EttjTable,yeslTable;
    $(function () {
        initChildCareManagement();
        generatorXsefmChart(xsefmChart);
        initEtjkDataGrid();
        initYeslDataGrid();
        initYexzbDataGrid();
    });
    //图表自适应大小
    window.addEventListener("resize", function () {
        xsefmChart.resize();
        xsetlChart.resize();
    });

    var xsefmChart = echarts.init(document.getElementById('xsefmChartDiv'));
    var xsetlChart = echarts.init(document.getElementById('xsetlChartDiv'));

    function searchData() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        if (!startTime && !endTime) {
            return;
        }
        if (startTime && endTime) {
            let split = startTime.split("-");
            let split1 = endTime.split("-");
            let starttime = new Date(split[0], split[1], split[2]);
            let endtime  = new Date(split1[0], split1[1], split1[2]);
            if (starttime.getTime() >= endtime.getTime()) {
                $.errorMessage("请输入正确的时间区间");
            }
        }
        initChildCareManagement();
        generatorXsefmChart(xsefmChart);
        xzbTable.refresh();
        EttjTable.refresh();
        yeslTable.refresh();
    }

    function initChildCareManagement() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        $.postAjax("/qos/exhibition/child/search/all",{startTime : startTime, endTime : endTime},function (res) {
            let etjkData = [];
            let jbscData = [];
            let csqxData = [];
            let etryData = [];
            let yeswData = [];
            res.forEach(event => {
                if (event.eventId === '13203') {
                    etjkData = mergeTotalNumArr(event.unitPoints);
                    $("#etjk").text(getTotalFromAr(etjkData));
                } else if (event.eventId === '13204') {
                    jbscData = mergeTotalNumArr(event.unitPoints);
                    $("#jbsc").text(getTotalFromAr(jbscData));
                } else if (event.eventId === '13205') {
                    csqxData = mergeTotalNumArr(event.unitPoints);
                    $("#csqx").text(getTotalFromAr(csqxData));
                } else if (event.eventId === '13207') {
                    etryData = mergeTotalNumArr(event.unitPoints);
                    $("#etry").text(getTotalFromAr(etryData));
                } else if (event.eventId === '13206') {
                    yeswData = mergeTotalNumArr(event.unitPoints);
                    $("#yesw").text(getTotalFromAr(yeswData));
                }
            });
        })
    }
    function getTotalFromAr(data) {
        let total = 0;
        if (data) {
            data.forEach(function (d) {
                total += d.totalNum
            })
        }
        return total;
    }

    function mergeTotalNumArr(arr) {
        let newArr = [];
        arr.forEach(item=>{
            let points = item.points;
            points.reduce((newArr, obj) =>{
                let date = obj.year +'-'+ (obj.month <10 ? '0'+obj.month:obj.month);
                let originObj = newArr.find(point => point.date === date);
                if (originObj) {
                    originObj.totalNum += obj.totalNum
                } else {
                    newArr.push({date:date,totalNum:obj.totalNum})
                }
                return  newArr;
            },newArr)
        });
        return newArr;
    }

    function generatorXsefmChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        $.postAjax("/qos/exhibition/child/search/xsrfm",{startTime : startTime, endTime : endTime},function (res) {
            let chartData = [];
            if (res) {
                let maleData = [];
                let femaleData = [];
                let tlData = [];
                res.forEach(event => {
                    if (event.eventId === '13201') {
                        maleData = mergeTotalNumArr(event.unitPoints);
                    } else if (event.eventId === '13202') {
                        femaleData = mergeTotalNumArr(event.unitPoints);
                    } else if (event.eventId === '13211') {
                        tlData = mergeTotalNumArr(event.unitPoints);
                    }
                });
                let male = getTotalFromAr(maleData);
                let female = getTotalFromAr(femaleData);
                newbornChildTotal = male + female;
                newbornHearingTotal = getTotalFromAr(tlData);
                chartData.push({value:male,name:"男性"},{value:female,name:"女性"})
            }
            chart.hideLoading();
            if (newbornChildTotal !== 0) {
                generatorXsetlChart(xsetlChart);
            }else {

                    showChartInfo(xsetlChart,'暂无数据')

            }
            var labelOption = {
                normal: {
                    show: true,
                    position:'inner', //标签的位置
                    textStyle : {
                        fontStyle : 'italic',
                        fontWeight : 'bold' ,
                        fontFamily : 'Microsoft YaHei',
                        fontSize : 18   //文字的字体大小
                    },
                    formatter: '{b}：\n{c}个({d}%)'
                }
            };
            option = {
                color: [ '#67E0E3', '#37A2DA'], //环形图每块的颜色
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : {c}个 ({d}%)"
                },
                series: [
                    {
                        name: '性别',
                        type: 'pie',
                        radius : '95%',
                        center: ['50%', '50%'],
                        barGap: 0,
                        label:labelOption,
                        data: chartData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            chart.setOption(option,true);
        });
    }

    function generatorXsetlChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        var data = [
            {value:newbornHearingTotal, name:'新生儿听力筛查人数'},
            {value:newbornChildTotal - newbornHearingTotal, name:'未筛查人数'}
        ];
        let percentage;
        for (let item of data) {
            if (item.name === '新生儿听力筛查人数')
                percentage = (Math.round(item.value / newbornChildTotal * 10000) / 100.00).toFixed(2) + '%';
        }
        chart.hideLoading();
      let  option = {
            title: {
                text: ['{name|筛查率}'].join('\n'),
                subtext: percentage,
                top: '25%',
                left:'50%',
                textAlign: 'center',
                textStyle: {
                    rich: {
                        name: {
                            color: '#67E0E3',
                            lineHeight: 50,
                            fontWeight: 'bold',
                            fontSize: '50'
                        }
                    }
                },
                subtextStyle: {
                    fontSize: '40',
                    fontWeight: 'bold',
                    lineHeight: 35,
                    color: '#67E0E3',
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: "{b} : {c}个 ({d}%)"
            },
            legend: {
                orient: 'vertical',
                top: 'bottom',
                selectedMode: false,
                bottom : 5 ,
                formatter:  function(name){
                    var target;
                    for (var i = 0, l = data.length; i < l; i++) {
                        if (data[i].name === name) {
                            target = data[i].value;
                        }

                    }
                    return name + ' ' + target + '个';
                }
            },
            series: [
                {
                    name:'新生儿听力筛查',
                    type:'pie', //环形图的type和饼图相同
                    radius: ['60%', '80%'],//饼图的半径，第一个为内半径，第二个为外半径
                    center: ['50%', '40%'],
                    avoidLabelOverlap: false,
                    color: [ '#67E0E3', '#37A2DA'], //环形图每块的颜色
                    hoverAnimation : false,
                    label: {
                        normal: {
                            // 此处重点，设置为显示
                            show: true,
                            position: 'center',
                            formatter: '{b}\n{c}',
                            align: 'center',
                            verticalAlign: 'middle',
                            // 此处重点，字体大小设置为0
                            textStyle: {
                                fontSize: '0'
                            }
                        },
                        emphasis: {
                            show: true,
                            textStyle: {
                                fontSize: '20',
                                fontWeight: 'bold'
                            },
                            // 同步样式
                            formatter: function (params) {
                                return `{tTitle|${params.name}}\n{tSubTitle|${params.value}个}`
                            },
                            rich: {
                                tTitle: {
                                    fontSize: '22',
                                    fontWeight: 'bold',
                                    lineHeight: 50
                                },
                                tSubTitle: {
                                    fontSize: '35',
                                    fontWeight: 'bold',
                                    lineHeight: 35
                                }
                            }
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:data
                }
            ]
        };
        chart.setOption(option);
        chart.on('mouseover', { seriesName: '新生儿听力筛查' }, params => {
            chart.setOption({
                title: {
                    show: false
                }
            })
        });
        chart.on('mouseout', { seriesName: '新生儿听力筛查' }, params => {
            chart.setOption({
                title: {
                    show: true
                }
            })
        });
    }

    function initEtjkDataGrid() {
        EttjTable = $.createTable("#etjkDataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "医疗机构", field: "unitName", align: "center",footerFormatter: function (data) {
                            return '总计';
                        }},
                    {title: "儿童体检人次数", field: "count", align: "center",footerFormatter: sumTotalFormatterModal},

                ]
            ],
            url: '/qos/exhibition/child/search/ettj',
            showFooter:true,
            pagination: false,
            searchbar: '#searchbar'
        });
    }

    function initYeslDataGrid() {
        yeslTable = $.createTable("#yeslDataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "医疗机构", field: "unitName", align: "center",footerFormatter: function (data) {
                            return '总计';
                        }},
                    {title: "婴幼儿视力筛查人次数", field: "count", align: "center",footerFormatter: sumTotalFormatterModal},

                ]
            ],
            url: '/qos/exhibition/child/search/yesl',
            showFooter:true,
            pagination: false,
            searchbar: '#searchbar'
        });
    }

    function initYexzbDataGrid() {
        xzbTable = $.createTable("#yexzbDataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "医疗机构", field: "unitName", align: "center",footerFormatter: function (data) {
                            return '总计';
                        }},
                    {title: "婴幼儿先天性心脏病筛查人次数", field: "count", align: "center",footerFormatter: sumTotalFormatterModal},

                ]
            ],
            url: '/qos/exhibition/child/search/xzb',
            showFooter:true,
            pagination: false,
            searchbar: '#searchbar'
        });
    }

    var showChartInfo = function (chart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle:{
                    color:'grey',
                    fontSize:20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        chart.clear() ;//initChart(divId): get echarts instance, you can get it by using other method
        chart.hideLoading();
        chart.setOption(msgOption)
    };

    function sumTotalFormatterModal(data) {
        field = this.field;
        var result = data.reduce(function(sum, row) {
            return sum + (row[field])*1;
        }, 0);
        return result === 0 ? '0' : result;
    }
    /*]]>*/
</script>
</body>
</html>