<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="/qos/header" />

<body>
<section class="content-header" style="padding-bottom: 3px">
    <h1>孕产妇管理</h1>
</section>

<section class="content">
    <div class="box box-solid" style="height: 45px;margin-bottom: 10px">
        <div class="box-body no-pad-top" >
            <form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">
                <div class="form-group">
                    <div class="col-md-2">
                        <input name="startTime" id="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <input name="endTime" id="endTime" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="searchData()"><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-4">
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border" style="padding: 2px 0 2px 5px;">
                            <h3 class="box-title" style="letter-spacing: 3px">高危孕产妇人数</h3>
                        </div>
                        <div class="box-body no-padding" style="height: 35px">
                            <p style="text-align: center;font-size: 25px;color: #44b7d3;font-weight: bold" id="gwycf">
                        </div>
                    </div>
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border" style="padding: 2px 0 2px 5px;">
                            <h3 class="box-title" style="letter-spacing: 3px">孕前检查人次数</h3>
                        </div>
                        <div class="box-body no-padding" style="height: 35px">
                            <p style="text-align: center;font-size: 25px;color: #44b7d3;font-weight: bold" id="yqjc">
                        </div>
                    </div>
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border" style="padding: 2px 0 2px 5px;">
                            <h3 class="box-title" style="letter-spacing: 3px">产后访视人次数</h3>
                        </div>
                        <div class="box-body no-padding" style="height: 35px">
                            <p style="text-align: center;font-size: 25px;color: #44b7d3;font-weight: bold" id="chfs">
                        </div>
                    </div>
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border" style="padding: 2px 0 2px 5px;">
                            <h3 class="box-title" style="letter-spacing: 3px">孕产妇死亡人数</h3>
                        </div>
                        <div class="box-body no-padding" style="height: 35px">
                            <p style="text-align: center;font-size: 25px;color: #44b7d3;font-weight: bold" id="yfsw">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-left: 0">
                    <div class="box box-solid" style="margin-bottom: 7px">
                        <div class="box-header with-border" style="padding-bottom: 3px">
                            <h3 class="box-title" style="letter-spacing: 3px">婚前检查</h3>
                        </div>
                        <div id="hqjcChartDiv" class="box-body " style="height: 225px;padding: 0 0 10px 0">
                        </div>
                    </div>
                </div>
                <div class="col-md-4" style="padding-left: 0">
                    <div class="box box-solid" style="margin-bottom: 7px">
                        <div class="box-header with-border"  style="padding-bottom: 3px">
                            <h3 class="box-title" style="letter-spacing: 3px">孕妇建卡</h3>
                        </div>
                        <div id="yfjkChartDiv" class="box-body" style="height: 225px;padding: 0 0 10px 0">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid" style="margin-bottom: 10px">
                        <div class="box-header with-border" style="padding-top: 5px">
                            <h3 class="box-title" style="letter-spacing: 3px">产妇筛查数</h3>
                            <p class="box-title" style="padding-left: 300px;color: #44b7d3;font-weight: bold;font-size: 25px" id="yfscTotal">
                        </div>
                        <div id="yfscChartDiv" class="box-body no-padding" style="height: 240px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border" style="padding-top: 5px;padding-bottom: 5px">
                            <h3 class="box-title" style="letter-spacing: 3px">妇女病检查</h3>
                            <p class="box-title" style="padding-left: 300px;color: #44b7d3;font-weight: bold;font-size: 25px" id="fnbTotal">
                        </div>
                        <div id="fnscChartDiv" class="box-body no-padding" style="height: 240px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5" style="padding: 0 15px 0 0;">
            <div class="row">
                <div class="col-md-6" style="padding-right: 5px">
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border" style="padding-top: 3px">
                            <h3 class="box-title" style="letter-spacing: 3px">叶酸发放</h3>
                        </div>
                        <div class="box-body no-padding">
                            <form class="form-horizontal">
                                <div class="form-group" style="margin-bottom: 0;min-height: 56px">
                                    <label class="col-sm-7 control-label" style="font-size: 25px">发放人次数：</label>
                                    <div class="col-sm-5 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 25px;color: #44b7d3;font-weight: bold" id="ysrs">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0;min-height: 56px">
                                    <label class="col-sm-7 control-label" style="font-size: 25px">发放瓶数：</label>
                                    <div class="col-sm-5 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 25px;color: #44b7d3;font-weight: bold" id="ysps">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="padding-left: 5px">
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border" style="padding-top: 3px">
                            <h3 class="box-title" style="letter-spacing: 3px">两癌筛查</h3>
                        </div>
                        <div class="box-body no-padding">
                            <form class="form-horizontal">
                                <div class="form-group" style="margin-bottom: 0;min-height: 56px">
                                    <label class="col-sm-8 control-label" style="font-size: 25px">宫颈癌筛查数：</label>
                                    <div class="col-sm-4 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 25px;color: #44b7d3;font-weight: bold" id="gja">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0;min-height: 56px">
                                    <label class="col-sm-8 control-label" style="font-size: 25px">乳腺癌筛查数：</label>
                                    <div class="col-sm-4 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 25px;color: #44b7d3;font-weight: bold" id="rxa">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid" style="margin-bottom: 5px">
                        <div class="box-header with-border no-pad-top">
                            <h3 class="box-title" style="letter-spacing: 3px">母婴阻断</h3>
                        </div>
                        <div class="box-body no-padding">
                            <form class="form-horizontal">
                                <div class="form-group" style="margin-bottom: 0">
                                    <label class="col-sm-2 control-label" style="font-size: 15px;text-align: left;padding-right: 0">梅毒检测数:</label>
                                    <div class="col-sm-2 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 15px;color: #44b7d3;font-weight: bold" id="mdjc">
                                    </div>
                                    <label class="col-sm-2 control-label" style="font-size: 15px;text-align: left;padding-right: 0;padding-left: 0">艾滋病检测数:</label>
                                    <div class="col-sm-2 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 15px;color: #44b7d3;font-weight: bold">0
                                    </div>
                                    <label class="col-sm-2 control-label" style="font-size: 15px;text-align: left;padding-right: 0">乙肝检测数:</label>
                                    <div class="col-sm-2 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 15px;color: #44b7d3;font-weight: bold" id="ygjc">
                                    </div>
                                </div>
                                <div class="form-group" style="margin-bottom: 0">
                                    <label class="col-sm-2 control-label" style="font-size: 15px;text-align: left;padding-right: 0">感染人次数:</label>
                                    <div class="col-sm-2 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 15px;color: #44b7d3;font-weight: bold" id="mdgr">
                                    </div>
                                    <label class="col-sm-2 control-label" style="font-size: 15px;text-align: left;padding-right: 0;padding-left: 0">感染人次数:</label>
                                    <div class="col-sm-2 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 15px;color: #44b7d3;font-weight: bold">0</p>
                                    </div>
                                    <label class="col-sm-2 control-label" style="font-size: 15px;text-align: left;padding-right: 0">感染人次数:</label>
                                    <div class="col-sm-2 no-padding">
                                        <p  class="form-control-static  description" style="font-size: 15px;color: #44b7d3;font-weight: bold" id="yggr">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid" style="margin-bottom: 7px">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="letter-spacing: 3px">孕产妇体检</h3>
                        </div>
                        <div class="box-body cftj" style="height: 240px;overflow: auto">
                            <table id="ycftjDataGrid"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title" style="letter-spacing: 3px">围产期心脏病筛查</h3>
                        </div>
                        <div class="box-body wcq" style="height: 240px;overflow: auto">
                                <table id="wcqDataGrid"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var data, ycfTable,wcqTable;
    $(function () {
        initStartDateTime();
        initMaternalLeftData();
        initMaternalRightUpData();
        initMaternalRightDownData();
        generatorHqjcChart(hqjcChart);
        generatorYfjkChartChart(yfjkChart);
        generatorYfscChartChart(yfscChart);
        generatorFnscChartChart(fnscChart);
        initYcftjDataGrid();
        initWcqDataGrid();
    });

    function initStartDateTime() {
        if(!$("#startTime").val()){
            var date = new Date();
            var year = date .getFullYear();
            var month = date .getMonth()+1;
            var time = year+"-"+month+"-"+"01";
            $("#startTime").val(time);
        }
    }

    function searchData() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        if (!startTime && !endTime) {
            return;
        }
        if (startTime && endTime) {
            let split = startTime.split("-");
            let split1 = endTime.split("-");
            let starttime = new Date(split[0], split[1], split[2]);
            let endtime  = new Date(split1[0], split1[1], split1[2]);
            if (starttime.getTime() >= endtime.getTime()) {
                $.errorMessage("请输入正确的时间区间");
            }
        }
        initMaternalLeftData();
        initMaternalRightUpData();
        initMaternalRightDownData();
        generatorHqjcChart(hqjcChart);
        generatorYfjkChartChart(yfjkChart);
        generatorYfscChartChart(yfscChart);
        generatorFnscChartChart(fnscChart);
        ycfTable.refresh();
        wcqTable.refresh();
    }
    //图表自适应大小
    window.addEventListener("resize", function () {
        hqjcChart.resize();
        yfjkChart.resize();
        yfscChart.resize();
        fnscChart.resize();
    });

    var hqjcChart = echarts.init(document.getElementById('hqjcChartDiv'));

    var yfjkChart = echarts.init(document.getElementById('yfjkChartDiv'));

    var yfscChart = echarts.init(document.getElementById('yfscChartDiv'));

    var fnscChart = echarts.init(document.getElementById('fnscChartDiv'));

    function initMaternalLeftData() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        var eventIds = '13305,13303,13314,13321,13306';
        $.postAjax("/qos/analysis/data/get/total",{startTime : startTime, endTime : endTime,'eventIds':eventIds},function (res) {
            $("#gwycf").text(res['13305']);
            $("#yqjc").text(res['13303']);
            $("#yfsw").text(res['13306']);
            $("#chfs").text(res['13314'] + res['13321']);
        })
    }


    function initMaternalRightUpData() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        var eventIds = '13317,13318,13307,13308';
        $.postAjax("/qos/analysis/data/get/total",{startTime : startTime, endTime : endTime,'eventIds':eventIds},function (res) {
            $("#ysrs").text(res['13317']);
            $("#ysps").text(res['13318']);
            $("#gja").text(res['13307']);
            $("#rxa").text(res['13308']);
        })
    }


    function initMaternalRightDownData() {
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        var eventIds = '13309,13310,13311,13312';
        $.postAjax("/qos/analysis/data/get/total",{startTime : startTime, endTime : endTime,'eventIds':eventIds},function (res) {
            $("#mdjc").text(res['13309']);
            $("#mdgr").text(res['13310']);
            $("#ygjc").text(res['13311']);
            $("#yggr").text(res['13312']);
        })
    }

    function getTotalFromAr(data) {
        let total = 0;
        if (data) {
            data.forEach(function (d) {
                total += d.totalNum
            })
        }
        return total;
    }

    function mergeTotalNumArr(arr) {
        let newArr = [];
        arr.forEach(item=>{
            let points = item.points;
            points.reduce((newArr, obj) =>{
                let date = obj.year +'-'+ (obj.month <10 ? '0'+obj.month:obj.month);
                let originObj = newArr.find(point => point.date === date);
                if (originObj) {
                    originObj.totalNum += obj.totalNum
                } else {
                    newArr.push({date:date,totalNum:obj.totalNum})
                }
                return  newArr;
            },newArr)
        });
        return newArr;
    }

    function generatorHqjcChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        var eventIds = '13301,13302';
        $.postAjax("/qos/analysis/data/get/total",{ startTime : startTime, endTime : endTime,eventIds:eventIds},function (res) {
            let chartData = [];
            if (res) {
                chartData.push({value:res['13301'],name:"男性"},{value:res['13302'],name:"女性"})
            }
            chart.hideLoading();
            var labelOption = {
                normal: {
                    show: true,
                    position:'inner', //标签的位置
                    textStyle : {
                        fontStyle : 'italic',
                        fontWeight : 'bold' ,
                        fontFamily : 'Microsoft YaHei',
                        fontSize : 15   //文字的字体大小
                    },
                    formatter: '{b}：\n {c}位({d}%)'
                }
            };
            option = {
                color: [ '#67E0E3', '#37A2DA'], //环形图每块的颜色
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : {c}个 ({d}%)"
                },
                series: [
                    {
                        name: '性别',
                        type: 'pie',
                        radius : '95%',
                        center: ['50%', '50%'],
                        barGap: 0,
                        label:labelOption,
                        data: chartData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            chart.setOption(option,true);
        });
    }

    function generatorYfjkChartChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        var eventIds = '13319,13320';
        $.postAjax("/qos/analysis/data/get/total",{ startTime : startTime, endTime : endTime,eventIds:eventIds},function (res) {
            let total = res['13319'];
            let earlyPregnancyCardNumber = res['13320'];
            let data = [];
            data.push({value:total-earlyPregnancyCardNumber, name:'非早孕建卡数' },{value:earlyPregnancyCardNumber, name:'早孕建卡数'});
            let percentage = '0.00%';
            if (total !== 0){
                percentage = (Math.round(earlyPregnancyCardNumber  / total * 10000) / 100.00).toFixed(2) + '%';
            }
            chart.hideLoading();
            option = {
                title: {
                    text: ['{name|早孕建卡率}'].join('\n'),
                    subtext: percentage,
                    top: '30%',
                    left:'48%',
                    textAlign: 'center',
                    textStyle: {
                        rich: {
                            name: {
                                color: '#37A2DA',
                                lineHeight: 20,
                                fontSize: '25',
                                fontWeight: 'bold',
                            }
                        }
                    },
                    subtextStyle: {
                        fontSize: '22',
                        fontWeight: 'bold',
                        color: '#37A2DA',
                    }
                },
                tooltip: {
                    trigger: 'item',
                    formatter: "{b} : {c}个 ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    top: 'bottom',
                    bottom : 5 ,
                    selectedMode: false,
                    formatter:  function(name){
                        var target;
                        for (var i = 0, l = data.length; i < l; i++) {
                            if (data[i].name === name) {
                                target = data[i].value;
                            }

                        }
                        return name + ' ' + target + '个';
                    }
                },
                series: [
                    {
                        name:'孕妇建卡',
                        type:'pie', //环形图的type和饼图相同
                        radius: ['60%', '80%'],//饼图的半径，第一个为内半径，第二个为外半径
                        center: ['50%', '40%'],
                        avoidLabelOverlap: false,
                        color: [ '#67E0E3', '#37A2DA'], //环形图每块的颜色
                        hoverAnimation : false,
                        label: {
                            normal: {
                                // 此处重点，设置为显示
                                show: true,
                                position: 'center',
                                formatter: '{b}\n{c}',
                                align: 'center',
                                verticalAlign: 'middle',
                                // 此处重点，字体大小设置为0
                                textStyle: {
                                    fontSize: '0'
                                }
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '15'
                                },
                                // 同步样式
                                formatter: function (params) {
                                    return `{tTitle|${params.name}}\n{tSubTitle|${params.value}个}`
                                },
                                rich: {
                                    tTitle: {
                                        fontSize: '20',
                                        fontWeight: 'bold',
                                        lineHeight: 40
                                    },
                                    tSubTitle: {
                                        fontSize: '25',
                                        fontWeight: 'bold',
                                        lineHeight: 30
                                    }
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data:data
                    }
                ]
            };
            chart.setOption(option);
            chart.on('mouseover', { seriesName: '孕妇建卡' }, params => {
                chart.setOption({
                    title: {
                        show: false
                    }
                })
            });
            chart.on('mouseout', { seriesName: '孕妇建卡' }, params => {
                chart.setOption({
                    title: {
                        show: true
                    }
                })
            });

        });
    }

    function generatorYfscChartChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        let eventIds = '13304';
        $.postAjax("/qos/analysis/data/get/month/instalments",{  startTime : startTime, endTime : endTime,'eventIds':eventIds}, function (res) {
            let total = 0;
            let datas = [];
            let time = [];
            if (res) {
                let month13304 = convertMonthChartData(res, '13304', false);
                datas = month13304.valuesMap['total'];
                time = month13304.month;
                total = datas.reduce((previousValue, currentValue) => {  return previousValue + currentValue},0 )
            }
            $("#yfscTotal").text(total + "人次");
            if (total === 0) {
                showChartInfo(chart,'暂无数据');
                return false;
            }
            chart.hideLoading();
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 15,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{c}',
                    fontSize: 15,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
            option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        return params[0].name + '月&nbsp;筛查人数: '
                            + params[0].data + '(位)<br/>'
                    }
                },
                toolbox: {
                    show: true,
                    right: 5,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                grid: {
                    left: '2%',
                    right: '1%',
                    bottom: '5%',
                    containLabel: true
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: time,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name:'筛查人数(位)'
                    }
                ],
                series: [
                    {
                        name: '筛查人数',
                        type: 'bar',
                        barWidth: '70%',
                        label: labelOption,
                        barGap: 0,
                        data: datas,
                    }
                ]
            };
            chart.setOption(option,true);
        });
    }

    function convertMonthChartData(data, eventId, isRate) {
        var eventData = data[eventId],
            unitPoints = eventData.unitPoints,
            month = [],
            valuesMap = {},
            totalValues = [];

        var first = true;

        unitPoints && unitPoints.forEach(function(unitPoint) {
            var points = unitPoint.points,
                unitId = unitPoint.unitId;

            var values = valuesMap[unitId];
            if (!values) {
                values = [];
                valuesMap[unitId] = values;
            }

            for (var i = 0; i < points.length; i++) {
                var point = points[i];
                if (first) {
                    month.push(point.year + '-' + point.month);
                }

                values.push(isRate ? getRateNum(point) : point.totalNum);

                var totalVal = totalValues[i];
                if (!totalVal) {
                    totalVal = {
                        totalNum: point.totalNum,
                        eventNum: point.eventNum
                    }
                    totalValues[i] = totalVal;
                } else {
                    totalVal.totalNum += point.totalNum;
                    totalVal.eventNum += point.eventNum;
                }
            }

            first = false;
        });

        var totalVals = [];
        for (var j = 0; j < totalValues.length; j++) {
            var tv = totalValues[j];
            totalVals.push(isRate ? getRateNum(tv) : tv.totalNum);
        }

        valuesMap.total = totalVals;
        return {
            month: month,
            valuesMap: valuesMap
        }
    }

    function getRateNum(item, fixed) {
        var a = item.eventNum,
            b = item.totalNum,
            c = 0;
        if (a && b) {
            c = a / b * 100;
        }
        return c.toFixed(fixed || 2);
    }

    function generatorFnscChartChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        let startTime = $("#startTime").val();
        let endTime = $("#endTime").val();
        $.postAjax("/qos/exhibition/maternal/search/fnb",{ startTime : startTime, endTime : endTime},function (res) {
            let dataValue = [];
            let timeValue = [];
            let total = 0;
            let datas = [];
            if (res.eventId === '13313') {
                datas = mergeTotalNumArr(res.unitPoints);
            }
            datas.forEach(function (data) {
                dataValue.push(data.totalNum);
                timeValue.push(data.date);
                total += data.totalNum;
            });
            $("#fnbTotal").text(total + "人次");
            if (total === 0) {
                showChartInfo(chart,'暂无数据');
                return false;
            }
            chart.hideLoading();
            var labelOption = {
                normal: {
                    show: true,
                    position: 'top',
                    distance: 15,
                    align: 'center',
                    verticalAlign: 'top',
                    rotate: 0,
                    formatter: '{c}',
                    fontSize: 12,
                    rich: {
                        name: {
                            textBorderColor: '#fff'
                        }
                    }
                }
            };
            option = {
                color: ['#3398DB'],
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // 坐标轴指示器，坐标轴触发有效
                        type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
                    },
                    formatter: function (params) {
                        return params[0].name + '月&nbsp;检查人数: '
                            + params[0].data + '(位)<br/>'
                    }
                },
                toolbox: {
                    show: true,
                    right: 5,
                    feature: {
                        mark: { show: true },
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                grid: {
                    left: '2%',
                    right: '1%',
                    bottom: '5%',
                    containLabel: true
                },
                calculable: true,
                xAxis: [
                    {
                        type: 'category',
                        data: timeValue,
                        axisTick: {
                            alignWithLabel: true
                        }
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name:'检查人数(位)'
                    }
                ],
                series: [
                    {
                        name: '检查人数',
                        type: 'line',
                        smooth: true,
                        label: labelOption,
                        barGap: 0,
                        data: dataValue,
                    }
                ]
            };
            chart.setOption(option,true);
        });

    }

    function initYcftjDataGrid() {
        ycfTable = $.createTable("#ycftjDataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "医疗机构", field: "agencyName", align: "center",footerFormatter: function (data) {
                            return '总计';
                        }},
                    {title: "孕产妇体检人数", align: "center", formatter:function (value, row, index) {
                            return row.firstExaminationTimes + row.cycleExaminationTimes;
                        },footerFormatter: function (data) {
                            var result = data.reduce(function(sum, row) {
                                return sum + (row['firstExaminationTimes'] + row['cycleExaminationTimes']);
                            }, 0);
                            return result;
                        }},
                    {title: "初检人数", field: "firstExaminationTimes", align: "center",footerFormatter: sumTotalFormatterModal},
                    {title: "周期检查人数", field: "cycleExaminationTimes", align: "center",footerFormatter: sumTotalFormatterModal},

                ]
            ],
            url: '/qos/exhibition/maternal/search/yftj',
            showFooter:true,
            onLoadSuccess:tableCftjHeight,
            pagination: false,
            responseHandler: function (res) {
                res = res || [];
                let first = res['13315'] || [];
                let cycle = res['13316'] || [];
                if ($.isArray(first) && $.isArray(cycle)) {
                    var nameField = 'agencyName';
                    var firstField = 'firstExaminationTimes';
                    var cycleField = 'cycleExaminationTimes';

                    let d = [];
                    first.forEach(f => {
                       let x = {};
                        x[nameField] = f.unitName;
                        x[firstField] = f.count;
                        d.push(x)
                    });
                    d.forEach(c =>{
                        let obj = cycle.find(a => a.unitName === c[nameField]);
                        if (obj) {
                            c[cycleField] = obj.count;
                        }
                    });
                    return d;
                } else {
                    return [];
                }
            },
            searchbar: '#searchbar'
        });
    }


    function initWcqDataGrid() {
        wcqTable = $.createTable("#wcqDataGrid", {
            idField: "id",
            columns: [
                [
                    {title: "医疗机构", field: "unitName", align: "center",footerFormatter: function (data) {
                            return '总计';
                        }},
                    {title: "围产期心脏病筛查人数", field: "data", align: "center",footerFormatter: sumTotalFormatterModal}

                ]
            ],
            url: '/qos/exhibition/maternal/search/wcq',
            showFooter:true,
            pagination: false,
            onLoadSuccess:tableHeight,
            searchbar: '#searchbar'
        });
    }

    function tableHeight(data) {
        let $table = $(".wcq .fixed-table-body table");
        let $container = $(".wcq .fixed-table-container");
        if ($table.height()< $container.height()) {
            $container.css({
                "padding-bottom": 0,
                "height": $table.height() + 45
            });
            // 是当内容少时，使用搜索功能高度保持不变
            wcqTable.resetView({"height": "auto"});
        } else {
            $container.css({"height": $table.height()+ 46});
        }
    }


    function tableCftjHeight(data) {
        let $table = $(".cftj .fixed-table-body table");
        let $container = $(".cftj .fixed-table-container");
        if ($table.height()< $container.height()) {
            $container.css({
                "padding-bottom": 0,
                "height": $table.height() + 45
            });
            // 是当内容少时，使用搜索功能高度保持不变
            ycfTable.resetView({"height": "auto"});
        } else {
            $container.css({"height": $table.height()+ 46});
        }
    }


    var showChartInfo = function (chart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle:{
                    color:'grey',
                    fontSize:20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        chart.clear() ;//initChart(divId): get echarts instance, you can get it by using other method
        chart.hideLoading();
        chart.setOption(msgOption)
    };

    function sumTotalFormatterModal(data) {
        field = this.field;
        var result = data.reduce(function(sum, row) {
            return sum + (row[field]) *1;
        }, 0);
        return result === 0 ? '0' : result;
    }
    function getYearMonthData() {
        var result = [];
        for (var i = 12; i >0; i--) {
            var d = new Date();
            d.setDate(1);
            d.setMonth(d.getMonth() - i);
            var m = d.getMonth() + 1;

            m = m < 10 ? "0" + m : m;
            //在这里可以自定义输出的日期格式
            result.push(d.getFullYear() + "-" + m);
            //result.push(d.getFullYear() + "年" + m + '月');
        }
        return result;
    }

    function getTableDatas() {
        let data = [];
        let row = {};
        row["cycleExaminationTimes"] = 136;
        row["firstExaminationTimes"] = 240;
        row["agencyName"] = '昆山市淀山湖人民医院';
        data.push(row);
        let row1 = {};
        row1["cycleExaminationTimes"] = 369;
        row1["firstExaminationTimes"] = 111;
        row1["agencyName"] = '昆山市巴城人民医院';
        data.push(row1);
        let row2 = {};
        row2["cycleExaminationTimes"] = 213;
        row2["firstExaminationTimes"] = 121;
        row2["agencyName"] = '昆山市第一人民医院';
        data.push(row2);
        let row3 = {};
        row3["cycleExaminationTimes"] = 342;
        row3["firstExaminationTimes"] = 123;
        row3["agencyName"] = '昆山市第二人民医院';
        data.push(row3);
        let row4 = {};
        row4["cycleExaminationTimes"] = 34;
        row4["firstExaminationTimes"] = 123;
        row4["agencyName"] = '昆山市第三人民医院';
        data.push(row4);
        let row5 = {};
        row5["cycleExaminationTimes"] = 154;
        row5["firstExaminationTimes"] = 123;
        row5["agencyName"] = '昆山市第四人民医院';
        data.push(row5);
        return data;
    }

    /*]]>*/
</script>
</body>
</html>