<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="data-event-type,data-unit-type" />
<section class="content-header">
    <h1>老年人体检情况报表</h1>
</section>
<section class="content">
    <div class="box box-solid">
        <div class="box-body">
            <form id="searchbar" class="form-horizontal form-search">
                <div class="form-group">
                    <div class="col-md-2">
                        <select name="unitId" class="form-control">
                            <option value="">请选择辖区</option>
                            <option th:each="unit : ${unit}" th:value="${unit.id}" th:text="${unit.name}"></option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <input name="startDate"  id="startDate" placeholder="请输入开始时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-2">
                        <input name="endDate" id="endDate" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>
                            <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                        </div>
                    </div>
                </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
                <div class="col-md-6" style="background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);">
                    <div class="box box-solid">
                        <div id="pieChartDiv1" class="box-body" style="height: 300px;"></div>
                    </div>
                </div>


                <div class="col-md-6" style="background: #ffffff;box-shadow: 0 1px 1px rgba(0,0,0,0.1);">
                    <div class="box box-solid">
                        <div id="pieChartDiv2" class="box-body" style="height: 300px;"></div>
                    </div>
                </div>

            <div class="box box-solid" style="margin-top: 350px;">
                <div id="columnarDiv" class="box-body" style="height: 450px">
                </div>
            </div>
        </div>
    </div>


</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
    var table, sumChart, dayChart, sumData, requestParams,result,selectUnit,dataVal;
    $(function() {
        var day=new Date();
        day.setTime(day.getTime());
        var month = day.getFullYear()+"-" + (day.getMonth()+1);
        laydate.render({
            elem: '#dateInput',
            type: 'month',
            value:month
        });
        initTable();
    });


    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "辖区", field: "unitName" },
                    { title: "老年人数", field: "ev22003total" },
                    { title: "老年人体检数", field: "ev22003event" },
                    { title: "老年人体检率", field: "ev22003" },
                    { title: "有完整年度体检的老年人数", field: "ev22012event" },
                    { title: "老年人健康管理率", field: "ev22012"}
                ]
            ],
            url: '/qos/analysis/data/get/unit',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            onCheck: function(row) {
                console.log("on check");
            },
            onUncheck: function(row) {
                console.log("on uncheck");
            },
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
                params.eventIds = '22003,22012';
                requestParams = params;
                return params;
            },
            responseHandler: function(response) {
                var data = {};
                convertTableData('22003',response, data);
                convertTableData('22012',response, data);


                sumData = []
                for (var o in data) {
                    sumData.push(data[o]);
                }

                dataVal = data|| [];
                debugger;
                result = []
                for (var o in data) {
                    result.push(data[o]);
                }
                initPieChart1();
                initPieChart2();
                initColumnarDiv();
                return sumData;
            }
        });
    }

    function unitSelected(row) {
        selectUnit = row.unitId;
        initPieChart1();
        initPieChart2();
        // initColumnarDiv();
    }

    function convertTableData(eventId,originData, data) {
        var eventData = originData[eventId],
            fieldName = 'ev' + eventId,
            total = 0,
            event = 0;

        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName
                };
                data[id] = unitData;
            }
            unitData[fieldName] = getRate(item);
            unitData[fieldName+'total'] = item.totalNum;
            unitData[fieldName+'event'] = item.eventNum;
            total += item.totalNum;
            event += item.eventNum;
        });

        var totalData = data['total'];
        if (!totalData) {
            totalData = {
                unitId: 'total',
                unitName: '合计',
            }
            data['total'] = totalData;
        }
        totalData[fieldName] = getRate({
            totalNum: total,
            eventNum: event
        });
        totalData[fieldName+'total']=total;
        totalData[fieldName+'event']=event;
    }

    function getRate(item, fixed) {
        var a = item.eventNum,
            b = item.totalNum,
            c = 0;
        if (a && b) {
            c = a / b * 100;
        }
        return c.toFixed(fixed || 2) + '%';
    }



    function initPieChart1() {

        var dom = document.getElementById("pieChartDiv1");
        var pieChart1 = echarts.init(dom);

        let unitId = selectUnit || 'total';
        let total = dataVal[unitId];

        var remainRate=0;
        if (sumData==0){
            showChartInfo(pieChart1, '暂无数据显示');
            return false;
        }
        var rate=total.ev22003;
        rate=rate.replace("%","")*1;
        remainRate=(100-rate).toFixed(2);

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: rate+'%\n'+'老年人体检率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'老年人体检率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:rate,
                            name:'老年人体检率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart1.setOption(option,true);
    };



    function initPieChart2() {
        var dom = document.getElementById("pieChartDiv2");
        var pieChart2 = echarts.init(dom);
        if (sumData==0){
            showChartInfo(pieChart2, '暂无数据显示');
            return false;
        }
        let unitId = selectUnit || 'total';
        let total = dataVal[unitId];
        var rate=0;
        var remainRate=0;
        // var it=sumData[sumData.length - 1];
        rate=total.ev22012;
        rate=rate.replace("%","")*1;
        remainRate=(100-rate).toFixed(2);

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: rate+'%\n'+'健康管理率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'健康管理率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:rate,
                            name:'健康管理率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart2.setOption(option,true);
    }

    function initColumnarDiv() {
        var dom = document.getElementById("columnarDiv");
        var sumChart = echarts.init(dom);
        if (sumData==0){
            showChartInfo(sumChart, '暂无数据显示');
            return false;
        }

        let unitId = selectUnit || 'total';
        let total = dataVal[unitId];

        var managedName = [];

        var oldPeopleNumberValue = [];
        var physicalNumberValue = [];
        var completePhysicalNumberValue = [];
        result.pop();
        result.forEach(function(item){
            managedName.push(item.unitName);
            oldPeopleNumberValue.push({name:item.unitName,value:item.ev22003total});
            physicalNumberValue.push({name:item.unitName,value:item.ev22003event});
            completePhysicalNumberValue.push({name:item.unitName,value:item.ev22012event});
        })

        var	option = {
            // title: {
            //     text: '抗菌药物统计分析排名柱状图',
            // },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },

            grid: {
                left: '0%',
                right: '0%',
                bottom: '5%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval:0,
                    rotate:20//角度顺时针计算的
                } ,
                axisTick : {
                    alignWithLabel : true
                },
                data: managedName
            },
            yAxis: {
                type: 'value'
            },

            grid: {
                bottom: '70px',
                y:15
            },
            series: [
                {
                    name: '老年人数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:2,
                            color: '#4a72c9'
                        }
                    },

                    data: oldPeopleNumberValue
                },
                {
                    name: '老年人体检数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                            color: '#6071c6'
                        }
                    },
                    data: physicalNumberValue
                },
                {
                    name: '有完整年度体检的老年人数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                            color: '#78a9f2'
                        }
                    },
                    data: completePhysicalNumberValue
                }
            ],
            legend: {
                data: ['老年人数', '老年人体检数','有完整年度体检的老年人数'],
                bottom:0
            }
        };
        sumChart.setOption(option,true);
    };


    var showChartInfo = function (sumChart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle: {
                    color: 'grey',
                    fontSize: 20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        sumChart.clear();
        sumChart.hideLoading();
        sumChart.setOption(msgOption)
    };
</script>
</body>

</html>