<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="data-event-type,data-unit-type" />
<section class="content-header">
    <h1>老年人体检情况报表</h1>
</section>
<section class="content">
    <!--<div class="box box-solid">-->
        <!--<div class="box-body">-->
            <!--<form id="searchbar" class="form-horizontal form-search">-->
                <!--<div class="form-group">-->
                    <!--&lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
                        <!--&lt;!&ndash;<select name="unitId" class="form-control">&ndash;&gt;-->
                            <!--&lt;!&ndash;<option value="">请选择辖区</option>&ndash;&gt;-->
                            <!--&lt;!&ndash;<option th:each="unit : ${unit}" th:value="${unit.id}" th:text="${unit.name}"></option>&ndash;&gt;-->
                        <!--&lt;!&ndash;</select>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="col-md-2">-->
                        <!--<input name="startTime"  id="startTime" placeholder="请输入开始时间" autocomplete="off" type="text" value="2015-01-01" class="form-control tonto-datepicker-date">-->
                    <!--</div>-->
                    <!--<div class="col-md-2">-->
                        <!--<input name="endTime" id="endTime" placeholder="请输入结束时间" autocomplete="off" type="text" class="form-control tonto-datepicker-date">-->
                    <!--</div>-->
                    <!--<div class="col-md-8">-->
                        <!--<div class="pull-right">-->
                            <!--<button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="table.refresh()"><i class="fa fa-search"></i>查询</button>-->
                            <!--<button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 &ndash;&gt;-->
                <!--<input type="text" style="display:none">-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->

    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
                <div class="col-md-6" >
                    <div class="box box-solid">
                        <div id="pieChartDiv1" class="box-body" style="height: 300px;"></div>
                    </div>
                </div>


                <div class="col-md-6" >
                    <div class="box box-solid">
                        <div id="pieChartDiv2" class="box-body" style="height: 300px;"></div>
                    </div>
                </div>
            <div class="col-md-12" >
            <div class="box box-solid" >
                <div id="columnarDiv" class="box-body" style="height: 360px">
                </div>
            </div>
            </div>
        </div>
    </div>


</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">

    //图表自适应大小
    window.addEventListener("resize", function() {
        pieChart1.resize();
        pieChart2.resize();
        sumChart.resize();
    });

    var table, sumChart, dayChart, sumData, requestParams,result,selectUnit,dataVal;
    $(function() {
        // var day=new Date();
        // day.setTime(day.getTime());
        // var month = day.getFullYear()+"-" + (day.getMonth()+1);
        // laydate.render({
        //     elem: '#dateInput',
        //     type: 'month',
        //     value:month
        // });
        initTable();
    });


    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "辖区", field: "unitName" },
                    { title: "老年人数", field: "ev22003total" },
                    { title: "老年人体检数", field: "ev22003event" },
                    { title: "老年人体检率", field: "ev22003" },
                    { title: "有完整年度体检的<br>老年人数", field: "ev22012event" },
                    { title: "老年人健康管理率", field: "ev22012"}
                ]
            ],
            url: '/qos/analysis/data/get/unit',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            onCheck: function(row) {
                console.log("on check");
            },
            onUncheck: function(row) {
                console.log("on uncheck");
            },
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
                params.eventIds = '22003,22012';
                params.ignoreUnitIds='320583810343';
                requestParams = params;
                return params;
            },
            responseHandler: function(response) {
                var data = {};
                convertTableData('22003',response, data);
                convertTableData('22012',response, data);


                sumData = []
                for (var o in data) {
                    sumData.push(data[o]);
                }

                dataVal = data|| [];

                result = []
                for (var o in sumData) {
                    result.push(sumData[o]);
                }
                initPieChart1();
                initPieChart2();
                initColumnarDiv();
                return sumData;
            }
        });
    }

    function unitSelected(row) {
        selectUnit = row.unitId;
        initPieChart1();
        initPieChart2();
        // initColumnarDiv();
    }

    function convertTableData(eventId,originData, data) {
        var eventData = originData[eventId],
            fieldName = 'ev' + eventId,
            total = 0,
            event = 0;

        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName
                };
                data[id] = unitData;
            }
            unitData[fieldName] = getRate(item);
            unitData[fieldName+'total'] = item.totalNum;
            unitData[fieldName+'event'] = item.eventNum;
            total += item.totalNum;
            event += item.eventNum;
        });

        var totalData = data['total'];
        if (!totalData) {
            totalData = {
                unitId: 'total',
                unitName: '合计',
            }
            data['total'] = totalData;
        }
        totalData[fieldName] = getRate({
            totalNum: total,
            eventNum: event
        });
        totalData[fieldName+'total']=total;
        totalData[fieldName+'event']=event;
    }

    function getRate(item, fixed) {
        var a = item.eventNum,
            b = item.totalNum,
            c = 0;
        if (a && b) {
            c = a / b * 100;
        }
        return c.toFixed(fixed || 2) + '%';
    }


    var pieChart1 = echarts.init(document.getElementById('pieChartDiv1'));
    var pieChart2 = echarts.init(document.getElementById('pieChartDiv2'));
    var sumChart = echarts.init(document.getElementById('columnarDiv'));


    function initPieChart1() {

        let unitId = selectUnit || 'total';
        let total = dataVal[unitId];

        var remainRate=0;
        if (sumData==0){
            showChartInfo(pieChart1, '暂无数据显示');
            return false;
        }
        var rate=total.ev22003;
        rate=rate.replace("%","")*1;
        remainRate=(100-rate).toFixed(2);

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: rate+'%\n'+'老年人体检率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'老年人体检率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:rate,
                            name:'老年人体检率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart1.setOption(option,true);
    };



    function initPieChart2() {

        if (sumData==0){
            showChartInfo(pieChart2, '暂无数据显示');
            return false;
        }
        let unitId = selectUnit || 'total';
        let total = dataVal[unitId];
        var rate=0;
        var remainRate=0;
        // var it=sumData[sumData.length - 1];
        rate=total.ev22012;
        rate=rate.replace("%","")*1;
        remainRate=(100-rate).toFixed(2);

        var option = {

            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            color: ['#3398DB','#999999'],
            graphic: [{ //环形图中间添加文字
                type: 'text', //通过不同top值可以设置上下显示
                left: 'center',
                top: '45%',
                style: {
                    text: rate+'%\n'+'健康管理率',
                    textAlign: 'center',
                    fill: 'black', //文字的颜色
                    width: 30,
                    height: 30,
                    fontSize: 20,
                    fontFamily: "Microsoft YaHei"
                }
            }],
            series: [
                {
                    name:'健康管理率',
                    type:'pie',
                    radius: ['50%', '80%'],
                    avoidLabelOverlap: false,
                    label: {
                        normal: {
                            show: false,
                            position: 'center'
                        },

                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {
                            value:rate,
                            name:'健康管理率'
                        },
                        {
                            value:remainRate,
                            name:'',
                            hoverAnimation:false,
                            tooltip:{//禁止鼠标悬停显示提示框
                                show:false,
                            },
                        }
                    ]
                }
            ]
        };
        pieChart2.setOption(option,true);
    }

    function initColumnarDiv() {

        if (sumData==0){
            showChartInfo(sumChart, '暂无数据显示');
            return false;
        }

        let unitId = selectUnit || 'total';
        let total = dataVal[unitId];

        var managedName = [];

        var oldPeopleNumberValue = [];
        var physicalNumberValue = [];
        var completePhysicalNumberValue = [];
        result.pop();
        result.forEach(function(item){
            var name=item.unitName;
            var strName=name.substring(0,name.length-8);
            managedName.push(strName);
            oldPeopleNumberValue.push({name:item.unitName,value:item.ev22003total});
            physicalNumberValue.push({name:item.unitName,value:item.ev22003event});
            completePhysicalNumberValue.push({name:item.unitName,value:item.ev22012event});
        })

        var isShowScroll = false;// 是否显示滚动条，默认false不显示
        var dataZoom_end;// 显示百分之多少的数据量，默认全部
        if(result.length >10 ){
            dataZoom_end = 100/(result.length/10);
            isShowScroll = true;
        }else{
            dataZoom_end = 100;
        }

        var	option = {
            // title: {
            //     text: '抗菌药物统计分析排名柱状图',
            // },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },

            grid: {
                left: '0%',
                right: '0%',
                bottom: '5%',
                containLabel: true
            },

            calculable: true,
            dataZoom: [   {
                start:0,//默认为0
                end: dataZoom_end,
                type: 'slider',
                show: isShowScroll,
                xAxisIndex: [0],
                handleSize: 8,//滑动条的 左右2个滑动条的大小
                height: 10,//组件高度
                left: "center", //左边的距离
                bottom:15,
                handleColor: '#ddd',//h滑动图标的颜色
                handleStyle: {
                    borderColor: "#cacaca",
                    borderWidth: "1",
                    shadowBlur: 2,
                    background: "#ddd",
                    shadowColor: "#ddd",
                },
                fillerColor: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    //给颜色设置渐变色 前面4个参数，给第一个设置1，第四个设置0 ，就是水平渐变
                    //给第一个设置0，第四个设置1，就是垂直渐变
                    offset: 0,
                    color: '#1eb5e5'
                }, {
                    offset: 1,
                    color: '#5ccbb1'
                }]),
                zoomLock:true, //是否锁定选择区域（或叫做数据窗口）的大小。如果设置为 true 则锁定选择区域的大小，也就是说，只能平移，不能缩放。
                backgroundColor: '#ddd',//两边未选中的滑动条区域的颜色
                showDataShadow: false,//是否显示数据阴影 默认auto
                showDetail: false,//即拖拽时候是否显示详细数值信息 默认true
                handleIcon: 'M-292,322.2c-3.2,0-6.4-0.6-9.3-1.9c-2.9-1.2-5.4-2.9-7.6-5.1s-3.9-4.8-5.1-7.6c-1.3-3-1.9-6.1-1.9-9.3c0-3.2,0.6-6.4,1.9-9.3c1.2-2.9,2.9-5.4,5.1-7.6s4.8-3.9,7.6-5.1c3-1.3,6.1-1.9,9.3-1.9c3.2,0,6.4,0.6,9.3,1.9c2.9,1.2,5.4,2.9,7.6,5.1s3.9,4.8,5.1,7.6c1.3,3,1.9,6.1,1.9,9.3c0,3.2-0.6,6.4-1.9,9.3c-1.2,2.9-2.9,5.4-5.1,7.6s-4.8,3.9-7.6,5.1C-285.6,321.5-288.8,322.2-292,322.2z',
                filterMode: 'filter'
            },
                //下面这个属性是里面拖到
                {
                    type: 'inside',
                    show: true,
                    xAxisIndex: [0],
                    start: 0,//默认为1
                    end: 50
                }],

            xAxis: {
                type: 'category',
                axisLabel: {
                    interval:0,
                    rotate:15//角度顺时针计算的
                } ,
                axisTick : {
                    alignWithLabel : true
                },
                data: managedName
            },
            yAxis: {
                type: 'value'
            },

            grid: {
                bottom: '70px',
                y:15
            },
            series: [
                {
                    name: '老年人数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:2,
                            color: '#4a72c9'
                        }
                    },

                    data: oldPeopleNumberValue
                },
                {
                    name: '老年人体检数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                            color: '#6071c6'
                        }
                    },
                    data: physicalNumberValue
                },
                {
                    name: '有完整年度体检的老年人数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                            color: '#78a9f2'
                        }
                    },
                    data: completePhysicalNumberValue
                }
            ],
            legend: {
                data: ['老年人数', '老年人体检数','有完整年度体检的老年人数'],
                bottom:-6
            }
        };
        sumChart.setOption(option,true);
    };


    var showChartInfo = function (sumChart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle: {
                    color: 'grey',
                    fontSize: 20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        sumChart.clear();
        sumChart.hideLoading();
        sumChart.setOption(msgOption)
    };
</script>
</body>

</html>