<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="data-event-type,data-unit-type" />
<section class="content-header">
    <h1>老年人体检情况报表</h1>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <table id="dataGrid"></table>
                </div>
            </div>
        </div>
        <div class="col-md-6 ">
                <div class="col-md-6" >
                    <div class="box box-solid">
                        <div id="pieChartDiv1" class="box-body" style="height: 300px;"></div>
                    </div>
                </div>


                <div class="col-md-6" >
                    <div class="box box-solid">
                        <div id="pieChartDiv2" class="box-body" style="height: 300px;"></div>
                    </div>
                </div>
            <div class="col-md-12" >
            <div class="box box-solid" >
                <div id="columnarDiv" class="box-body" style="height: 360px">
                </div>
            </div>
            </div>
        </div>
    </div>


</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">

    //图表自适应大小
    window.addEventListener("resize", function() {
        pieChart1.resize();
        pieChart2.resize();
        sumChart.resize();
    });

    var table, sumChart, dayChart, sumData, requestParams,selectUnit,dataVal;
    var charResult=[];
    $(function() {
    	
        initTable();
    });


    function initTable() {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "辖区", field: "unitName" },
                    { title: "老年人数", field: "evV30003",
                    	formatter: function(value, row, index) {
                            if(value)
                                return value.toFixed(0);
                        }	
                    },
                    { title: "老年人体检数", field: "ev1V30003" },
                    { title: "老年人体检率", field: "checkRate" ,
                    	formatter: function(value, row, index) {
                    		if(row.evV30003==0){
                    			return "0%"
                    		}else{
                    			return (row.ev1V30003/row.evV30003*100).toFixed(2) * 1+"%";
                    		}
                        }	
                    },
                    { title: "有完整年度体检的<br>老年人数", field: "evV30008" },
                    { title: "老年人健康管理率", field: "ManageRate",
                    	formatter: function(value, row, index) {
                    		if(row.evV30003==0){
                    			return "0%"
                    		}else{
                    			return (row.evV30008/row.evV30003*100).toFixed(2) * 1+"%";
                    		}
                        }		
                    }
                ]
            ],
            url: '/qos/gongwei/archives/search/oldPeople',
            pagination: false,
            searchbar: '#searchbar',
            clickToSelect: true,
            onCheck: function(row) {
                console.log("on check");
            },
            onUncheck: function(row) {
                console.log("on uncheck");
            },
            onClickRow: function(row, tr) {
                $("#dataGrid").find(".selected").removeClass('selected');
                $(tr).addClass('selected');
                unitSelected(row);
            },
            queryParams: function(params) {
            	requestParams = params;
                return params;
            },
            responseHandler: function(response) {
            	if (!response) {
                    return null;
                }
                var data = {};
                convertCount2TableData(response, 'V30003', data);//老年人数evV30003
                convertCount1TableData(response, 'V30003', data);//老年人体检数ev1V30003
                convertCount3TableData(response, 'V30008', data);//有完整年度体检的老年人数evV30008
                
                var result = []
                for (var o in data) {
                    result.push(data[o]);
                }
                charResult = result;
                initPieChart1();//老年人体检率
                initPieChart2();//老年人健康管理率
                initColumnarDiv();
                return result;
            }
        });
    }

    function convertCount1TableData(originData, eventId, data) {
        var eventData = originData[eventId],
            fieldName = 'ev1' + eventId,
            total = 0;

        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName
                };
                data[id] = unitData;
            }
            unitData[fieldName] = item.checknum;
            total += item.checknum;
        });

        var totalData = data['total'];
        if (!totalData) {
            totalData = {
                unitId: 'total',
                unitName: '合计',
            }
            data['total'] = totalData;
        }
        totalData[fieldName] = total;
    }
    function convertCount3TableData(originData, eventId, data) {
        var eventData = originData[eventId],
            fieldName = 'ev' + eventId,
            total = 0;

        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName
                };
                data[id] = unitData;
            }
            unitData[fieldName] = item.managenumber;
            total += item.managenumber;
        });

        var totalData = data['total'];
        if (!totalData) {
            totalData = {
                unitId: 'total',
                unitName: '合计',
            }
            data['total'] = totalData;
        }
        totalData[fieldName] = total;
    }
    function unitSelected(row) {
        selectUnit = row.unitName;
        initPieChart1();
        initPieChart2();
        // initColumnarDiv();
    }

    function convertCount2TableData(originData, eventId, data) {
        var eventData = originData[eventId],
            fieldName = 'ev' + eventId,
            total = 0;

        eventData && eventData.forEach(function(item) {
            var id = item.unitId;
            unitData = data[id];
            if (!unitData) {
                unitData = {
                    unitId: id,
                    unitName: item.unitName
                };
                data[id] = unitData;
            }
            unitData[fieldName] = parseFloat(item.total);
            total += parseFloat(item.total);
        });

        var totalData = data['total'];
        if (!totalData) {
            totalData = {
                unitId: 'total',
                unitName: '合计',
            }
            data['total'] = totalData;
        }
        totalData[fieldName] = total;
    }
    function getRate(item, fixed) {
        var a = item.eventNum,
            b = item.totalNum,
            c = 0;
        if (a && b) {
            c = a / b * 100;
        }
        return c.toFixed(fixed || 2) + '%';
    }


    var pieChart1 = echarts.init(document.getElementById('pieChartDiv1'));
    var pieChart2 = echarts.init(document.getElementById('pieChartDiv2'));
    var sumChart = echarts.init(document.getElementById('columnarDiv'));


    function initPieChart1() {
    	let unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < charResult.length; i++) {
            if (unitId=='total'){
                total.push(charResult[i])
            }else{
                if (charResult[i].unitName==unitId){
                    total.push(charResult[i]);
                }
            }
        }
        var entity=total[total.length - 1];
         var ev1V30003 = entity.ev1V30003;//老年人数体检数
         var evV30003 = (entity.evV30003).toFixed(0);//老年人数
         var evV30008 = entity.evV30008;//有完整年度体检的老年人数
         var occupyRate=0;
         var remainRate=0;
         var pieMessage;
        
         occupyRate=(ev1V30003/evV30003*100).toFixed(2) * 1;
         remainRate=(100-occupyRate).toFixed(2);
         pieMessage=occupyRate+"%";
         
         var option = {

         	            tooltip: {
         	                trigger: 'item',
         	                formatter: "{a} <br/>{b}: {c} ({d}%)"
         	            },
         	            color: ['#3398DB','#999999'],
         	            graphic: [{ //环形图中间添加文字
         	                type: 'text', //通过不同top值可以设置上下显示
         	                left: 'center',
         	                top: '45%',
         	                style: {
         	                    text: pieMessage+'\n'+'老年人体检率',
         	                    textAlign: 'center',
         	                    fill: 'black', //文字的颜色
         	                    width: 30,
         	                    height: 30,
         	                    fontSize: 20,
         	                    fontFamily: "Microsoft YaHei"
         	                }
         	            }],
         	            series: [
         	                {
         	                    name:'老年人体检率',
         	                    type:'pie',
         	                    radius: ['50%', '80%'],
         	                    avoidLabelOverlap: false,
         	                    label: {
         	                        normal: {
         	                            show: false,
         	                            position: 'center'
         	                        },

         	                    },
         	                    labelLine: {
         	                        normal: {
         	                            show: false
         	                        }
         	                    },
         	                    data:[
         	                        {
         	                            value:occupyRate,
         	                            name:'老年人体检率'
         	                        },
         	                        {
         	                            value:remainRate,
         	                            name:'',
         	                            hoverAnimation:false,
         	                            tooltip:{//禁止鼠标悬停显示提示框
         	                                show:false,
         	                            },
         	                        }
         	                    ]
         	                }
         	            ]
         	        };
        pieChart1.setOption(option,true);
    };



    function initPieChart2() {

    	let unitId = selectUnit || 'total';
        var total=[];
        for (var i = 0; i < charResult.length; i++) {
            if (unitId=='total'){
                total.push(charResult[i])
            }else{
                if (charResult[i].unitName==unitId){
                    total.push(charResult[i]);
                }
            }
        }
        var entity=total[total.length - 1];
         var ev1V30003 = entity.ev1V30003;//老年人数体检数
         var evV30003 = (entity.evV30003).toFixed(0);//老年人数
         var evV30008 = entity.evV30008;//有完整年度体检的老年人数
         var occupyRate=0;
         var remainRate=0;
         var pieMessage;
        
         occupyRate=(evV30008/evV30003*100).toFixed(2) * 1;
         remainRate=(100-occupyRate).toFixed(2);
         pieMessage=occupyRate+"%";
         
         var option = {

         	            tooltip: {
         	                trigger: 'item',
         	                formatter: "{a} <br/>{b}: {c} ({d}%)"
         	            },
         	            color: ['#3398DB','#999999'],
         	            graphic: [{ //环形图中间添加文字
         	                type: 'text', //通过不同top值可以设置上下显示
         	                left: 'center',
         	                top: '45%',
         	                style: {
         	                    text: pieMessage+'\n'+'健康管理率',
         	                    textAlign: 'center',
         	                    fill: 'black', //文字的颜色
         	                    width: 30,
         	                    height: 30,
         	                    fontSize: 20,
         	                    fontFamily: "Microsoft YaHei"
         	                }
         	            }],
         	            series: [
         	                {
         	                    name:'健康管理率',
         	                    type:'pie',
         	                    radius: ['50%', '80%'],
         	                    avoidLabelOverlap: false,
         	                    label: {
         	                        normal: {
         	                            show: false,
         	                            position: 'center'
         	                        },

         	                    },
         	                    labelLine: {
         	                        normal: {
         	                            show: false
         	                        }
         	                    },
         	                    data:[
         	                        {
         	                            value:occupyRate,
         	                            name:'健康管理率'
         	                        },
         	                        {
         	                            value:remainRate,
         	                            name:'',
         	                            hoverAnimation:false,
         	                            tooltip:{//禁止鼠标悬停显示提示框
         	                                show:false,
         	                            },
         	                        }
         	                    ]
         	                }
         	            ]
         	        };
        pieChart2.setOption(option,true);
    }

    function initColumnarDiv() {
    	
    	var managedName = [];
    	var oldPeopleNumberValue = [];
    	var physicalNumberValue = [];
    	var completePhysicalNumberValue = [];
    	
        /* charResult.pop();
        charResult.forEach(function(item){
            var name=item.unitName;
          
            managedName.push(name);
            oldPeopleNumberValue.push({name:item.unitName,value:item.evV30003});
            physicalNumberValue.push({name:item.unitName,value:item.ev1V30003});
            completePhysicalNumberValue.push({name:item.unitName,value:item.evV30008});
        }) */
        
        for(var i=0;i<charResult.length-1;i++){
        	 var name=charResult[i].unitName;
             
             managedName.push(name);
             oldPeopleNumberValue.push({name:charResult[i].unitName,value:charResult[i].evV30003});
             physicalNumberValue.push({name:charResult[i].unitName,value:charResult[i].ev1V30003});
             completePhysicalNumberValue.push({name:charResult[i].unitName,value:charResult[i].evV30008});
        }

        var isShowScroll = false;// 是否显示滚动条，默认false不显示
        var dataZoom_end;// 显示百分之多少的数据量，默认全部
        if(charResult.length >10 ){
            dataZoom_end = 100/(charResult.length/10);
            isShowScroll = true;
        }else{
            dataZoom_end = 100;
        }

        var	option = {
            // title: {
            //     text: '抗菌药物统计分析排名柱状图',
            // },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },

            grid: {
                left: '0%',
                right: '0%',
                bottom: '5%',
                containLabel: true
            },

            calculable: true,
            dataZoom: [   {
                start:0,//默认为0
                end: dataZoom_end,
                type: 'slider',
                show: isShowScroll,
                xAxisIndex: [0],
                handleSize: 8,//滑动条的 左右2个滑动条的大小
                height: 10,//组件高度
                left: "center", //左边的距离
                bottom:15,
                handleColor: '#ddd',//h滑动图标的颜色
                handleStyle: {
                    borderColor: "#cacaca",
                    borderWidth: "1",
                    shadowBlur: 2,
                    background: "#ddd",
                    shadowColor: "#ddd",
                },
                fillerColor: new echarts.graphic.LinearGradient(1, 0, 0, 0, [{
                    //给颜色设置渐变色 前面4个参数，给第一个设置1，第四个设置0 ，就是水平渐变
                    //给第一个设置0，第四个设置1，就是垂直渐变
                    offset: 0,
                    color: '#1eb5e5'
                }, {
                    offset: 1,
                    color: '#5ccbb1'
                }]),
                zoomLock:true, //是否锁定选择区域（或叫做数据窗口）的大小。如果设置为 true 则锁定选择区域的大小，也就是说，只能平移，不能缩放。
                backgroundColor: '#ddd',//两边未选中的滑动条区域的颜色
                showDataShadow: false,//是否显示数据阴影 默认auto
                showDetail: false,//即拖拽时候是否显示详细数值信息 默认true
                handleIcon: 'M-292,322.2c-3.2,0-6.4-0.6-9.3-1.9c-2.9-1.2-5.4-2.9-7.6-5.1s-3.9-4.8-5.1-7.6c-1.3-3-1.9-6.1-1.9-9.3c0-3.2,0.6-6.4,1.9-9.3c1.2-2.9,2.9-5.4,5.1-7.6s4.8-3.9,7.6-5.1c3-1.3,6.1-1.9,9.3-1.9c3.2,0,6.4,0.6,9.3,1.9c2.9,1.2,5.4,2.9,7.6,5.1s3.9,4.8,5.1,7.6c1.3,3,1.9,6.1,1.9,9.3c0,3.2-0.6,6.4-1.9,9.3c-1.2,2.9-2.9,5.4-5.1,7.6s-4.8,3.9-7.6,5.1C-285.6,321.5-288.8,322.2-292,322.2z',
                filterMode: 'filter'
            },
                //下面这个属性是里面拖到
                {
                    type: 'inside',
                    show: true,
                    xAxisIndex: [0],
                    start: 0,//默认为1
                    end: 50
                }],

            xAxis: {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 0, //角度顺时针计算的
                    formatter: function(value) {
                        var reg = new RegExp('社区卫生服务中心', "g");
                    	return value.replace(reg, '');
                 }
                },
                axisTick : {
                    alignWithLabel : true
                },
                data: managedName
            },
            yAxis: {
                type: 'value'
            },

            grid: {
                bottom: '70px',
                y:15
            },
            series: [
                {
                    name: '老年人数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:2,
                            color: '#4a72c9'
                        }
                    },

                    data: oldPeopleNumberValue
                },
                {
                    name: '老年人体检数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                            color: '#6071c6'
                        }
                    },
                    data: physicalNumberValue
                },
                {
                    name: '有完整年度体检的老年人数',
                    type: 'bar',
                    barWidth : 10,
                    itemStyle:{
                        normal:{
                            barBorderRadius:3,
                            color: '#78a9f2'
                        }
                    },
                    data: completePhysicalNumberValue
                }
            ],
            legend: {
                data: ['老年人数', '老年人体检数','有完整年度体检的老年人数'],
                bottom:-6
            }
        };
        sumChart.setOption(option,true);
    };


    var showChartInfo = function (sumChart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle: {
                    color: 'grey',
                    fontSize: 20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        sumChart.clear();
        sumChart.hideLoading();
        sumChart.setOption(msgOption)
    };
</script>
</body>

</html>