<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
     <tt:constant enumcode="region-type"/>
    <section class="content-header">
        <h1>疾控详情</h1>
        <ol class="breadcrumb">
            <li><a href="/qos/cdc/team/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/qos/cdc/team/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/qos/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/qos/cdc/team/update?id="+$("#id").val(),
	        columns: [
				{ title: "疾控队伍名称", name: "name", inputType: "TEXT" },
				{ title: "区域", name: "region",enum:"region-type",required: "required", inputType: "SELECT" },
				{ title: "人均管理面积(KM2)", name: "manageArea", inputType: "TEXT" },
				{ title: "人均管理学校数", name: "manageSchoolAmount", inputType: "TEXT" },
				{ title: "人均处置疫情量", name: "epidemicAmount", inputType: "TEXT" },
				{ title: "人居处置预警疫情量", name: "warningEpidemicAmount", inputType: "TEXT" }
				]
	    }
    
        $.getAjax("/qos/cdc/team/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>