<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
<tt:constant enumcode="nature-type,subordination-type,region-type,sickness-type"/>
<section class="content-header">
    <h1>罹患率统计</h1>
</section>
<section class="content">
    <div class="box box-solid" style="height: 45px;margin-bottom: 5px">
        <div class="box-body no-pad-top" >
            <form id="searchbar" class="form-horizontal form-search" style="margin-top: 5px;margin-left: 0;margin-right: 0">
                <div class="form-group">
						<div class="col-md-2">
                        	<input name="schoolYear" id="schoolYear" placeholder="学年" autocomplete="off" type="text" class="form-control tonto-datepicker-year">
	                    </div>
						<div class="col-md-10">
                  <div class="pull-right">
                      <button type="button" style="width:100px" class="btn btn-primary tonto-btn-search" onclick="query()"><i class="fa fa-search"></i>查询</button>
                      <button type="button" style="width:100px" class="btn btn-default" onclick="$('#searchbar').resetSearch()"><i class="fa fa-repeat"></i>重置</button>
                  </div>
              </div>
             </div>
                <!-- 表单仅有一个text-input时回车会提交表单，这里添加一个无用的防止回车提交 -->
                <input type="text" style="display:none">
            </form>
        </div>
    </div>
    <div class="row" style="margin-left: 1px;margin-right: 5px">
    	<div class="col-md-5 no-padding">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                       	<div id="epidemicRateAffiChartDiv" class="box-body no-padding" style="height: 800px"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7" style="padding-right: 5px;padding-left: 5px">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-solid">
                       	<div id="epidemicRateNatureChartDiv" class="box-body no-padding" style="height: 800px"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<div th:include="/qos/footer" />
<script type="text/javascript" src="/static/js/chart.js"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    //获取当年日期所属学年
	function getCurrentSchoolYear (date) {
		var schoolYear=date.getFullYear();
	    if(date.getMonth()<9){//9月之前，属于上一个学年
	    	schoolYear=schoolYear-1;
	    }
	    return schoolYear;
	}
    
	function query() {
		generatorEpidemicRateAffiChart(epidemicRateAffiChart);
    	generatorEpidemicRateNatureChart(epidemicRateNatureChart);
	}
    
	//图表自适应大小
    window.addEventListener("resize", function () {
    	epidemicRateAffiChart.resize();
    	epidemicRateNatureChart.resize();
    });
    
    var epidemicRateAffiChart = echarts.init(document.getElementById('epidemicRateAffiChartDiv'));

    var epidemicRateNatureChart = echarts.init(document.getElementById('epidemicRateNatureChartDiv'));
	
	var epidemicCountsData,epidemicPeopleCountsData;
    $(function () {
    	$('input[name="schoolYear"]').val(getCurrentSchoolYear(new Date()));
    	generatorEpidemicRateAffiChart(epidemicRateAffiChart);
    	generatorEpidemicRateNatureChart(epidemicRateNatureChart);
    });
    
    
    function generatorEpidemicRateAffiChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        var schoolYear = $("#schoolYear").val();
		 var district = $("#district").find('option:selected').val();
		 $.post("/qos/org/school/statistic/epidemic/ratesbyAffiliation",{"schoolYear":schoolYear,"district":district},function(res){
			 var result = res.result;
			 var titleArr= [], seriesArr=[];
			 if (result.length == 0) {
	                showChartInfo(chart,'暂无数据显示...');
	                return false;
	         }
	       let seriesData=[];
	       
	       for (i = 0; i < result['sickGroupNew'].length ; i++) { 
	    	   seriesData.push({
	   		            name: result['sickGroupNew'][i],
	   		            type:'line',
	   		            symbolSize: 8,
	   		            hoverAnimation: false,
	   		            data: result['serialDataA'][i]
	   		   })
	       }
	       for (i = 0; i < result['sickGroupNew'].length ; i++) { 
	    	   seriesData.push({
	   		            name: result['sickGroupNew'][i],
	   		         	type:'line',
	 		            xAxisIndex: 1,
	 		            yAxisIndex: 1,
	 		            symbolSize: 8,
	 		            hoverAnimation: false,
	   		            data: result['serialDataB'][i]
	   		   })
	       }
	       
	       chart.hideLoading();
	       option = {
	    		   title: {
	    		        text: '隶属关系',
	    		        subtext: '罹患率',
	    		        x: 'center'
	    		    },
	    		    tooltip: {
	    		        trigger: 'axis',
	    		         axisPointer: {
	    		            animation: false
	    		        } 
	    		    },
	    		    legend: {
	    		        data:result['sickGroupNew'],
	    		        type:"scroll",
	    		        bottom:0
	    		    },
	    		    toolbox: {
	    		        feature: {
	    		            dataZoom: {
	    		                yAxisIndex: 'none'
	    		            }
	    		        }
	    		    },
	    		    grid: [{
	    		        left: 50,
	    		        right: 50,
	    		        height: '35%'
	    		    }, {
	    		        left: 50,
	    		        right: 50,
	    		        top: '55%',
	    		        height: '35%'
	    		    }],
	    		    xAxis : [
	    		        {
	    		            type : 'category',
	    		            boundaryGap : true,
	    		            data: result['affiGroup']
	    		        },
	    		        {
	    		            gridIndex: 1,
	    		            type : 'category',
	    		            boundaryGap : true,
	    		            data: result['affiGroup'],
	    		            position: 'top'
	    		        }
	    		    ],
	    		    yAxis : [
	    		        {
	    		            name : '事发群体罹患率',
	    		            type : 'value',
	    		            //max : 1
	    		        },
	    		        {
	    		            gridIndex: 1,
	    		            name : '全校罹患率',
	    		            type : 'value',
	    		            //max : 1
	    		        }
	    		    ],
	    		    series : seriesData
	       }
	       chart.setOption(option,true);
		})
	}
    
    
    function generatorEpidemicRateNatureChart(chart) {
        chart.showLoading({
            text: '数据正在努力加载...',
            textStyle: { fontSize : 30 , color: '#444' },
            effectOption: {backgroundColor: 'rgba(0, 0, 0, 0)'}
        });
        var schoolYear = $("#schoolYear").val();
		 var district = $("#district").find('option:selected').val();
		 $.post("/qos/org/school/statistic/epidemic/ratesbyNature",{"schoolYear":schoolYear,"district":district},function(res){
			 var result = res.result;
			 var titleArr= [], seriesArr=[];
			 if (result.length == 0) {
	                showChartInfo(chart,'暂无数据显示...');
	                return false;
	         }
	       let seriesData=[];
	       
	       for (i = 0; i < result['sickGroupNew'].length ; i++) { 
	    	   seriesData.push({
	   		            name: result['sickGroupNew'][i],
	   		            type:'line',
	   		            symbolSize: 8,
	   		            hoverAnimation: false,
	   		            data: result['serialDataA'][i]
	   		   })
	       }
	       for (i = 0; i < result['sickGroupNew'].length ; i++) { 
	    	   seriesData.push({
	   		            name: result['sickGroupNew'][i],
	   		         	type:'line',
	 		            xAxisIndex: 1,
	 		            yAxisIndex: 1,
	 		            symbolSize: 8,
	 		            hoverAnimation: false,
	   		            data: result['serialDataB'][i]
	   		   })
	       }
	       
	       chart.hideLoading();
	       option = {
	    		   title: {
	    		        text: '学校性质',
	    		        subtext: '罹患率',
	    		        x: 'center'
	    		    },
	    		    tooltip: {
	    		        trigger: 'axis',
	    		         axisPointer: {
	    		            animation: false
	    		        } 
	    		    },
	    		    legend: {
	    		        data:result['sickGroupNew'],
	    		        type:"scroll",
	    		        bottom:0
	    		    },
	    		    toolbox: {
	    		        feature: {
	    		            dataZoom: {
	    		                yAxisIndex: 'none'
	    		            }
	    		        }
	    		    },
	    		    grid: [{
	    		        left: 50,
	    		        right: 50,
	    		        height: '35%'
	    		    }, {
	    		        left: 50,
	    		        right: 50,
	    		        top: '55%',
	    		        height: '35%'
	    		    }],
	    		    xAxis : [
	    		        {
	    		            type : 'category',
	    		            boundaryGap : true,
	    		            data: result['natureGroup'],
	    		            axisLabel: {
	    	                    interval: 0,
	    	                    rotate: 20 //角度顺时针计算的
	    	                }
	    		        },
	    		        {
	    		            gridIndex: 1,
	    		            type : 'category',
	    		            boundaryGap : true,
	    		            data: result['natureGroup'],
	    		            position: 'top',
	    		            axisLabel: {
	    	                    interval: 0,
	    	                    rotate: 20 //角度顺时针计算的
	    	                }
	    		        }
	    		    ],
	    		    yAxis : [
	    		        {
	    		            name : '事发群体罹患率',
	    		            type : 'value',
	    		            //max : 1
	    		        },
	    		        {
	    		            gridIndex: 1,
	    		            name : '全校罹患率',
	    		            type : 'value',
	    		            //max : 1
	    		        }
	    		    ],
	    		    series : seriesData
	       }
	       chart.setOption(option,true);
		})
	}
    
    
    
    
    var showChartInfo = function (chart, infoStr) {
        var msgOption = {
            title: {
                show: true,
                textStyle:{
                    color:'grey',
                    fontSize:20
                },
                text: infoStr,
                left: 'center',
                top: 'center'
            },
            xAxis: {
                show: false
            },
            yAxis: {
                show: false
            },
            series: []
        };
        chart.clear() ;//initChart(divId): get echarts instance, you can get it by using other method
        chart.hideLoading();
        chart.setOption(msgOption)
    };
    /*]]>*/
</script>
</body>

</html>