<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="/qos/header" />

<body>
    
    <section class="content-header">
        <h1>学校管理</h1>
        <ol class="breadcrumb">
            <li><a href="/qos/org/school/name/index"><i class="fa fa-list-alt"></i>列表</a></li>
            <li class="active">详情</li>
        </ol>
    </section>
    <section class="content">
    </section>
    <div class="col-sm-2 col-sm-offset-5 btn-back">
    	<a href="/qos/org/school/name/index" class="btn btn-primary btn-block">返回</a>
    </div>
    <input type="hidden" id="id" th:value="${id}"/>
    <div th:include="/qos/footer" />
    <script type="text/javascript">

    $(function() {
    	var options = {
	        id: "model",
	        name: "详情",
	        url:"/qos/org/school/name/update?id="+$("#id").val(),
	        columns: [
				{ title: "学校全称", name: "schoolFullName", inputType: "TEXT" },
				{ title: "主校简称", name: "mainSchoolShortName", inputType: "TEXT" },
				{ title: "分校名", name: "branchSchoolName", inputType: "TEXT" },
				{ title: "分部名", name: "divisionName", inputType: "TEXT" }
				]
	    }
    
        $.getAjax("/qos/org/school/name/get?id="+$("#id").val(), function(data) {
            var html = generateHtml(options);
            $(".content").html(html);
            $.initComponment($(".content"));
           
            var model = new tonto.Model("model", options.columns);
            model.setData(data);
        });
    });
    </script>
</body>

</html>