<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<head th:include="/qos/header" />
<link rel="stylesheet" href="/static/css/SearchInfoWindow_min.css">
<link rel="stylesheet" href="/static/css/index.css">
<script type="text/javascript" src="/static/assets/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/assets/map/mapapi.js"></script>
<script type="text/javascript" src="/static/assets/map/mapgetscript.js"></script>
<script type="text/javascript" src="/static/assets/map/SearchInfoWindow_min.js"></script>

<body id="body">
    <nav id="nav">
        <span class='index_left text-00e4ff left'>
            <img src="../../../static/image/index/home.png" />综合质量展示
        </span>
        <div class="middle">
            <span class="text-00e4ff">昆山市医疗服务综合质量展示&nbsp;&nbsp;&nbsp;&nbsp;/</span>
            <span class="text-00B4FF">&nbsp;&nbsp;&nbsp;&nbsp;昆山市社区卫生服务综合质量展示&nbsp;&nbsp;&nbsp;&nbsp;/</span>
           <!-- <span class="text-00B4FF">&nbsp;&nbsp;&nbsp;&nbsp;昆山市学校及疫情数据质量展示</span>-->
        </div>
        <div class='right'>
            <span class="text-00B4FF"><i class="circle">•</i>社区医疗&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="text-00B4FF"><i class="circle">•</i>基本公共卫生&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="text-00B4FF"><i class="circle">•</i>家庭医生</span>
        </div>
    </nav>
    <header id="header">
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_people.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">本月总门急诊人</div>
                <div class="text-3df37e bottom"><i id="thismonth"></i><span class="fz18">人</span></div>
            </div>
        </div>
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_file.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">健康档案总数 </div>
                <div class="text-3df37e bottom"><i id="healthAll"></i><span class="fz18">人</span></div>
            </div>
        </div>
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_spec.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">特殊人群管理数</div>
                <div class="text-3df37e bottom"><i id="specialPeople"></i><span class="fz18">人</span></div>
            </div>
        </div>
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_doctor.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">家庭医生团队数</div>
                <div class="text-3df37e bottom"><i id="home_family_doctor"></i><span class="fz18">人</span></div>
            </div>
        </div>
    </header>
    <div id="middle">
        <div class="left position-relative">
            <div class="bg_opacity">
                <div class="header line">在岗及卫技人员情况</div>
                <div class="fr width100 text-align-right pr-20 position-absolute absolute1">
                    <div><span class='orangeline middle-line'></span><span class="text-ffffff">在岗人员</span></div>
                    <div><span class='greenline middle-line'></span><span class="text-ffffff">卫技人员</span></div>
                </div>
                <div id="chartmain"></div>
            </div>
            <div class="bg_opacity">
                <div class="header line">昆山门急诊人次数</div>
                <div id="emergency"></div>
            </div>
            <div class="bg_opacity">
                <div class="header line">家庭医生团队情况</div>
                <div id="doctor"></div>
            </div>
        </div>
        <div class="middle">
            <div id="allmap" class="comprehensiveMap"></div>
            <input id="site" type="text" style="display:none">
            <input id="longitude" type="text" value="121.047817" style="display:none">
            <input id="latitude" type="text" value="31.395795" style="display:none">
        </div>
        <div class="right" id="mide_right">
            <div class="bg_opacity  position-relative">
                <div class="header line">政策扶持人员签约率</div>
                <div class="fr width100 text-align-right pr-20">
                    <div>
                        <select>
                            <option value="volvo">请选择</option>
                            <option value="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </div>
                </div>
                <div id="emergency1"></div>
            </div>
            <div class="bg_opacity">
                <div class="header line">常驻人口建档率</div>
                <div id="permanentPopulation"></div>
            </div>
            <div class="bg_opacity position-relative">
                <div class="header line">住院/出院人次数</div>
                <div class="fr width100 text-align-right pr-20 position-absolute">
                    <div><span class='orangeline middle-line'></span><span class="text-ffffff">住院人数</span></div>
                    <div><span class='blueline middle-line'></span><span class="text-ffffff">出院人数</span></div>
                </div>
                <div id="emergency3"></div>
            </div>
        </div>
    </div>
    <div th:include="/qos/footer" />
    <script type="text/javascript" src="/static/js/comprehensive/common.js"></script>
    <script type="text/javascript" src="/static/js/comprehensive/outpatient.js"></script>
    <script type="text/javascript" src="/static/js/comprehensive/familydoctor.js"></script>
    <script type="text/javascript" src="/static/js/comprehensive/permanent.js"></script><!--常驻-->
    <script type="text/javascript" src="/static/js/comprehensive/community.js"></script><!--本月总门急诊人等-->
    <script type="text/javascript" src="/static/js/comprehensive/intohospital.js"></script><!--住院/出院人次数-->
    <script type="text/javascript" src="/static/js/comprehensive/familyDoctorTeam.js"></script><!--家庭医生团队情况-->
    <script type="text/javascript" src="/static/js/comprehensive/thisMonthTreatment.js"></script><!--昆山门急诊人次数-->
    <script type="text/javascript" src="/static/js/comprehensive/permanentPopulation.js"></script><!--常驻人口建档率-->
</body>

<script>
$(function() {
    //指定图标的配置和数据
    var option = {
        xAxis: {
            type: 'category',
            data: ['2015', '2016', '2017', '2018', '2019'],
            axisLine: {
                lineStyle: {
                    color: '#657ca8',
                    width: 1, //这里是为了突出显示加上的
                }
            },
            axisLabel: {
                show: true,
                textStyle: {
                    color: '#19d1ff'
                }
            }
        },
        yAxis: {
            type: 'value',
            data: ['2015', '2016', '2017', '2018', '2019'],
            axisLine: {
                lineStyle: {
                    color: '#657ca8',
                    width: 1, //这里是为了突出显示加上的
                }
            },
            axisLabel: {
                show: true,
                textStyle: {
                    color: '#19d1ff'
                }
            }
        },
        series: [{
            data: [820, 932, 901, 934, 1290, 1330, 1320],
            type: 'line',
            lineStyle: {
                color: '#f45e23',
                width: 2, //这里是为了突出显示加上的
            }

        }, {
            data: [620, 532, 601, 834, 890, 730, 920],
            type: 'line',
            lineStyle: {
                color: '#00b4b1',
                width: 2, //这里是为了突出显示加上的
            }
        }]
    };
    //初始化echarts实例
    var myChart = echarts.init(document.getElementById('chartmain'));
    myChart.setOption(option);

    //急诊人数开始
    //指定图标的配置和数据
    var emergencyoption = {
        xAxis: {
            type: 'category',
            data: ['亭林', '震川', '周市镇', '千灯镇', '巴城镇'],
            axisLine: {
                lineStyle: {
                    color: '#19d1ff',
                    width: 1, //这里是为了突出显示加上的
                }
            }
        },
        yAxis: {
            type: 'value',
            splitLine: {
                show: false
            },
            axisLine: {
                lineStyle: {
                    color: '#19d1ff',
                    width: 1, //这里是为了突出显示加上的
                }
            }
        },
        series: [{
            itemStyle: {
                normal: {
                    color: function(d) { return "#" + Math.floor(Math.random() * (256 * 256 * 256 - 1)).toString(16); }
                 },
            },
            barWidth: 30,
            data: [120, 200, 150, 80, 70],
            type: 'bar'
        }]
    };
    //初始化echarts实例



    var myChartEmergency1 = echarts.init(document.getElementById('emergency1'));
    myChartEmergency1.setOption(emergencyoption);


    window.onresize = function(){
        myChart.resize();
        myChartEmergency.resize();
        myChartEmergency1.resize();
        myChartEmergency2.resize();
        myChartEdoctor.resize();
        myChartEmergency3.resize();
     }

})
</script>
<script>


  var markerArr = [{
    title: "昆山康莱药房",
    insurance:'是',
    delivery:'是',
    address: "玉山镇莫介路156福泰欧楼上",
    shopowner:'王药师',
    tel: "(0512)50171888",
   lng:'120.9615601899',
   lat:'31.3804306996',
    logo: "image/logodrug.png",
    evaluate:'20',
    praise:'7',
    commentary:'7',
    comment:'6',
    order:'454',
    hiostoryorder:'4454',
  }, {
    title: "昆山测试康莱药房",
    insurance:'是',
    delivery:'是',
    address: "玉山镇莫介路156福泰欧楼上",
    shopowner:'王药师',
    tel: "联系电话：(0512)50171888",
    lng:'121.085697',
    lat:'31.385474',
    logo: "image/logodrug.png",
    evaluate:'20',
    praise:'7',
    commentary:'7',
    comment:'6',
    order:'454',
    order:'9454',
  }];


              var strs = "";
              // 百度地图API功能
              var map = new BMap.Map("allmap");    // 创建Map实例
              var cityName = '昆山';
              map.centerAndZoom(cityName, 12);
              map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
              map.setCurrentCity("昆山");          // 设置地图显示的城市 此项是必须设置的
              map.enableScrollWheelZoom(true);
          //  map.enableContinuousZoom(false);    //启用地图惯性拖拽，默认禁用
              map.addControl(new BMap.NavigationControl());
              map.addControl(new BMap.ScaleControl());
              map.addControl(new BMap.OverviewMapControl());
              function getBoundary1()
              {
                  var bdary = new BMap.Boundary();
                  var name = '昆山';//在这里直接输入城市名字即可
                  bdary.get(name, function(rs){ //获取行政区域
                      map.clearOverlays(); //清除地图覆盖物
                      var count = rs.boundaries.length; //行政区域的点有多少个
                      for(var i = 0; i < count; i++){
                          var EN_JW = "180, 90;";         //东北角
                          var NW_JW = "-180,  90;";       //西北角
                          var WS_JW = "-180, -90;";       //西南角
                          var SE_JW = "180, -90;";        //东南角
                          // 之前的 var ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 2, strokeColor: "#37dfee", fillColor: "#f0f0f0", fillOpacity:0.5, strokeOpacity: 0.7 }); //建立多边形覆盖物
                          //4.添加环形遮罩层
                          var ply1 = new BMap.Polygon(rs.boundaries[0] + SE_JW + SE_JW + WS_JW + NW_JW + EN_JW + SE_JW, { strokeColor: "none", fillColor: "#081327", fillOpacity:1, strokeOpacity: 0.5 }); //建立多边形覆盖物
                          map.addOverlay(ply1);
                          //5. 给目标行政区划添加边框，其实就是给目标行政区划添加一个没有填充物的遮罩层
                          var ply = new BMap.Polygon(rs.boundaries[0], { strokeWeight: 2, strokeColor: "#37dfee",fillColor: "" });
                          map.addOverlay(ply);
                          map.addOverlay(ply); //添加覆盖物
                          map.setViewport(ply.getPath()); //调整视野
                      }
                      addlabel();
                  });

              }
              getBoundary1();
              var mapStyle = {style: "midnight"}
              map.setMapStyle(mapStyle);
              function addlabel() {
                  var point = new Array(); //存放标注点经纬信息的数组
                  var marker = new Array(); //存放标注点对象的数组
                  var info = new Array(); //存放提示信息窗口对象的数组
                  var searchInfoWindow = new Array();//存放检索信息窗口对象的数组
                  var myIcon = new BMap.Icon("../../../static/image/index/map_indexred.png", new BMap.Size(20, 25));
                  for (var i = 0; i < markerArr.length; i++) {
                      var p0 = markerArr[i].lng; //
                      var p1 = markerArr[i].lat; //按照原数组的point格式将地图点坐标的经纬度分别提出来
                      point[i] = new window.BMap.Point(p0, p1); //循环生成新的地图点
                      marker[i] = new window.BMap.Marker(point[i], {icon: myIcon});
                      map.addOverlay(marker[i]);

                      marker[i].setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画


                      function trues(data){
                            if(data==true){
                                return '是'
                            }else{
                                return '否'
                            }
                      }

                      // 创建信息窗口对象
                          info[i] = "<p style=’font-size:12px;line-height:1.6em;’>"
                              + "</br><b class='text-0efcff'>是否医保：</b>"
                              + "</br><b class='text-0efcff'>是否支持配送：</b>"
                              + "</br><b class='text-0efcff'>地址：</b>"
                              + "</br></p>";

                    //创建百度样式检索信息窗口对象
                      searchInfoWindow[i] = new BMapLib.SearchInfoWindow(map,info[i], {
                          title: markerArr[i].name, //标题
                          width: 290, //宽度
                          height: 100, //高度
                          marginLeft: 100,
                          panel: "panel",
                          enableSendToPhone: false,
                          searchTypes: []

                      });


                      //添加点击事件
                      marker[i].addEventListener("click", (function (k) {
                          // js 闭包
                          return function () {
                              //在marker上打开检索信息窗口
                              searchInfoWindow[k].open(marker[k]);
                            }
                      })(i));
                   }




           //结束
   }

</script>


</html>