<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<head th:include="/qos/header" />
<link rel="stylesheet" href="/static/css/SearchInfoWindow_min.css">
<link rel="stylesheet" href="/static/css/index.css">
<script type="text/javascript" src="/static/assets/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/assets/map/eventwrapper.min.js"></script>

<!--服务器误删开始-->
<!--<script type="text/javascript" src="/static/assets/map/mapAPI.min_server.js"></script>-->
<!--服务器误删结束-->

<!--服务器删除开始-->
<script type="text/javascript" src="/static/assets/map/mapapi.js"></script>
<script type="text/javascript" src="/static/assets/map/mapgetscript.js"></script>
<!--服务器删除结束-->


<!--<script type="text/javascript" src="/static/assets/map/mapapi.js"></script>
<script type="text/javascript" src="/static/assets/map/mapgetscript.js"></script>-->
<script type="text/javascript" src="/static/assets/map/SearchInfoWindow_min.js"></script>

<body id="body">
    <nav id="nav">
        <span class='index_left text-00e4ff left'>
            <img src="../../../static/image/index/home.png" />综合质量展示
        </span>
        <div class="middle">
            <span class="text-00e4ff">昆山市医疗服务综合质量展示&nbsp;&nbsp;&nbsp;&nbsp;/</span>
            <span class="text-00B4FF">&nbsp;&nbsp;&nbsp;&nbsp;昆山市社区卫生服务综合质量展示&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <!-- -->
        </div>
        <div class='right'>
            <span class="text-00B4FF"><i class="circle">•</i>社区医疗&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="text-00B4FF"><i class="circle">•</i>基本公共卫生&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="text-00B4FF"><i class="circle">•</i>家庭医生</span>
        </div>
    </nav>
    <header id="header">
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_people.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">本月总门急诊人</div>
                <div class="text-3df37e bottom"><i id="thismonth"></i><span class="fz18">人</span></div>
            </div>
        </div>
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_file.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">健康档案总数</div>
                <div class="text-3df37e bottom"><i id="healthAll"></i><span class="fz18">人</span></div>
            </div>
        </div>
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_spec.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">特殊人群管理数</div>
                <!--<div class="text-3df37e bottom"><i id="specialPeople"></i><span class="fz18">人</span></div>-->
                <div class="text-3df37e bottom"><i id="specialPeopl7e">9564</i><span class="fz18">人</span></div>
            </div>
        </div>
        <div class="fourclass">
            <div class="left">
                <img src="../../../static/image/index/index_doctor.png" />
            </div>
            <div class="right">
                <div class="text-ffffff top">家庭医生团队数</div>
                <div class="text-3df37e bottom"><i id="home_family_doctor"></i><span class="fz18">人</span></div>
            </div>
        </div>
    </header>
    <div id="middle">
        <div class="left position-relative">
            <div class="bg_opacity">
                <div class="header line">重点人群签约率</div>
                <div class="fr width100 text-align-right pr-70 position-absolute absolute1 absolute2">
                    <div class="mb5"></div>
                    <div style="margin-right: -20%">
                        <select id="selectID">
                            <option value="21021">残疾人签约率</option>
                            <option value="21022">高血压患者签约率</option>
                            <option value="21023">糖尿病患者签约率</option>
                            <option value="21024">孕产妇签约率</option>
                            <option value="21025">0-6周岁儿童签约率</option>
                            <option value="21026">65周岁及以上老年人签约率</option>
                            <option value="21027">严重肺结核患者签约率</option>
                            <option value="21028">重精神障碍患者签约率</option>
                            <option value="21029">疾病筛查高危人员签约率</option>
                        </select>
                    </div>
                </div>
                <div id="chartmain"></div>
            </div>
            <div class="bg_opacity">
                <div class="headers line">昆山门急诊人次数</div>
                <div id="jizhenrencishu"></div>
            </div>
            <div class="bg_opacity">
                <div class="headers line">家庭医生团队情况</div>
                <div id="jiatingyisheng"></div>
            </div>
        </div>
        <div class="middle">
            <div id="allmap" class="comprehensiveMap"></div>
            <input id="site" type="text" style="display:none">
            <input id="longitude" type="text" value="121.047817" style="display:none">
            <input id="latitude" type="text" value="31.395795" style="display:none">
        </div>
        <div class="right" id="mide_right">
            <div class="bg_opacity  position-relative">
                <div class="headers line">社区医疗收入情况</div>
                <div id="emergency1"></div>
            </div>
            <div class="bg_opacity">
                <div class="headers line">常驻人口建档率</div>
                <div id="permanentPopulation"></div>
            </div>
            <div class="bg_opacity position-relative">
                <div class="headers line">住院/出院人次数</div>
                <div class="fr width100 text-align-right pr-20 position-absolute">
                    <div><span class='orangeline middle-line'></span><span class="text-ffffff">住院人数</span></div>
                    <div><span class='blueline middle-line'></span><span class="text-ffffff">出院人数</span></div>
                </div>
                <div id="emergency3"></div>
            </div>
        </div>
    </div>
    <div th:include="/qos/footer" />
    <script type="text/javascript" src="/static/js/comprehensive/common.js"></script>
    <script type="text/javascript" src="/static/js/comprehensive/outpatient.js"></script>
    <script type="text/javascript" src="/static/js/comprehensive/familydoctor.js"></script>
    <script type="text/javascript" src="/static/js/comprehensive/permanent.js"></script><!--常驻-->
    <script type="text/javascript" src="/static/js/comprehensive/community.js"></script><!--本月总门急诊人等-->
    <script type="text/javascript" src="/static/js/comprehensive/intohospital.js"></script><!--住院/出院人次数-->
    <script type="text/javascript" src="/static/js/comprehensive/familyDoctorTeam.js"></script><!--家庭医生团队情况-->
    <script type="text/javascript" src="/static/js/comprehensive/thisMonthTreatment.js"></script><!--昆山门急诊人次数-->
    <script type="text/javascript" src="/static/js/comprehensive/permanentPopulation.js"></script><!--常驻人口建档率-->
    <script type="text/javascript" src="/static/js/comprehensive/permanentPopulation1.js"></script><!--健康档案建档率-->
    <script type="text/javascript" src="/static/js/comprehensive/incomesolity.js"></script><!--社区医疗收入情况-->
   <!-- <script type="text/javascript" src="/static/js/comprehensive/healthFileBookBuilding.js"></script>&lt;!&ndash; 健康档案建档率 &ndash;&gt;-->
    <script type="text/javascript" src="/static/js/comprehensive/thisMonthArchives.js"></script><!-- 健康档案建档率 -->
</body>
<script>
$(function() {


    window.onresize = function() {
        myChart.resize();
        myChartEmergency.resize();
        myChartEmergency1.resize();
        myChartEmergency2.resize();
        myChartEdoctor.resize();
        myChartEmergency3.resize();
    }
})
</script>
<script>
$.ajax({
    type: "post", //请求类型
    url: "/qos/address/search/community", //请求的 URL地址
    success: function(rawData) {
        markerArr = rawData.result;
        //开始
        var strs = "";
        // 百度地图API功能
        var map = new BMap.Map("allmap"); // 创建Map实例
        var cityName = '昆山';
        map.centerAndZoom(cityName, 15);
        map.addControl(new BMap.MapTypeControl()); //添加地图类型控件
        map.setCurrentCity("昆山"); // 设置地图显示的城市 此项是必须设置的
        map.enableScrollWheelZoom(true);
        //  map.enableContinuousZoom(false);    //启用地图惯性拖拽，默认禁用
        map.addControl(new BMap.NavigationControl());
        map.addControl(new BMap.ScaleControl());
        map.addControl(new BMap.OverviewMapControl());

        function getBoundary1() {
            var bdary = new BMap.Boundary();
            var name = '昆山'; //在这里直接输入城市名字即可
            bdary.get(name, function(rs) { //获取行政区域
                map.clearOverlays(); //清除地图覆盖物
                var count = rs.boundaries.length; //行政区域的点有多少个
                for (var i = 0; i < count; i++) {
                    var EN_JW = "180, 90;"; //东北角
                    var NW_JW = "-180,  90;"; //西北角
                    var WS_JW = "-180, -90;"; //西南角
                    var SE_JW = "180, -90;"; //东南角
                    // 之前的 var ply = new BMap.Polygon(rs.boundaries[i], { strokeWeight: 2, strokeColor: "#37dfee", fillColor: "#f0f0f0", fillOpacity:0.5, strokeOpacity: 0.7 }); //建立多边形覆盖物
                    //4.添加环形遮罩层
                    var ply1 = new BMap.Polygon(rs.boundaries[0] + SE_JW + SE_JW + WS_JW + NW_JW + EN_JW + SE_JW, { strokeColor: "none", fillColor: "#081327", fillOpacity: 1, strokeOpacity: 0.5 }); //建立多边形覆盖物
                    map.addOverlay(ply1);
                    //5. 给目标行政区划添加边框，其实就是给目标行政区划添加一个没有填充物的遮罩层
                    var ply = new BMap.Polygon(rs.boundaries[0], { strokeWeight: 2, strokeColor: "#37dfee", fillColor: "" });
                    map.addOverlay(ply);
                    map.addOverlay(ply); //添加覆盖物
                    map.setViewport(ply.getPath()); //调整视野
                }
                addlabel();
            });
        }
        getBoundary1();
        var mapStyle = { style: "midnight" }
        map.setMapStyle(mapStyle);

        function addlabel() {
            var point = new Array(); //存放标注点经纬信息的数组
            var marker = new Array(); //存放标注点对象的数组
            var info = new Array(); //存放提示信息窗口对象的数组
            var searchInfoWindow = new Array(); //存放检索信息窗口对象的数组
            var myIcon = new BMap.Icon("../../../static/image/index/map_indexred.png", new BMap.Size(20, 25));
            for (var i = 0; i < markerArr.length; i++) {
                var p0 = markerArr[i].orgLon; //orgLon
                var p1 = markerArr[i].orgLat; //按照原数组的point格式将地图点坐标的经纬度分别提出来
                point[i] = new window.BMap.Point(p0, p1); //循环生成新的地图点
                marker[i] = new window.BMap.Marker(point[i], { icon: myIcon });
                map.addOverlay(marker[i]);
              //  marker[i].setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画
                function trues(data) {
                    if (data == true) {
                        return '是'
                    } else {
                        return '否'
                    }
                }

                // 创建信息窗口对象
                info[i] = "<p style=’font-size:12px;line-height:1.6em;’>" +
                     + "<b class='text-0efcff'>名称：</b>"
                              + markerArr[i].orgName
                              + "</br>"
                              + "<b class='text-0efcff'>当月门诊次数：</b>"
                              + markerArr[i].patients
                              + "</br>"
                              + "<b class='text-0efcff'>当月住院人次：</b>"
                              + markerArr[i].hospital
                              + "</br>"
                              + "<b class='text-0efcff'>地址：</b>"
                              + markerArr[i].orgAddress
                              + "</p>";

                //创建百度样式检索信息窗口对象
                searchInfoWindow[i] = new BMapLib.SearchInfoWindow(map, info[i], {
                    title: markerArr[i].unitName, //标题
                    width: 290, //宽度
                    height: 100, //高度
                    marginLeft: 100,
                    panel: "panel",
                    enableSendToPhone: false,
                    searchTypes: []

                });


                //添加点击事件
                marker[i].addEventListener("click", (function(k) {
                    return function() {
                        searchInfoWindow[k].open(marker[k]);
                    }
                })(i));









            }
           //结束



         var skipIndex = 0;
         window.setInterval(function() {
                if (skipIndex >= marker.length) skipIndex = 0;
                var m = marker[skipIndex],
                    win = searchInfoWindow[skipIndex++];
                win.open(m);
                map.panTo(point[i]);
            }, 3000);








        }

        //结束
    }
});
</script>

</html>