<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.dynamic.mapper.HospitalLogMapper">
	
	<select id="findHospitalDataLog" parameterType="com.paladin.qos.model.hospitalData.HospitalDataLog" resultType="com.paladin.qos.model.hospitalData.HospitalDataLog">
		select organ_code as organCode,organ_name as organName,table_code as tableCode,table_name as tableName,
		cnt_all as cntAll,update_time as updateTime,create_time as createTime
		from table_count
		where organ_code is not null
		<if test="organCode !='' and  organCode!=null">
			AND organ_code=#{organCode}
		</if>
		ORDER BY organ_code
		offset #{offset} rows
		fetch next #{limit} rows only
	</select>

	<select id="countHospitalDataLog" parameterType="com.paladin.qos.model.hospitalData.HospitalDataLog" resultType="int">
		select count(1) from table_count
		where organ_code is not null
		<if test="organCode !='' and  organCode!=null">
			AND organ_code=#{organCode}
		</if>
	</select>

	
	<select id="findHospitalDataCheck" parameterType="com.paladin.qos.model.hospitalData.HospitalDataCheck" resultType="com.paladin.qos.model.hospitalData.HospitalDataCheck">
		select orgcode,orgname,name,perc1,perc2,num1,num2
		from dzjk
		where 1=1
		and orgcode is not null
		<if test="orgcode !='' and  orgcode!=null">
			AND orgcode=#{orgcode}
		</if>
		ORDER BY orgcode
		offset #{offset} rows
		fetch next #{limit} rows only
	</select>

	<select id="countHospitalDataCheck" parameterType="com.paladin.qos.model.hospitalData.HospitalDataCheck" resultType="int">
		select count(1)
		from dzjk
		where 1=1
		and orgcode is not null
		<if test="orgcode !='' and  orgcode!=null">
			AND orgcode=#{orgcode}
		</if>
	</select>
	
</mapper>