<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.qos.mapper.epidemic.EpidemicSituationMapper">

	<select id="searchFindPage" resultType="com.paladin.qos.service.epidemic.vo.EpidemicSituationVO">
		SELECT e.id,
		n.school_full_name AS incidentUnit,
		e.report_unit AS reportUnit,
		e.school_year as schoolYear,
		e.sickness_classify AS sicknessClassify,
		e.grade AS grade,
		e.region AS region,
		e.create_time AS createTime
		FROM
			epidemic_situation AS e
		LEFT JOIN org_school_name AS n ON e.incident_unit=n.id
		WHERE
			1 = 1
	
	<if test="incidentUnit !=null and incidentUnit != '' ">
		AND n.school_full_name  LIKE CONCAT('%',#{incidentUnit},'%')
	</if>
	
	<if test="reportUnit != null and reportUnit != '' ">
		AND e.report_unit =#{reportUnit}
	</if>
	
	<if test="region != null and region != '' ">
		AND e.region =#{region}
	</if>
	
	<if test="sicknessClassify != null and sicknessClassify != '' ">
		AND e.sickness_classify =#{sicknessClassify}
	</if>
	
	ORDER BY e.create_time DESC
	</select>
    
    <select id="epidemicCountsGroupByUnit" resultType="com.paladin.qos.service.school.vo.OrgSchoolCountsGroupByNatureVO"
		parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
    	SELECT n.school_full_name name,count(1) value
    	FROM epidemic_situation t
    	inner join org_school s on t.incident_unit=s.parent_school_id
		LEFT JOIN org_school_name n ON t.incident_unit=n.id
		where 1=1
		<if test="schoolYear != null and schoolYear !='' ">
			AND t.school_year=#{schoolYear}
		</if>
		<if test="district != null and district !='' ">
			AND s.district=#{district}
		</if>
		<if test="sicknessClassify != null and sicknessClassify !='' ">
			AND t.sickness_classify =#{sicknessClassify}
		</if>
		GROUP BY t.incident_unit
    	ORDER BY value DESC
    </select>

    <select id="epidemicPeopleCountsGroupByUnit" resultType="com.paladin.qos.service.school.vo.OrgSchoolCountsGroupByNatureVO"
		parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
    	SELECT n.school_full_name name,sum(t.total) value
    	FROM epidemic_situation t
    	inner join org_school s on t.incident_unit=s.parent_school_id
		LEFT JOIN org_school_name n ON t.incident_unit=n.id
		where 1=1
		<if test="schoolYear != null and schoolYear !='' ">
			AND t.school_year=#{schoolYear}
		</if>
		<if test="district != null and district !='' ">
			AND s.district=#{district}
		</if>
		<if test="sicknessClassify != null and sicknessClassify !='' ">
			AND t.sickness_classify =#{sicknessClassify}
		</if>
		GROUP BY t.incident_unit
    	ORDER BY value DESC
    </select>

     <select id="dataTraceabilityRate" resultType="com.paladin.qos.service.epidemic.vo.DataEpidemicSituationVO">
	<!-- SELECT
		s.school_full_name as schoolName,
		TRUNCATE (
		(
		sum(
		is_early_warning_value = '1'
		AND is_reason_traceability = '1'
		) / count(1)
		) * 100,
		2
		) as rate
	FROM
		epidemic_situation AS e
	LEFT JOIN org_school_name AS s ON e.incident_unit = s.id
	where 1=1 -->
	
	SELECT
		s.school_full_name as schoolName,
		count(1) total,
		sum(is_early_warning_value = '1'AND is_reason_traceability = '1') as count
	FROM
		epidemic_situation AS e
	LEFT JOIN org_school_name AS s ON e.incident_unit = s.id
	where 1=1

	<if test="region !=null and region !='' ">
		and e.region =#{region}
	</if>

	<if test="schoolYear !=null and schoolYear !='' ">
		and e.school_year =#{schoolYear}
	</if>

	GROUP BY incident_unit;
    </select>
    
    <select id="queryEpidemicRatesByAffiliation" resultType="com.paladin.qos.service.school.vo.OrgSchoolEpidemicRateVO"
    	parameterType="com.paladin.qos.service.school.dto.OrgSchoolCountsQuery">
    	select t.affiliation AS grouping,
    		e.sickness_classify AS sicknessClassify,
    		t.parent_school_id AS schoolId,
    		p.id AS orgSchoolPeopleId,
    		p.total AS orgSchoolPeopleTotal,
    		e.grade AS incidentOrgSchoolPeopleId,
    		e.total AS incidentTotol,
    		t.total AS shcoolTotal
		from epidemic_situation e
		inner join org_school t on e.incident_unit=t.parent_school_id
		inner join org_school_people p on t.id=p.school_id
		where 1=1
		and t.affiliation in 
		<foreach collection ="affiliations" item="affiliation" index= "index" separator ="," open="(" close=")">
             #{affiliation}
        </foreach >
		<if test="schoolYear !=null and schoolYear !='' ">
			and e.school_year =#{schoolYear}
		</if>
		<if test="district !=null and district !='' ">
			and t.district =#{district}
		</if>
    </select>
    
    
</mapper>
